[2015-08-20 09:29] vvscode commented on #449
Please describe what do I need to do to fix this one for me?

[2015-08-20 20:13] hrfuller commented on #419
I am experiencing the same issue on Firefox:

Ember      : 1.13.8
Ember Data : 1.13.9
Ember-CLI:  1.13.8

Generally the only line in the view tree is the application route. A few routes in the app will cause a nested route to appear under the application route. Once there is anything nested under the application route switching routes in the app does not cause the view-tree *name* column to update

[2015-08-20 20:27] FutoRicky commented on #453
Same thing here:
[code]

[2015-08-21 17:47] knownasilya commented on #429
Also having this issue with ember-cli 1.13.8 and ember-browserify 1.0.3

[2015-08-21 17:55] pete-the-pete opened #455 "Filter Models [enhancement]"
i'd like to be able to filter models:
- hide empty models
- only show models used by the current route

I'm assuming hiding empty is an easier task.  I'm more than happy to do the work, but any tips on how to approach it are appreciated.

[2015-08-24 13:44] knownasilya commented on #161
Any way to help implement this?

[2015-08-24 13:46] maartenparmentier opened #456 "Error on deprecations stack trace"
While upgrading to a newer ember version I wanted to use the Deprecations tab.
In the tab I can see the deprecations but no stack trace is available. Also trace in the console is not working.

![screen shot 2015-08-24 at 15 45 59](https://cloud.githubusercontent.com/assets/7235537/9441570/3d41df08-4a77-11e5-8c20-466892852525.png)

While looking into this problem I found that I get a 404:

![screen

[2015-08-24 19:20] Frozenfire92 commented on #419
Still present in ember 1.13.9

[2015-08-25 14:53] maartenparmentier commented on #429
I'm also experiencing this problem *without* ember-browserify

[2015-08-25 14:56] #456 closed

[2015-08-25 15:11] knownasilya commented on #429
Try 1.0.5

[2015-08-25 15:29] maartenparmentier commented on #429
no luck after updating to 1.0.5.

[2015-08-26 07:22] shahroon commented on #449
@teddyzeenny  how to fix this?

[2015-08-27 02:13] JDillon522 commented on #419
Currently experiencing the same issue.

Ember Inspector - 1.9.0
Ember - 1.12.1
Ember Data - 1.0.0-beta.19.2
jQuery - 1.11.3
Ember Simple Auth - 0.8.0

While on the billing route:
![screen shot 2015-08-26 at 10 10 52 pm](https://cloud.githubusercontent.com/assets/4861202/9510994/9b23b226-4c3f-11e5-95bc-00388eff5641.png)

Confirming I am on the billing route:
![screen shot 2015-08-26 at 10 11 10 pm]

[2015-08-27 12:02] teddyzeenny commented on #283
Fixed by Facebook.

[2015-08-27 12:02] #283 closed

[2015-08-27 12:05] teddyzeenny commented on #453
Thanks for reporting this. Can you please post your library versions (The inspector "Info" tab) and if you're using ember-cli or not.

Can you reproduce this issue in a jsbin or a public repo?

[2015-08-27 12:19] teddyzeenny commented on #452
1. Thanks, good idea, will do that.
2. If I understand correctly you are suggesting that we send the promise's label along with the error? Maybe RSVP can pass the label as a second argument to the `on('error')` event? Though this is not something we can do in the inspector itself.

[2015-08-27 14:37] teddyzeenny commented on #455
Can you say more about what you mean by empty models? Model types that don't have any records in the store?

[2015-08-27 14:42] teddyzeenny commented on #449
This has been fixed but I haven't been able to release on Chrome yet due to a bug in the Chrome Web Store.

In the meantime you can:
- use [Firefox](http://guides.emberjs.com/v2.0.0/ember-inspector/installation/#toc_firefox)
- use the [bookmarklet](http://guides.emberjs.com/v2.0.0/ember-inspector/installation/#toc_bookmarklet)
- build [from source](https://github.com/emberjs/ember-inspector/blob/7

[2015-08-27 16:19] Leooo commented on #452
2. Yes that's right, adding the promise label as argument for on('error'). Indeed it would not be for Ember Inspector then, I suppose this would be more for the issue https://github.com/emberjs/ember.js/issues/11863

[2015-08-27 16:52] #453 closed

[2015-08-27 17:22] pete-the-pete commented on #455
Exactly.  Just a simple filter so that only models with records in the store are displayed.  I started looking into it a little, I think I could get something to play with early next week.

[2015-08-28 08:10] shahroon commented on #449
Yea, already started to use FF.

Thanks

[2015-08-28 08:35] teddyzeenny commented on #449
FYI the new version has been released on Chrome too.

[2015-08-28 09:24] vvscode commented on #455
Can you describe how can I filter models which used at current route? I want to help, but I can't find idea how to implement that filter. Thx

[2015-08-30 14:21] blimmer opened #459 "Attempting to inject an unknown injection: `service:globals`"
[code]

Happening while trying to transition to EmberJS 2.0.

[2015-08-30 17:50] teddyzeenny commented on #459
That happens when you open the Routes pane right? Is it possible you're injecting `service:globals` into one of your routes (when there's no `service:globals`)

[2015-08-31 13:07] teddyzeenny commented on #455
Can you clarify what you mean by "used at current route"? Has a record that is rendered in the template?  Has a record set as `currentModel` in an active route? Has a record inside an object/array `currentModel`?
Are you suggesting a filter for the "active" model classes or for the records themselves?

[2015-08-31 14:55] vvscode commented on #455
It was a quote from start message ```only show models used by the current route ```. So the question is for @pete-the-pete  I suppose

[2015-08-31 16:40] pete-the-pete commented on #455
I was suggesting the 'active' model classes, not necessarily the records themselves.  I was thinking something similar to the View Tree filter options.  So, yes to "Has a record set as currentModel in an active route? Has a record inside an object/array currentModel", but no to "Has a record that is rendered in the template?"

[2015-08-31 16:42] stefanpenner commented on #455
seems like this would be a better explored via the route explorer then no?

[2015-08-31 17:14] pete-the-pete commented on #455
My request is coming from personal experience; when I wanted to explore the data/models, the Data explorer of ember inspector is pretty noisy (we have too many models in our project).  I was thinking of how I could add some additional filtering within that tab to make exploring the models easier.

Adding something to the Route explorer is an interesting idea, I like that it would tie everything to

[2015-08-31 18:10] courthead opened #460 "Wrap text for deprecation warnings"
<img width="774" alt="screen shot 2015-08-31 at 11 07 50 am" src="https://cloud.githubusercontent.com/assets/148083/9586269/9ca318dc-4fd0-11e5-8d82-c173e3d70020.png">

Text for deprecation warnings should wrap, because as-is they get cut off, and it's difficult to read them.

[2015-09-01 02:15] blimmer commented on #459
I define my own `service:globals` - is it possible there's a namespace conflict?

[2015-09-01 06:58] vvscode commented on #455
@pete-the-pete  can you explain how can I filter models which are used by current scope of routes?

[2015-09-01 09:06] nightire opened #461 "A deprecation warning prevent app's reloading"
![2015-09-01 5 01 16](https://cloud.githubusercontent.com/assets/1104018/9600049/3f9258a0-50cb-11e5-9105-f0c77dec51a6.png)

As above shows, when using with canary version, this deprecation warning will show after ember inspector activated, but this will also prevent the whole application's reload process (ember cli's livereload or manually refresh in browser), just leave a blank page.

If you clos

[2015-09-01 10:50] teddyzeenny commented on #461
Thanks for the report. Looks like current Ember canary is not compatible with the inspector. I will look into it.

[2015-09-01 11:50] shahroon commented on #449
Perfect. (Y)

[2015-09-01 11:54] teddyzeenny commented on #455
@pete-the-pete would adding a model type search field help solve the problem of many models?

[2015-09-01 17:17] pete-the-pete commented on #455
@teddyzeenny it could.  The more I think about it, the more I think I'd want the Data explorer to have _relative_ parity with the View explorer, which would include search.  The View and Route explorers have the topbar with subnav/filter controls that make sense for that type of module, I'd like to have the data explorer have something similar.

@vvscode, I'm not sure yet, I'm starting to look int

[2015-09-02 12:58] teddyzeenny commented on #455
I'm not convinced yet with the "used by current route" feature yet as it is not very clear which models it really filters.

- Should we take relationships into account?
- What if a model is being used but not set as the route's currentModel? Why not include it?
- What if the model returned an object containing several models?
- What if the model returned an array that contains different models?
-

[2015-09-02 15:47] pete-the-pete commented on #455
@teddyzeenny, I agree the 'used by current route' needs more clarity.  How do you feel about the nonEmpty filter?  I started looking into that as its own feature, and to get familiar with the code.

If you're ok with that feature, maybe we could treat it as a first pass, and sort out what other enhancements to add as separate/follow up efforts; search, current route, showing the models in the Rout

[2015-09-02 15:52] vvscode commented on #455
@pete-the-pete 'Hide empty models' already merged into ( see above )

[2015-09-02 15:58] vvscode commented on #455
@pete-the-pete @teddyzeenny  What about adding search box to model-type topbar ( enter json and get filtered models with ```container.store.all(modelType).filter(.... )``` ) ?

[2015-09-02 16:23] pete-the-pete commented on #455
Ha, I should have been watching the PRs too...oh, well, I got some more exposure to the code.

@vvscode search could be good.  My project has *way too many* models, so search could help a developer get exposed to the many different types much easier than browsing.  I also like that it makes the different explorers (Data, Routes, Views) consistent.  @teddyzeenny what do you think?

@vvscode let me

[2015-09-02 16:30] pete-the-pete commented on #455
the filter works great by the way, thanks for getting that in

[2015-09-02 17:58] camoore1979 opened #462 ""Ember Inspector has errored." - Failed to execute 'setEndBefore' and 'setStartAfter'"
I am using the Ember Inspector for resolving deprecations as I upgrade my app. I am getting a warning stating, "Ember Inspector has errored. This is likely a bug in the inspector itself." And there are two specific errors:

"Error message: Failed to execute 'setEndBefore' on 'Range': parameter 1 is not of type 'Node'.

"Error message: Failed to execute 'setStartAfter' on 'Range': parameter 1 is no

[2015-09-02 20:39] Gaurav0 opened #463 "Getting error in console when using Ember Inspector: Uncaught TypeError: Cannot set property 'emberExtension' of undefined"
Stacktrace:

Uncaught TypeError: Cannot set property 'emberExtension' of undefined
(anonymous function) @ content-script.js:29
(anonymous function) @ content-script.js:64

The line 29 is as follows:
document.documentElement.dataset.emberExtension = 1;

While pausing at the error using Chrome debugger,
document.documentElement is
&lt;svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="Layer_1"

[2015-09-03 11:23] teddyzeenny commented on #463
Can you help me reproduce the case where `documentElement.dataset` is `undefined`?

[2015-09-03 14:07] Gaurav0 commented on #463
I am getting this error in Chrome 45 with Ember Inspector 1.9.1 with &lt;svg xmlns&gt;  elements on the page.

[2015-09-04 01:13] pete-the-pete commented on #378
@teddyzeenny I'd like to help with this, it would be a good way to get to know the code.

[2015-09-07 11:13] devgru commented on #463
Seems like SVG elements have no dataset since Chrome 45 (tried on both Mac OS and Windows).

[2015-09-09 11:32] amk221 opened #464 "Data tab doesn't remove records"
When removing a record, the count goes down in the inspector, but the deleted record is still displayed.
https://youtu.be/pKzPLWjFMn8

Inspector: 1.9.1
Ember     : 2.0.2
Ember Data : 2.0.0-beta.2
jQuery     : 2.1.4

[2015-09-09 12:58] JDillon522 commented on #419
Has anyone tinkered with this at all? I'm also using liquid-fire and all the liquid-fire components show up when I click on the components box, but none of my controllers / routes

[2015-09-09 13:01] JDillon522 commented on #419
Confirmed that this also happens in firefox for me as well

[2015-09-09 18:25] chadhietala opened #465 "[IDEA] Component Hierarchy Tab"
Not sure if this has been discussed, but I think it would be very useful for the inspector to have a tab for component structure similar to how the [react-dev-tools](https://github.com/facebook/react-devtools) work. Basically if we could reflect the components and how their `attrs` and local state changes it would be really cool.

[2015-09-14 03:09] aceofspades commented on #364
@teddyzeenny Search would be great also, but I think a flat list of all attributes is way more useful than what there is now.

[2015-09-14 03:13] aceofspades opened #466 "Can't see any components in view tree"
I get `Uncaught DataCloneError: Failed to execute 'postMessage' on 'MessagePort': An object could not be cloned.` whenever I check the components box.

Not sure how to dig in deeper. Is there any help online for a workflow to debug the inspector for someone new to chrome addons? Also having trouble narrowing things down in the codebase without being able to step debug, if that's even possible.

[2015-09-16 22:48] ef4 opened #468 "object is not extensible"
ember-inspector calls `guidFor` on streams. `guidFor` is implemented by sticking a `meta` on the object.

But on current canary in development mode, streams are sealed objects. This results in exceptions like `Uncaught TypeError: Cannot define property:__ember1442443003034, object is not extensible.`

[2015-09-17 04:07] rwjblue commented on #468
We should ensure that they are setup with a meta in the constructor of BasicStream in metal/streams/stream

[2015-09-17 05:10] ef4 commented on #468
Yeah, though we can avoid allocating all those unused meta objects and just do `this.__ember_meta__ = null` to create the slot.

[2015-09-21 15:37] rvfischione commented on #465
I thought this was accessible through the "view tree" tab? I usually check the "components" box, then click on the component name, and all of the attributes show up on the right.

[2015-09-22 06:54] NikkiDreams commented on #466
I am seeing this too. I am developing off the canary branch. Using Chrome on Mac.
DEBUG: Ember  : 2.2.0-canary+8c892318
ember.debug.js:5224 DEBUG: Ember Data : 2.2.0-canary
ember.debug.js:5224 DEBUG: jQuery     : 2.1.4

However I have tried the inspector against the 2.x releases and the same problems exist. Form me nothing is displayed in the View Tree. And when I switch over to the Data tree it c

[2015-09-22 08:07] Bernhard---H opened #471 "Firefox add-on needs 'unsafe-eval' in CSP header"
The Firefox version is not able to detect Ember application if the server sends the Content Security Policy header without `'unsafe-eval'` in the `script-src` directive.

In the Console I get this Security-Error:

[code]

the path of content-script.js seems to be:

[code]

and the CSP report Firefox sends to my server:

[code]

I also get a Logging-Error (that’s probably caused by the first error)

[2015-09-23 19:29] anujku commented on #451
+1

[2015-09-24 10:40] sevab commented on #464
Same behavior. Unloading all records updates the model counter, but the records are still shown in the list. The list is only refreshed after switching tabs back and forth.

[2015-09-24 19:12] aceofspades commented on #466
I found the cause of my issue.

I had components where I was setting a tagName to a computed property, which is invalid since it must be set before the element is created.

`{{my-component tagName=myTagNameProperty"}}`

[2015-09-28 08:36] teddyzeenny commented on #464
Looks like it's an issue with Ember Data > 2.0. @sevab which ED version are you on?

[2015-09-29 13:19] cedricziel opened #474 "Cannot inspect data"
The data inspector tab doesnt open.
There's no sign of life (no error in the background inspection).

[code]

[2015-09-29 13:22] cedricziel commented on #474
Stupid me.

The inspector echoed a deprecation-style warning for one of my models. Nevermind :)

[2015-09-29 13:22] #474 closed

[2015-09-30 00:43] maheshsenni commented on #460
Possible duplicate of #451

[2015-09-30 14:25] rwjblue commented on #468
Will be addressed by https://github.com/emberjs/ember.js/pull/12411 upstream.

[2015-09-30 18:26] #468 closed

[2015-10-01 13:33] #463 closed

[2015-10-05 17:56] benjaminbalazs opened #478 "2.1.0 doesn't run if Inspector is on"
Getting a deprecation message and my app stays blank.

The `initialize` method for Application initializer 'ember-inspector-booted' should take only one argument...

I tried to uninstall and install Ember Inspector, but didn't help.

[2015-10-05 18:00] rwjblue commented on #478
https://github.com/emberjs/ember-inspector/pull/476 fixed the deprecation, we are going to shoot for a new release soon (hopefully a day or two).

Deprecations do not generally prevent apps from booting. Perhaps you have `Ember.ENV.RAISE_ON_DEPRECATION` set?  If not, can you share a reproduction?

[2015-10-05 20:56] IsaiahJTurner opened #479 "Data Does Not Populate When "serialize" Is False"
I use the `serialize` property to prevent certain properties from being sent to the server. Ember Inspector seems to show the data as `undefined` when `serialize` is `false`.
import DS from 'ember-data';
For example:

[code]

I can use `createdAt` in my code and the property is there but within Ember Inspector I see
<img width="181" alt="screen shot 2015-10-05 at 4 55 34 pm" src="https://cloud.git

[2015-10-05 22:03] benjaminbalazs commented on #478
Made a 20 sec screencast.
https://www.dropbox.com/s/r9pkami32jyhjrm/Google%20Chrome.mov?dl=0

It happens even if I add
Ember.RAISE_ON_DEPRECATION = false;
Ember.LOG_STACKTRACE_ON_DEPRECATION = false;
to app.js

[2015-10-05 22:14] FilmKnurd commented on #478
This happens for me as well. However, If I load the app while the Chrome Dev Tools are **closed**, then open the dev tools, refreshing works.

[2015-10-05 22:16] FilmKnurd commented on #478
This is probably the same problem in #461

[2015-10-05 22:24] rwjblue commented on #478
Yep, seems like the same thing reported there.

Also the same issue as https://github.com/emberjs/ember.js/issues/12439.

[2015-10-06 05:27] locks opened #480 "[Feature Request] CRUD operations for Data models"
As discussed on Slack, it would be interesting to have a way to perform the CRUD operations through Ember Inspector's interface.

My suggestion for the operations:
* Create - a button in the Data panel, it would open in the Object Inspector. Then you'd save it;
* Read - currently you can filter cached records, but not request new ones through the interface, something in the Data would address this

[2015-10-06 15:32] James1x0 commented on #461
+1

[2015-10-07 12:42] #461 closed

[2015-10-07 12:42] #478 closed

[2015-10-07 12:43] lolmaus commented on #461
THANK YOU! O_O

[2015-10-07 16:50] pete-the-pete commented on #455
I've been thinking about how to define this better, and have come up with the following:

## ModelTypes for Current Route:
Add an option to filter models used by the current route (similar to View Tree filter), similar to the new 'Hide Empty Models' filter.

The 'non empty' filter should apply to the routes filtered for the current model. This is tricky
for a couple reasons, at least 3 are:

1. Ro

[2015-10-09 21:12] marnen commented on #429
Same issue here, FWIW.

[2015-10-12 15:00] maartenparmentier commented on #429
For us it worked by deleting browserify. Installed it back after update.

[2015-10-12 19:37] marnen commented on #429
@maartenparmentier Did you delete browserify, ember-browserify, or both?

[2015-10-13 07:21] maartenparmentier commented on #429
@marnen ember-browserify

[2015-10-22 11:35] lolmaus opened #487 "Records of hasMany relationships are exposed as plain text and are not navigable in the inspector"
In the Inspector, I open a record A that has many Bs.

I would like to see a list of related Bs. For that, I click the relationship:

![Imgur](http://i.imgur.com/65RZL8t.png)

and see this:

![Imgur](http://i.imgur.com/c1X2RFL.png)

In order to access the records under the relationship, I click `currentState` and see this:

![Imgur](http://i.imgur.com/SORBeps.png)

The problem is that the records

[2015-10-22 12:20] Patsy-issa commented on #487
If you want to interact with the record (get, set, etc) you can press the `$E` button next to the record to have the inspector output it to the console.

Unless you mean something else by navigate them.

[2015-10-22 12:22] lolmaus commented on #487
I mean open that record in the inspector's GUI, not in console.

[2015-10-22 12:32] teddyzeenny commented on #487
@lolmaus good point. It seems that maybe ED now stores internal models (instead of actual models) inside the `ManyArray`? Anyway, the reason why you can't click on the models is because they are not Ember objects and to get the actual model you need to call `.getRecord()` on each of them.

My first thought is you can probably do the following:

- Send `answerOccurences` (the `ManyArray`) to the co

[2015-10-22 16:27] trek opened #488 "Inspector still occasionally showing Globals"
[code]

[code]

Inspector is 1.9.3

![popular pays swap dashboard 2015-10-22 11-23-13](https://cloud.githubusercontent.com/assets/9736/10671324/a9cbb2d2-78af-11e5-8a23-43794c864054.png)

[2015-10-23 12:51] teddyzeenny commented on #488
My first thought would be it's not detecting the ember-cli config. Have you disabled the config meta tag by any chance (`storeConfigInMeta: false`)?

[2015-10-28 17:26] efx commented on #429
seeing this issue as well. I tried updating ember-browserify to 1.1.1 but did not see an improvement.
My project's config:
[code]
@teddyzeenny I was able to verify that the `sourceMappingURL` being passed to `retrieveFile` is a data URI. In my case it was a npm package I am importing to my app via
`import _ from 'npm:lodash'`

[2015-10-29 15:13] meirish commented on #180
I'd love to help with this, but don't have any knowledge of the codebase. Would you be willing to give an outline of how you see it working / list of things that would need to be done and then I could take a pass at it?

[2015-10-30 12:17] teddyzeenny commented on #377
Done in https://github.com/emberjs/ember-inspector/pull/387

[2015-10-30 12:17] #377 closed

[2015-11-05 09:34] oriSomething opened #489 "it seems serializers are missing from the container page"
:arrow_up: as in title:
it seems serializers are missing from the container page, but they do seems to exist in the container when i pull them manually

[code]

[2015-11-07 13:41] IgorKvasn opened #490 "[FEATURE REQUEST] Find component by ID in Tree View"
It would be nice to be able to find a component in "View Tree" by its HTML ID (elementId).

Nowadays, you can inspect a component by clicking on an HTML element and an appropriate component will be selected in the "View Tree" panel. However when you have a nested components this feature is hard to use (e.g. when you want to inspect a top-level component, current inspect feature keeps selecting the

[2015-11-09 16:31] teddyzeenny commented on #489
Serializers and adapters are [not singletons](https://github.com/emberjs/data/blob/04a17413428b738880c35de5725cea0e330b6e3b/packages/ember-data/lib/initializers/store.js#L26-L27) so they're not cached. When you lookup them up through the container you actually create a new instance each time.

[2015-11-09 16:33] oriSomething commented on #489
hey, thanks!

[2015-11-09 16:33] #489 closed

[2015-11-11 14:06] mxrguspxrt opened #492 "Help with detecting errors"
Ember-Cli in development mode gives me error to Chrome console:

[code]

That is kind of fun error to find when you have hundreds of views and components.

Perhaps ember-inspector could help with thesekind of errors?

[2015-11-11 22:05] yagni opened #493 "Deprecations detected, but can't view them"
Using version 1.9.3 in Chrome or Firefox, when I load my site, the deprecations in the sidebar has a nonzero number next to it, but when I click on it, the main pane says "No deprecations have been detected. Try reloading to catch the deprecations that were logged before you opened the inspector.". This happens even when I already have the Inspector open while loading my page.

[2015-11-17 19:18] SaladFork opened #494 "View Tree tab doesn't work with Ember 2.2.0"
Using Ember 2.2.0 results in the View Tree tab only showing the application row. Checking Components will only show components in the application template.

Everything seems fine with the previous version, Ember 2.1.1. I'm unsure if this is an issue with Ember or Ember Inspector.

[2015-11-18 00:31] adambuczynski commented on #135
It seems this issue is still impacting us. Anything I can do to check what's happening?

The command listed above triggers an error:
[code]

VM25018:2 Uncaught TypeError: Cannot read property 'viewDebug' of undefined(…)

[2015-11-18 10:29] BenjaminHorn opened #495 "Data shows inconsistent record numbers."
My route creates a new records on visit, and on transitions deletes it.

![store](https://cloud.githubusercontent.com/assets/5570232/11238599/07eb4a70-8de7-11e5-9af1-72f6b46e4a66.jpg)

But as u can see under model types (4) does not the same record number as in the list. Now if I leave the route, the record will be removed (count goes down to (3)), but in the list the green record becomes black, a

[2015-11-18 14:41] teddyzeenny commented on #495
Thanks for reporting this. It's obviously a bug (in the inspector or in Ember Data). Can you post a screenshot of your "Info" pane in the inspector? Also which ember-cli version are you using?

[2015-11-18 14:52] #494 closed

[2015-11-19 16:15] BenjaminHorn commented on #495
Ember Inspector 1.9.3
Ember 2.2.0
Ember Data 2.1.0
jQuery 1.11.3
Ember CLI version: 1.13.8

[2015-11-21 13:36] mrloop commented on #471
Think I'm seeing the same security-error if Firefox, no issue in Chrome.

[code]

[2015-11-23 09:38] vmalloc opened #498 "Release new version to support Ember 2.2.0"
For anyone not installing from the repository, ember-inspector is now broken on the latest Ember. It would be nice to get a new release to support it.

Thanks!

[2015-11-23 14:26] rwjblue commented on #498
Seems like a good idea to me also, @teddyzeenny any objections?

[2015-11-23 14:28] teddyzeenny commented on #498
No objections. Was just waiting a bit for the obvious bugs to show up.

[2015-11-24 14:55] trek commented on #488
Ah, yes we have. The index is generated by a Rails application (some of the chrome comes from Rails, so we have to embed until we've fully extracted the app).

[2015-11-24 16:46] teddyzeenny commented on #498
https://github.com/emberjs/ember-inspector/releases/tag/v1.9.4

[2015-11-24 16:46] #498 closed

[2015-11-24 18:35] vmalloc commented on #498
Awesome! Thanks!
On יום ג׳, 24 בנוב׳ 2015 at 18:46 Teddy Zeenny <notifications@github.com>
wrote:

[2015-12-07 23:47] samselikoff opened #501 "Trace in the console not working"
I'm on Ember Inspector 1.9.4, and clicking "Trace in the console" doesn't seem to be working.

![demo](https://cloud.githubusercontent.com/assets/2922250/11643586/e6a87852-9d12-11e5-9f9a-494e28a27ed0.gif)

Any ideas on how to debug?

[2015-12-08 05:08] teddyzeenny commented on #501
Hey @samselikoff. What's your setup/versions?

[2015-12-08 15:36] samselikoff commented on #501
Ember Inspector: 1.9.4
Ember: 1.13.11
Ember Data: 1.13.15
jQuery: 1.11.3
TedEdLessonCreator: 0.0.0+485effb7

Chrome: Version 47.0.2526.73 (64-bit)

[2015-12-09 10:21] jcbvm commented on #464
Same issue here. Overview of records does not reload/update when unloading records.

ember 2.1.0
ember-data 2.1.0
ember-inspector 1.9.4

(only tested in chrome)

[2015-12-10 01:23] formigarafa commented on #419
I created a almost empty project and I run it via both: ember-cli and ember-rails
both using ember 1.13
the ember-cli one works fine, but the ember rails one does not display the correct view tree.

[2015-12-11 00:48] formigarafa commented on #419
digging a little in the inspector code, I found that templates compiled with ember-rails does not include the attribute `meta.moduleName` so the templates cannot be inferred.

here:
https://github.com/emberjs/ember-inspector/blob/master/ember_debug/view-debug.js#L829

[2015-12-11 09:06] nightire commented on #419
I can confirm one of the reason is ember-liquid-fire, or other addons relied on it, more importantly, a `.xxx-liquid-xxx` div that rendered before the the first `.ember-view` of ember application.

I found that if you drag the `.xxx-liquid-xxx` (sorry I've forgot the class name because it has been removed now) element down to the first `.ember-view` (chrome dev tool can let you do that), then the

[2015-12-12 02:09] formigarafa commented on #419
Now I have just made another test to confirm.
I created a ember app with ember cli.
worked as expected (because it includes template name in a meta object with compiled templates).
[code]

Then I manually removed that `moduleName` entry from meta in the compiled template.
Now, the app still runs fine. But the view tree inspector only displays the Application with `(inline)` as template and I get n

[2015-12-13 22:41] formigarafa commented on #419
I have changed the template compilation process for ember-rails with the changes above, and now the view tree inspector works fine with ember 1.13.

When the compilation happens using HTMLBars.compile I added an extra parameter to include the mentioned `meta.moduleName` with template name.

To do so, barber needs to accept compilation options (tchak/barber#53) and ember-handlebars-template need to

[2015-12-15 18:09] tricknotes commented on #419
Now I released a [ember-handlebars-template@0.6.0](https://rubygems.org/gems/ember-handlebars-template/versions/0.6.0) thanks to @formigarafa .
It works fine to me.

Could someone try it?

[2015-12-17 16:30] Panman8201 opened #502 "Routes tab, hide substates checkbox"
The "/# Routes" tab can be quite overwhelming with all the different substates shown. I propose adding a checkbox next to the existing "Current Route only" checkbox titled something like "Hide substate routes". When checked, all the "loading" and "error" (maybe even "index") substates would be hidden, leaving just the routes you defined in the Router.

As for the "index" route, could that somehow

[2015-12-17 16:40] teddyzeenny commented on #502
+1 on hiding the substates. I think we should keep the index routes though because even if nothing is defined, you could still be in the index route.

[2015-12-17 19:06] Panman8201 commented on #502
I see your point, and actually it looks like Ember Inspector doesn't show "index" routes for those without child routes anyway. So nothing would need to be changed there. So yeah, just hide the "loading" and "error" substates.

And just a point of clarification. would the substates include both [dot and underscore versions](https://guides.emberjs.com/v2.2.0/routing/loading-and-error-substates/#toc

[2015-12-17 21:12] teddyzeenny commented on #502
Yes I suppose it should include both.

[2015-12-18 14:42] adam-knights opened #503 "Properties with more than one camel letter display weird in data view heading"
I have a model with property isRenameableInPO. In the heading it displays as 'Is renameable_in_po', when it should be 'Is renameable in po'. Screenshot attached:

![image](https://cloud.githubusercontent.com/assets/12710362/11899238/86343c78-a595-11e5-8a72-0b8a967c149b.png)

A single camel case name works fine i.e communicationData displays correctly as 'Communication data'.

[2015-12-18 15:27] teddyzeenny commented on #503
Thanks for reporting it :+1:

[2015-12-18 15:29] teddyzeenny commented on #503
The solution is in ember-data repo.

[This line](https://github.com/emberjs/data/blob/4b025cedaa25d72b34c5b9c7c6920eeb89f36003/addon/-private/system/debug/debug-adapter.js#L41) should be replaced with:

[code]

[2015-12-21 13:36] adam-knights commented on #503
Thanks for that @teddyzeenny - so do you mean I need to report this against ember data?

[2016-01-02 17:32] H3Chief commented on #493
+1

[2016-01-05 21:45] cafreeman commented on #451
Any new developments on this? Just started using Ember Inspector and ran into this issue fairly quickly. Can't scroll horizontally on any of the panes :(

[2016-01-08 08:09] vvscode commented on #492
@mxrguspxrt  did you find solutions?

[2016-01-08 09:28] pogopaule opened #506 "TypeError: Cannot read property 'getState' of undefined"
I updated my Ember app from 1.13.11 to 2.3.0-beta.3. If I open the Ember inspector (1.9.4) and navigate around, the following error is thrown:

[code]

Unfortunately I can't isolate the error any further.

[2016-01-08 13:11] mxrguspxrt commented on #492
Yes. It was caused bacause error in syntax of template. Found & Fixed.

The main issue is that if you have 100 components with templates, is does not say in which one the error is.

Please improve the error message.

[2016-01-08 13:16] sandstrom commented on #471
+1 I'm seeing the same issue

[2016-01-09 09:31] mapohjola commented on #285
Is there any progress on dynamic models being visible in the data tab?

[2016-01-12 10:43] Norjin opened #507 "Error message: Cannot read property 'extend' of undefined"
chrome dev tool shows this error after I upgrade ember to 2.3.0-beta.3 and ember-data to  2.3.0-beta.5
Ember Inspector has errored.
This is likely a bug in the inspector itself.
You can report bugs at https://github.com/emberjs/ember-inspector.
Error message: Cannot read property 'extend' of undefined
Stack trace: TypeError: Cannot read property 'extend' of undefined
    at Module.callback (http:/

[2016-01-12 12:47] ecksun opened #508 "Ember inspector does not respect firefox developer tools theme"
Ember inspector is very difficult to use with the dark theme of the firefox developer tools (which is the default in firefox developer edition).

What I had most issues with was inspecting attributes of a model, since the text is black on a very dark background.

Im using firefox developer edition 45.0a2 (2016-01-12).

Steps to reproduce:
1. Open developer tools
2. Select toolbox options
3. Select

[2016-01-12 20:05] devinrhode2 opened #509 "Feature: Add in localhost:4200 to Access-Control-Allow-Origin header onHeadersRecieved"
I'm developing a chrome extension that integrates directly with an ember app. My api server's origin is some development machine on amazon. In my extension background page I force-add `http://localhost:4200` into the `Access-Control-Allow-Origin` header for responses from the dev server with the following code:

[code]

Upon consideration of what to do when it comes time to deploy production, I re

[2016-01-13 14:34] DoctypeRosenthal commented on #464
Same here.
Ember      : 2.2.0
Ember Data : 2.2.1

Firefox: 43.0.4, Win 8

[2016-01-13 20:56] phcoliveira commented on #506
I am also experiencing the exact same problem. Are you using Liquid Fire for replacing smoothly a component inside `liquid-bind`? To be sure:

[code]

[2016-01-13 21:14] pogopaule commented on #506
@phcoliveira No I don't use `liquid-bind`.

[2016-01-16 22:37] mitchlloyd commented on #506
This issue is being addressed in this PR: https://github.com/emberjs/ember-inspector/pull/504

[2016-01-18 18:59] jchonc commented on #507
Got the same error but on 2.2.0 (both Ember and Ember-Data).  I have polymorphic models, not sure if it's related.

[2016-01-19 20:31] nselikoff commented on #493
+1

[2016-01-22 06:45] trcarden commented on #464
Seeing this issue as well. Pretty confusing to see multiple records that you don't expect in the explorer when debugging. It should certainly clear itself out when new data arrives so the developer can get an accurate picture of the state of the app.

[2016-01-25 13:28] eibrahim commented on #506
I am having the same issue.  is there a workaround for this while we wait for the PR to be merged?

[2016-01-25 18:15] eibrahim commented on #506
fyi: my coworker ran the app in incognito mode and no console errors showed up so I think it has to do with the ember inspector chrome extension.  I also noticed that these errors didn't effect app functionality and everything in my app seemed to work just fine.

[2016-01-27 22:54] sandstrom commented on #471
@teddyzeenny I've asked on IRC (#extdev) about this issue. I was told that if running eval using Xray Vision there shouldn't be any CSP-warning. I don't know much about Firefox addons, so it's hard for me to confirm.

Do you know if you are using Xray Vision?

https://developer.mozilla.org/en-US/docs/Xray_vision

[2016-01-29 15:24] BryanHunt opened #511 "Add support for electron"
Now that [ember-electron](https://github.com/felixrieseberg/ember-electron) makes it trivial to develop native Ember applications, it would be nice to have the inspector available during development.

[2016-01-29 15:29] rwjblue commented on #511
Hmm.  I think it should be possible with the remote inspector work that has already been done.  Have you tried that?

[2016-01-29 15:31] rwjblue commented on #511
Whoops, I noticed there is no details in the README about the remote inspector work. Take a look at https://github.com/joostdevries/ember-cli-remote-inspector for more details.

If you find that that works, would you mind adding something to the README?

[2016-02-01 16:12] skiner68 commented on #508
+1 on this....

[2016-02-01 16:58] #506 closed

[2016-02-01 16:59] rwjblue opened #513 "Release for Ember 2.3.0."
@teddyzeenny - Can we push out a new release with the fixes from #510?

[2016-02-02 14:23] flpms opened #514 "emberData.default.atrr is not a function"
Follow the log for a bug with ember-inspector.

[code]

[2016-02-03 10:38] orf commented on #513
I hate to +1 one this but... +1. Ember inspector has been broken for a while now with 2.3.0 and the fix seems pretty trivial.

[2016-02-03 10:46] sly7-7 commented on #513
@orf, just let some time, @teddyzeenny has already open this new release: https://github.com/emberjs/ember-inspector/pull/516
There is no doubt he will publish as soon as he can.

[2016-02-03 18:01] teddyzeenny opened #518 "Publish to Firefox after changing addon build task"
Firefox 44+ no longer accepts addons built with cfx (which is our case). We need to build using jpm now.

https://github.com/rpl/grunt-mozilla-addon-sdk/issues/26

[2016-02-03 18:08] teddyzeenny commented on #513
@orf if you're using Chrome or the bookmarklet the new version is published (1.9.5)

[2016-02-08 15:23] #518 closed

[2016-02-08 16:10] camskene opened #520 "Resizable table headers"
Inside the developer tools it's possible to resize the table headers in the network tab. The same functionality would be nice to have inside the ember inspector.

![out](https://cloud.githubusercontent.com/assets/507499/12890893/9f350cd4-ce53-11e5-901a-e41d16b58dcd.gif)

[2016-02-08 16:12] camskene commented on #520
I will work on this if there's enough interest. A few people I asked agreed this would be useful to them.

[2016-02-09 09:14] sly7-7 commented on #513
@rwjblue I think this could be closed now :)

[2016-02-09 11:41] #513 closed

[2016-02-09 11:42] rwjblue commented on #513
Thanks for reminding me!

[2016-02-12 22:56] mgallag commented on #520
This would be very useful. Right now the only way to read long paths / filenames is to stretch the browser window open across multiple monitors.

[2016-02-13 00:37] felixrieseberg commented on #511
I know I just said two days ago that I wouldn't be able to support it - but as it turns out, I was able to integrate with the ember-inspector's websocket implementation. Pull down :sparkles: ember-electron 0.5.0 :sparkles: and you'll get a working Ember Inspector ;-)

[2016-02-25 06:33] NikkiDreams opened #521 "Error message: (intermediate value).property is not a function"
I get this error just when clicking on Data in the left column.
ln the other items seem to function correctly.

This is the line of code from the model referred to in the from the stacktrace:
at Module.callback (http://nix.apps.5movez.com/access/assets/access-workout.js:11681:8)

[code]

[code]

[2016-02-25 13:59] jpserrett commented on #487
This is still an issue for me. All relationships show up this way for me.
![screen shot 2016-02-24 at 8 04 12 am](https://cloud.githubusercontent.com/assets/13526446/13321588/83c7d02c-db95-11e5-9564-a0e4a99c8f43.png)

Also, when I look at the relationship, it defines it as an 'unknown mixin'.
![screen shot 2016-02-24 at 8 12 24 am](https://cloud.githubusercontent.com/assets/13526446/13321612/a3baa

[2016-02-26 14:55] teddyzeenny commented on #487
My above comment explains the problem (and a temporary work around). The issue you are describing is definitely a known issue since this is what this open ticket is about - unless you mean other issues that you didn't mention or I don't understand your question?

Even though I would like to get this fixed, it is not technically a bug. Since relationships in ED are no longer stored as Ember objects

[2016-02-26 14:58] jpserrett commented on #487
Thanks for the response. I was unaware of that specific change to ED, which makes all of this make complete sense now. My main concern was the possibility that we were doing something wrong within our app that caused it to show this way. So good to know its not an issue with our code.
While a minor inconvenience, at least there is a way to work with the inspector still.
Thanks again.

[2016-02-27 17:22] DevGuy128 opened #522 "Ember Using Parent Route"
I am creating an app that lets users answer and create polls. I have 4 pages, an index, polls listing, single poll page, and a results for the single poll. Here is my router code:

`Router.map(function() {
  this.route('polls', function() {
    this.route('poll',{ path:':poll_id' },function(){
      this.route('results');
    });
  });
});`

The results page is displaying the poll template, instea

[2016-02-29 20:03] nikolas commented on #521
I got a similar error on https://travis-ci.org, using version 1.9.5 of the inspector on Chromium.

[code]

[2016-03-01 11:28] sly7-7 commented on #522
Hi, could you reproduce it in ember-twiddle, it will be easier for us to help: https://ember-twiddle.com/ ?
Also not sure if this issue belongs to the inspector repo.

[2016-03-01 14:23] DevGuy128 commented on #522
Yes, I accidentally put it in the inspector category.

On Tue, Mar 1, 2016 at 6:28 AM, Sylvain MINA <notifications@github.com>
wrote:

--
Visit my blog:http://homeschoolson.com

[2016-03-01 15:38] sly7-7 commented on #522
No problem, simply close this issue then :)

[2016-03-01 16:17] lolmaus commented on #419
I also experience this issue caused by Liquid Fire. I confirm that dragging the liquid div below the application div as @nightire suggests is a valid workaround.

Can you please fix this?

[2016-03-04 06:14] lnaravindan commented on #285
Can you please update the status on this issue?

[2016-03-04 19:47] ericestes commented on #451
+1

[2016-03-08 19:02] cristianounix opened #523 "Erro when i click ViewTree and any Controller."
Ember Inspector has errored.
This is likely a bug in the inspector itself.
You can report bugs at https://github.com/emberjs/ember-inspector.
Error message: inspect is not defined
Stack trace: ReferenceError: inspect is not defined
    at inspectElement (<anonymous>:300:7)
    at inspectElement (<anonymous>:3640:29)
    at inspectElement (<anonymous>:3552:14)
    at Object.apply (http://app/assets

[2016-03-09 12:46] gkaran opened #524 "Ember inspector does not play nice with chrome dev tools dark theme"
Since Chrome version 29 the option for using a dark theme in developer tools has been added.

When having it enabled and opening ember inspector the following issues appear:
- Theme is not respected (this is not that bad but just mentioning it)
- The attributes panel colouring makes it really hard to read.
- In render performance when no metrics have been acquired the text saying that is hard to r

[2016-03-17 18:19] wycats commented on #200
Can we use mutation observers to detect new iframes?

[2016-03-23 17:31] kulbida opened #525 "EmberJs Inspector crashes"
### Here is an error message I received, it happened when I tried to open Data tab.

===

The connection to ws://localhost:49152/livereload was interrupted while the page was loading. livereload.js:74:0
Content Security Policy: The page's settings observed the loading of a resource at self ("script-src http://localhost:4200 'unsafe-eval' http://localhost:49152 http://0.0.0.0:49152"). A CSP report

[2016-03-24 13:31] teddyzeenny commented on #525
Is it possible your are using `DS.store` instead of `DS.Store` in your app?

[2016-03-27 18:09] teddyzeenny commented on #523
Can you reproduce this in an online app or jsbin?

[2016-03-28 12:42] #522 closed

[2016-03-29 03:40] rinoldsimon opened #528 "Routes not loading"
Routes not loading with Macbook pro, chrome browser

[2016-03-29 08:28] teddyzeenny commented on #528
Can you post a screenshot of the "info" tab? Also if you can reproduce this in a jsbin, online app, or public repo we can solve it faster.

[2016-03-29 11:03] rinoldsimon commented on #528
worked when i closed and reopened the browser

[2016-03-29 11:03] #528 closed

[2016-03-30 09:31] RyanNerd commented on #507
[code]
Same thing:

[2016-03-30 10:17] teddyzeenny commented on #507
Can you post a screenshot of the "Info" tab?

[2016-04-04 07:26] Maruboinasuresh opened #529 "Ember Inspector has errored - version(1.9.5)"
DEBUG: -------------------------------
ember.debug.js:6395 DEBUG: Ember      : 2.4.4
ember.debug.js:6395 DEBUG: Ember Data : 2.4.3
ember.debug.js:6395 DEBUG: jQuery     : 1.11.3
ember.debug.js:6395DEBUG: -------------------------------
VM161:87 Ember Inspector Active

Ember Inspector has errored.
This is likely a bug in the inspector itself.
You can report bugs at https://github.com/emberjs/ember-

[2016-04-04 08:10] teddyzeenny commented on #529
You have a typo in your model file. Replace `belognsTo` with `belongsTo` :)

[2016-04-04 08:10] #529 closed

[2016-04-04 12:04] kemenaran opened #530 "After a page reload, the opened source-mapped file is not persisted in Firefox Debugger tab"
Steps to reproduce:
1. Open Firefox, and go to http://captaintrain.github.io/stations-studio with the Ember-Inspector enabled
2. Open the Developers Tools, and switch to the Debugger tab
3. Open any sourcemap-defined script (like `src/geocoder.js`)
4. Reload the web page

Actual results:
The Debugger tab is now open on ember-inspectors's `content-script.js` file.

Expected results:
The Debugger ta

[2016-04-05 05:43] Maruboinasuresh commented on #529
Great thank you :)

[2016-04-07 14:34] Maruboinasuresh opened #531 "Cutom Adpter updateRecord unable to update ember model"
How to get promise through updateRecord into controller.

**Example:**
var question = this.store.adapterFor('component').updateRecord('component', {
          message: this.get('message'),
          id  : this.get('id')
      });
      question.then(function(data) {
      console.log('RESPONSE",data);
     });

Here console.log printed but ember data model not updated, please suggest how to get pr

[2016-04-07 15:00] teddyzeenny commented on #531
I don't fully understand the question. How is it related to the Ember Inspector?

[2016-04-08 19:16] lauraannwilliams commented on #129
Just adding my +1 for this. Finding the route/components used is a little difficult when there are a lot of items in the list.

[2016-04-09 08:11] stefanpenner commented on #129
Ya this is a great idea, just a reminder to folks. Ember-inspector is itself an ember-app, if you can write and ember-app you may actually have fun adding this to the ember-inspector.

[2016-04-11 02:00] mguida22 opened #532 "PDF links are displayed as blank pages in chrome"
With the ember-inspector installed for chrome when loading most PDF links, it will display as a blank white page. I have no idea what can cause this, but only when the ember-inspector extension is this an issue.

I haven't tried this on another computer but I can reproduce it on my machine as follows.

- have ember inspector active
- visit http://ga.berkeley.edu/wp-content/uploads/2015/02/pdf-samp

[2016-04-11 05:31] Maruboinasuresh commented on #531
oh sorry.., it is related to ember-data issue.

[2016-04-11 06:08] #531 closed

[2016-04-11 19:55] lasernite commented on #532
I'm having this same issue as well, I was wondering what was going on. It's easily reproducible on my machine as well:

ember inspector version: 1.9.5
chrome version: 49.0.2623.110 (64-bit)
Mac OSX version: 10.11.4 (15E65)

[2016-04-13 18:57] JonET commented on #520
It would also be useful if I could choose which columns are visible.

[2016-04-13 20:03] felixbuenemann commented on #532
I have the same problem in Chrome 52.0.2707.0 on MacOS X 10.11.4 and Ember Inspector 1.9.5.

How about inspecting `document.contentType` before injecting the script?

For the PDF viewer this returns `application/pdf`.

[2016-04-14 06:49] #532 closed

[2016-04-15 09:38] MondeSameWave commented on #493
+1

[2016-04-15 09:52] locks commented on #493
Use reactions instead of `+1` comments please, thanks :)

[2016-04-18 15:30] acorncom opened #534 "Display a nice error when viewing the new welcome page"
As mentioned [in this issue](https://github.com/ember-cli/ember-welcome-page/issues/22) (for the new welcome screen that we'll be showing as part of Ember-CLI in the near future), it'd be nice to have a message saying "You're just getting started" or something like that, rather than "Ember application not detected".

"Ember application not detected" is actually correct (as we're displaying a stati

[2016-04-18 15:37] acorncom commented on #119
@WMeldon Is this something you'd still be interested in working on or should we close the issue for now?

[2016-04-18 15:38] acorncom commented on #265
Duplicate of #119 , let's close this one ...

[2016-04-18 15:40] acorncom commented on #492
@mxrguspxrt Any chance you'd be able to send in a PR to help improve the error message?  Folks on this end are pretty swamped ...

[2016-04-18 15:40] acorncom commented on #501
@samselikoff Is this still an issue for you?

[2016-04-18 15:42] acorncom commented on #511
Sweet!  Looks like we can close this issue then

[2016-04-18 15:44] #511 closed

[2016-04-18 15:44] #265 closed

[2016-04-19 00:22] locks commented on #492
I believe this should be closed, as what needs improving is Ember's (or whatever piece is responsible for that one) error reporting.

[2016-04-19 00:55] #492 closed

[2016-04-19 10:14] samselikoff commented on #501
Not sure - can close for now, reopen if I see it again. Thank!

[2016-04-19 10:14] #501 closed

[2016-04-21 13:34] teddyzeenny commented on #521
These issues look like errors in the app code not the inspector. It's possible they were labeled as "Ember Inspector errors" because the inspector was the first to evaluate the modules containing the error.

[2016-04-21 22:38] sunapi386 opened #536 ""Allow access to file URLs" does not show up on chrome://extensions for Ember Inspector."
![screen shot 2016-04-21 at 15 38 36](https://cloud.githubusercontent.com/assets/1029022/14726437/24bc9a90-07d7-11e6-96cf-dd9777d3cf06.png)

[2016-04-21 22:39] sunapi386 commented on #536
Nevermind, found it..
![image](https://cloud.githubusercontent.com/assets/1029022/14726451/4a377c18-07d7-11e6-8c49-31607e6ec541.png)

[2016-04-21 22:39] #536 closed

[2016-04-22 00:27] stevenpetryk commented on #503
@adam-knights, yes, that would be the appropriate repo. It's not an ember-inspector issue.

[2016-04-22 12:09] Frozenfire92 commented on #524
Now that chrome 50 is launched I feel this issue will affect more people

[2016-04-29 20:20] makmanalp commented on #250
Weird! I just hit this without the emacs part. Was working yesterday so I have no idea why it decided to happen now. Was broken on chrome 50.0.2661.86 and after a restart it updated to 50.0.2661.94 at which point it started working, though I don't know if it was just the restart that fixed it.

[2016-04-29 22:08] #341 closed

[2016-05-03 17:29] danilovaz opened #545 "Latest release Firefox"
In the Firefox addon the latest release is 1.9.4, when you will update this addon for 1.10.0?

Thank's

[2016-05-03 18:59] koryteg commented on #520
I was looking into the css changes that would need to happen to do some of this and I believe that it would take a lot of work that may conflict with or could be incorporated into the work that @teddyzeenny is doing on the tables right now. he is removing `list-view` and adding `smoke and mirrors` (the table addons.).

It would be good to get some input on how do implement this. It might be a good

[2016-05-03 22:48] locks commented on #545
@danilovaz unfortunately the Firefox review process is wildly unpredictable. Hopefully it goes through soon!

[2016-05-04 04:53] danilovaz commented on #545
@locks I can imagine. I hope it comes out soon, very useful this project. Thanks.

[2016-05-04 06:42] teddyzeenny commented on #545
@danilovaz 1.10.0 only contains internal changes to the code but no visible bug fixes and features (except for Chrome). Which is why I did not publish this version to Firefox.

[2016-05-04 06:47] teddyzeenny commented on #545
I just realized 1.9.5 is also missing from Firefox. Will publish asap.

[2016-05-06 06:21] vineethkoppai opened #547 "Data tab is not click-able in Ember inspector"
Hi,
I am using Ubuntu OS. When I click on  ember inspector the 'Data' tab in Google Chrome, nothing happens, so I am not able to inspect/see the models loaded.

Thanks in Advance,
Vineeth Koppai

[2016-05-13 11:58] HenryVonfire opened #548 "ember inspector gets completely blank after live-reloading while inspecting a model under a subdirectory"
I have a project with models under subfolders (i.e. `models/posts/comment.js`) and whenever I'm inspecting them in the `ember-inspector`, if I make a change in the code and let the live-reload reloads the page, `ember-inspector` gets completely blank and forces me to close and reopen the browser to make it works again.

I've tested this issue in Chrome, Chromium and Firefox.

[2016-05-15 18:42] flpms opened #549 "Error message: _emberData.default.atrr is not a function"
My ember inspector run for while and after broken with the follow stack trace

[code]

[2016-05-16 21:48] teddyzeenny commented on #549
You have a typo in your applicaiton's code. In one of your models you wrote `DS.atrr` instead of `DS.attr`. The inspector thought that it caused the error because it was the first one that loaded that model's module.

[2016-05-16 21:48] #549 closed

[2016-05-18 08:37] raido commented on #548
I have similar issue with 2 ember apps, one includes other using iframe.

After selecting the app in the iframe from the dropdown in the inspector, it crashes with blank page with following error:

[code]

[2016-05-23 21:28] shhQuiet opened #550 "Cannot inspect application controller"
I have no defined application controller, instead relying on the default.  However, in the inspector, under the "Controller" column I see `function Object() { [native code] }` and clicking it gives an error in the console:

[code]

If I click the $E and look at the object in the console, it is a class called `Child`

Other info:
[code]

[2016-06-01 15:22] zzr994 commented on #379
Hi teddyzeenny,
We are using ember 1.9.1 and we want to move towards ember 2.0.0.  As an intermediate step we are using ember 1.11.3 and get rid of all the depreciation warnings.  One of the items that need to be refactored is the ArrayController and the ObjectController.  We have managed to take care of the ArrayController.  The only remaining issue is refactoring the ObjectController.

In the te

[2016-06-03 08:18] Rio517 commented on #524
I wonder what the best way to address this is.  I want to help, but I'm popping in without a ton of knowledge of developing chrome extensions.

So, the first question is: why?

* My guess is that Ember Inspector is creating a lot of custom elements that prevent it from picking up Dark Theme's CSS styles.
* It is also possible that the Inspector's styles overwrite default chrome colors. Since these

[2016-06-13 10:40] rwolffgang commented on #507
Same here, my Info tab shows:

- Ember Inspector 1.10.0
- Ember 2.4.5
- Ember Data 2.5.3
- jQuery 1.11.3

It happens when I try to access the Data tab:

This is likely a bug in the inspector itself.
You can report bugs at https://github.com/emberjs/ember-inspector.
Error message: Cannot read property 'extend' of undefined
Stack trace: TypeError: Cannot read property 'extend' of undefined
    at Mo

[2016-06-13 10:44] rwolffgang commented on #507
A little bit embarrassing, but I just solved it myself. Of course `Ember.Model` does not exist, but `DS.Model` does. So the problem was within my own code. It's an old file of a model, that's not used anymore. Maybe someone else made a similar mistake?

[2016-06-14 18:35] lolmaus commented on #419
PLEASE, this is so annoying! >_<

[2016-06-16 09:11] teddyzeenny commented on #547
Is it possible there's an error in your models' code?

[2016-06-16 09:13] teddyzeenny commented on #548
@raido this seems like a separate issue. It may be better to track it in a separate ticket.

@HenryVonfire can you provide an example app (jsbin or public repo) where we can reproduce this? BTW you probably only need to close and reopen devtools (not the browser).

[2016-06-16 09:21] raido commented on #548
@teddyzeenny -> https://github.com/emberjs/ember-inspector/pull/551

[2016-06-16 10:17] alr888 opened #554 "Ember Inspector Routes Tab Blank"
Hi,

I'm running Ember Inspector version 1.10.0 Chrome Extension on Windows 10.
I just noticed my Routes tab doesn't show any routes.

Attached are screenshots showing this exception including app stack versions.
I have also restarted Ember server and browser, but still have the same issue.

Thanks in advance for any advise on this.

Cheers,

Ariel
[Ember Inspector Routes Blank.pdf](https://github

[2016-06-16 12:16] HenryVonfire commented on #548
Sure, I'll try to create a repo with an example.

That was the first thing I tried (closing the devtools only) but it didn't work. It stays the same after reopening them.

[2016-06-16 19:19] HenryVonfire commented on #548
Here's the repository (https://github.com/HenryVonfire/inspector-bug)

Steps to generate it:
- run `ember s`
- open the app in a browser (firefox / chrome)
- open the inspector
- go to `Data`
- click on the model `test/potato`
- click in the record to show the detailed view of the record
- make a change in the project to provoque `live-reload` to reload the app

After this the inspector should get

[2016-06-17 10:40] callahad commented on #545
Has 1.9.5 or 1.10.0 been submitted to addons.mozilla.org? We've finally fixed the slow / inconsistent review process, and I'd love to hear if there's anything else we can do to make sure supporting Firefox is as simple and seamless as possible.

[2016-06-18 19:22] valk opened #556 "Build failed / no such file or directory, scandir 'node_modules/ember-cli-ic-ajax/node_modules"
Hi, I'm following the instructions and building for Chrome.

After executing ```npm run build``` and eventually:

[code]
I'm getting the following error:

[code]

More info:

[code]

[2016-06-18 23:00] seansellek commented on #523
Hello, I'm also seeing this error and can reproduce it with this app: http://boundless-fog.surge.sh/

It is simply the getting started app. Stack trace is:

[code]

[2016-06-23 17:20] James1x0 opened #557 "Only first component is shown if application has no element"
If my application is a component without a tagName, only the first component rendered will show in the view tree. Is there any way to fix this?

[2016-06-25 13:15] teddyzeenny commented on #554
You seem to be exporting a non-route from your `libraries/new` route module. Is that correct?

[2016-06-25 13:16] teddyzeenny commented on #556
I think node > 0.12 is not yet supported to build the inspector.

[2016-06-26 12:20] Turbo87 opened #559 "Error: You must use Ember.set() to set the `scheduledRevalidation` property"
I'm using https://github.com/offirgolan/ember-cp-validations for show a form on one of my apps and once I view the corresponding component with the inspector and change a value in the form I get the following error:

[code]

/cc @offirgolan

[2016-06-26 18:04] #548 closed

[2016-06-26 18:11] teddyzeenny commented on #559
Seems like `scheduledRevalidation` is being set without `Ember.set`. If it's private renaming it to `_scheduledRevalidation` will fix the problem since the inspector will know not to observe it.

What is `scheduledRevalidation` property and any idea who defines it and sets it?

[2016-06-27 08:20] Turbo87 commented on #559
@teddyzeenny found it in https://github.com/emberjs/ember.js/blob/2c5214d8c39bd2447bf7e7f3ebf411a2fe1831df/packages/ember-views/lib/mixins/view_support.js#L526

[2016-07-07 07:57] dhyan commented on #550
I have the same issue with ember-inspector 1.10.0 . This might get fixed soon but there is a possible work-around [here](https://github.com/emberjs/ember-inspector/issues/487)

[2016-07-07 20:15] justinaray opened #560 "Inspector resulting in errors in sandboxed iframes"
I am not sure if this is more a Chrome Extensions issue or could be defeated internally via Programmatic Injection.

The inspector's content-script.js is resulting in console errors because some iframes are sandboxed to not allow javascript.  `Blocked script execution in '...' because .. the 'allow-scripts' permission is not set.`

I recognize that this is just a dev problem, but I am posting it h

[2016-07-12 15:48] blimmer opened #561 "window.postMessage(message, transferables, targetOrigin) is deprecated"
Seeing this in Chrome Canary:
[code]

[2016-07-14 13:50] rwjblue commented on #561
Was fixed by https://github.com/emberjs/ember-inspector/pull/555, but needs a release.

[2016-07-15 14:51] callahad commented on #545
Pinging @teddyzeenny

[2016-07-18 05:45] teddyzeenny commented on #545
@callahad the Firefox review process has been amazing. The delay is purely on me as I've been incredibly busy lately. I'm also currently rewriting a big chunk of the inspector to upgrade it from Ember 1.12 to 2.6. I will publish to FF once I finish my upgrade PR.

[2016-07-19 22:58] mguida22 opened #562 "Alphabetically sort data view"
It would be nice to have the ability to sort alphabetically on any of the table columns within the data view, and also on the `attributes`, `belongs to`, `has many`, etc. lists when viewing a specific object. Especially with lots of data and attributes, it gets hard to find a specific item. Thanks!

[2016-07-21 06:02] teddyzeenny commented on #562
There's a search field you can use in the data tab. As for the object inspector, would a search field help with this problem?

[2016-07-21 06:48] teddyzeenny commented on #550
Fixed in https://github.com/emberjs/ember-inspector/pull/563

[2016-07-21 06:48] #550 closed

[2016-07-21 10:18] teddyzeenny commented on #556
Fixed by https://github.com/emberjs/ember-inspector/pull/563

[2016-07-21 10:18] #556 closed

[2016-07-21 15:03] teddyzeenny commented on #545
1.10 is now on Firefox.

[2016-07-21 15:03] #545 closed

[2016-07-21 15:52] mguida22 commented on #562
A search field would be better, but I think being able to sort the display alphabetically would be best. I don't feel strongly though, just a suggestion I had!

[2016-07-26 13:51] lolmaus commented on #419
I've started a bounty for this issue: https://freedomsponsors.org/issue/781/only-application-present-in-view-tree

Please join! $10 so far.

[2016-07-26 13:54] lolmaus commented on #487
I've started a bounty for this issue: https://freedomsponsors.org/issue/782/records-of-hasmany-relationships-are-exposed-as-plain-text-and-are-not-navigable-in-the-inspector

Please join! $10 so far.

[2016-07-28 04:05] #164 closed

[2016-07-28 04:21] locks commented on #2
Hi, thanks for the feedback.
As @eccegordo mentions, this doesn't sound like a plausible feature to be implemented. I'm closing this issue, we'll revisit if a way forward pops up.

[2016-07-28 04:21] #2 closed

[2016-07-28 04:26] locks commented on #245
Since teddy provided the necessary resolution, I'm closing this due to inactivity from OP.

[2016-07-28 04:26] #245 closed

[2016-07-28 04:37] locks commented on #310
@teddyzeenny hasn't this been fixed in the meantime?

[2016-07-28 04:38] locks commented on #282
Closing this due to lack of response from OP.

[2016-07-28 04:38] #282 closed

[2016-07-28 04:43] locks commented on #331
There's now a [Promises panel in Chrome dev tools](https://developers.google.com/web/shows/ttt/series-1/debugging-promises-w-devtools?hl=en)!
We don't have enough bandwidth to do the extraction, but if it's still valuable enough for you, the code is MIT ;)

[2016-07-28 04:43] #331 closed

[2016-07-28 04:44] locks commented on #325
I'm closing this as it is unlikely to still be relevant. Feel free to reopen if that's not the case.

[2016-07-28 04:44] #325 closed

[2016-07-28 04:49] locks commented on #244
Any resolution on this, @teddyzeenny @tonycoco ?

[2016-07-28 04:53] locks commented on #363
Duplicate of #321 as mentioned.

[2016-07-28 04:53] #363 closed

[2016-07-28 04:54] locks commented on #369
Since angle brackets components were only in Ember for one beta version and are currently being revamped, I'm closing this issue.

[2016-07-28 04:54] #369 closed

[2016-07-28 04:58] locks commented on #259
I use Firefox Dev Edition and couldn't reproduce, can someone confirm this is on-going?

[2016-07-28 05:01] locks commented on #403
Closing this due to lack of response from @gonvaled. Please reopen if you can provide the necessary information.

[2016-07-28 05:01] #403 closed

[2016-07-28 05:03] locks commented on #423
I remember tracking this down and confirming it was a Chrome bug, I just don't remember the actual reason why.

[2016-07-28 05:03] #423 closed

[2016-07-28 05:05] locks commented on #459
@blimmer was there a resolution? I'm not sure there's anything to be done from the Inspector side here, please reopen if I'm mistaken!

[2016-07-28 05:05] #459 closed

[2016-07-28 05:35] teddyzeenny commented on #310
Yes this has been fixed.

[2016-07-28 05:35] #310 closed

[2016-07-28 16:27] vvscode opened #564 "This Ember version is not supported in development environment."
I install addon for Chrome from github repo ( I try both `master` / `stable` ) and got

We use Ember `1.13.x` -- how can I fix it ? Cause version from Chrome store is buggy ( it detect application not every time )

[2016-07-28 17:15] teddyzeenny commented on #564
If you want to build the inspector from source for production use (not to develop the inspector) you will need to use `npm run build:production`.

I doubt building from source will fix that. That sounds like a bug that we should fix. Are you able to help me reproduce this issue so I can look into it? Is your app inside an iframe?

[2016-07-29 06:15] vvscode commented on #564
@teddyzeenny  No, my app not inside iframe. And it didn't see app not always, but sometimes. I need to close, refresh, open ( sometimes repeat one-two times ) to repair it's work. But I didn't know steps to broke it

[2016-07-29 06:43] teddyzeenny commented on #564
Does that happen on other online public Ember apps or just your private app? If you can point me to any online app that does this or public repo or jsbin I can work on fixing it.

[2016-07-29 07:11] vvscode commented on #564
Sometime I get the situation on public auth app, but right now it's ok. What information I can attach if it repeat?
Possible it's chrome bug, cause sometime when Ember inspector detect app I can't get $E -- it show in console that variable assigned, but on trying get it I got `$E is undefined`

Just say what details I can provide, and if I met it again - I'll post report

P.S. with local copy all

[2016-07-29 09:15] teddyzeenny commented on #564
You can open devtools for devtools and check the console for errors. You do that by undocking devtools into a separate window and then opening devtools for that new window. Also describe what exactly happens ("Application not detected" or blank inspector, etc).

I'm going to close this issue (it is about a different topic). If you encounter the problem again feel free to open a new issue with as m

[2016-07-29 09:15] #564 closed

[2016-07-30 23:26] tonycoco commented on #244
Not yet @locks. The WebKit bug was never resolved but there was talk of a developer extension API

[2016-08-02 05:54] ChillarAnand opened #565 "Ember Inspector has errored."
[code]

[2016-08-02 05:58] teddyzeenny commented on #565
That is likely an error in your app but triggered by the inspector when it imported a faulty module.
Did you see this when you opened the routes tab or data tab?

[2016-08-02 07:53] ChillarAnand commented on #565
When I opened data tab. Looks like there was something wrong with app itself. Thanks.

[2016-08-02 07:53] #565 closed

[2016-08-03 18:22] sandstrom opened #566 "Check 'current route only' by default"
Our application has several hundred routes. Iterating them all takes ~1 second.

It's great that this happens only when visiting the routes tab, but would be better if 'current route only' was checked by default. It would also make it easier to find the current route (otherwise one has to look for bold in the long list).

![image](https://cloud.githubusercontent.com/assets/122287/17376876/c5f458e4

[2016-08-04 11:06] locks opened #567 "Persist "Current Route only" through refreshes"

[2016-08-04 11:07] teddyzeenny commented on #567
Should "just work" by making `hideRoutes`a query param [here](https://github.com/emberjs/ember-inspector/blob/67404b7aea2bccd8733ad49bbaccfa7b7b5c59b2/app/controllers/route-tree.js).

[2016-08-04 11:07] locks commented on #566
Hi @sandstrom, can you tell us why you need to access the current route?

Having it on by default would be more confusing to less advanced users IMO, as they'd expect to see the whole hierarchy so they can explore. We could make it a preference, but if we can get at the root of the problem and address that, the solution will be stronger.

[2016-08-04 11:13] teddyzeenny commented on #566
One more question @sandstrom, would you consider https://github.com/emberjs/ember-inspector/issues/567 to be a solution to your problem? You would always see the current route by default until you close the tab.

[2016-08-04 13:17] teddyzeenny commented on #567
Fixed by https://github.com/emberjs/ember-inspector/pull/568

[2016-08-04 13:17] #567 closed

[2016-08-04 16:57] sandstrom commented on #566
Closing, mostly fixed by https://github.com/emberjs/ember-inspector/commit/276d77b65f7a3557e89581805ab7217d42795de0

thanks @teddyzeenny & @locks

[2016-08-04 16:57] #566 closed

[2016-08-09 11:05] krukid opened #569 "Error reading watchModelTypes without Ember Data"
I've removed `ember-data` from my project and started getting the following error in the console:

[code]

Currently I have no models in my project.
Ember Inspector v1.10.0

[2016-08-09 11:56] teddyzeenny commented on #569
The only reason I can think of this could happen is because you visited the Data tab in the inspector, removed Ember Data from your project, and refreshed the page. Is this what happened @krukid . Can you try closing and reopening devtools?

[2016-08-09 12:06] krukid commented on #569
yes, reopening the app in another tab fixed things, thanks!

[2016-08-09 12:06] #569 closed

[2016-08-19 21:43] daegun opened #575 "Ember app no longer detected"
Not sure what happened, but as of today Ember inspector is no longer detecting my app. Please let me know what you need from me to continue. Thanks!

[2016-08-19 21:44] #575 closed

[2016-08-19 21:52] daegun commented on #575
it started to work after i restarted it

[2016-08-22 08:37] teddyzeenny commented on #161
Fixed by https://github.com/emberjs/ember-inspector/pull/574

[2016-08-22 08:37] #161 closed

[2016-08-22 08:38] teddyzeenny commented on #520
Fixed by https://github.com/emberjs/ember-inspector/pull/574

[2016-08-22 08:38] #520 closed

[2016-08-22 14:22] camskene commented on #520
Awesome work on #574. Thank you.

[2016-08-22 23:49] davewasmer commented on #419
Looks like [this is the problematic line](https://github.com/emberjs/ember-inspector/blob/da5219ed2a70c836c07bab77c2694665566f4d3e/ember_debug/view-debug.js#L243):

[code]

Ember Inspector seems to assume that the views will form a tree with a single root view, whose element will be the only element at that level of the DOM with an `.ember-view` class.

However, liquid-fire and/or ember-wormhole v

[2016-08-23 00:01] davewasmer opened #577 "Clean checkout is failing to build: "Unknown option: direct.console""
Following the instructions in the Readme, I checked out the repo and ran:

[code]

And got this output:

[code]

[2016-08-23 02:00] rwjblue commented on #577
Ok, so this is both my fault and annoying.

Basically, broccoli-babel-transpiler's options are intermixed with the options passed into the Babel instance that the broccoli plugin wraps. This means that anytime we add a new argument for the plugin the plugin must also delete the argument before passing the options through to Babel.

[2016-08-23 02:03] rwjblue commented on #577
We added a `console` option in a recent version of ember-cli-babel. It has to be paired with the right broccoli-babel-transpiler version for it to not blow up like the error you pasted above.

I suspect (hard to check while on mobile) that we have pinned broccoli-babel-transpiler to a version that doesn't account for removing 'console'. Can you check? If that is the issue, we should be able to fix

[2016-08-23 02:23] elbeezy commented on #577
broccoli-babel-transpiler is currently pinned to [5.1.0](https://github.com/babel/broccoli-babel-transpiler/tree/v5.1.0). that version does seem to handle `console` gracefully, though: https://github.com/babel/broccoli-babel-transpiler/blob/199235312474440fecdefd1181b3dd0d8072fed3/index.js#L39

[2016-08-23 02:28] elbeezy commented on #577
Updating broccoli-babel-transpiler locally to 5.5.0 fixed it for me

[2016-08-23 02:31] rwjblue commented on #577
Ya, 5.1.0 link is here: https://github.com/babel/broccoli-babel-transpiler/blob/v5.1.0/index.js#L21-L30, and it doesn't handle `delete options.console` properly.

@elbeezy - Mind sending a PR?

[2016-08-23 02:49] elbeezy commented on #577
oops, yeah i was looking at master >.<

PR incoming

[2016-08-23 03:01] #577 closed

[2016-08-23 03:21] davewasmer commented on #577
Thanks all!

[2016-08-23 08:35] krisselden commented on #559
it should be moved to the renderer, not sure why it would be observed and it should have used an underscore if placed on the view. not that it helps now

[2016-08-23 08:40] teddyzeenny commented on #559
@krisselden when you open an object in the inspector's Object Inspector it observes all non-private (non-underscored) properties that it lists to keep them up to date. An underscore would have prevented the issue as it wouldn't have been listed in the first place.

[2016-08-23 10:01] lolmaus commented on #419
We could simply update this selector `.find('> .ember-view')` to ignore Liquid Fire/Wormhole elements?

[2016-08-23 21:33] davewasmer commented on #419
@lolmaus we could, but that would (a) prevent devs from inspecting the warped views themselves, and (b) tightly couple ember inspector to liquid-fire & wormhole. If those addons ever changed their DOM structure, inspector might then need to change. And there may be other, less popular addons that do similar things (now or in the future) - how do we make sure those all are supported?

Ultimately, I

[2016-08-23 21:38] lolmaus commented on #419
@davewasmer Sure, but having that workaround is better than nothing, right? We could do that and keep looking for a better solution.

[2016-08-23 21:41] davewasmer commented on #419
@lolmaus personally, I think the "move the warped elements to after the application's element in Elements panel" is enough of a workaround to avoid shipping an intermediate solution that would be replaced shortly thereafter by a long term solution.

[2016-08-26 18:00] cwilli34 opened #580 "ember-infinity seems to break ember inspector"
Getting the following error on the /# Routes tab:

[code]

It will not load any routes information.

The following is the code, based off of the ember-infinity README.md, and module does exist in the node_modules directory:

[code]
Then:
`export default Ember.Mixin.create(InfinityRoute, { .....`

I am not sure if this is an error with ember-infinity or Ember Inspector

[2016-08-27 10:54] teddyzeenny commented on #580
Hi, thanks for reporting this. Your app can't find the module 'ember-infinity/mixins/route'. The inspector is triggering the error probably because it's the first one evaluating this route's code. Try closing the inspector (by closing devtools and reopening) and visiting that route. If you also get an error it's confirmed that this is unrelated to the inspector.

[2016-08-28 15:13] teddyzeenny opened #582 "[GLIMMER] Known issues"
- [x] When a re-render only causes component removal (no components are added) the components view tree is not updated.  This is due to the fact that "willRender" doesn't fire when expected. This will probably be fixed in Ember core before Glimmer beta is released. Related issue: https://github.com/emberjs/ember.js/issues/13947
- [ ] If more than one outlet share the same controller instance, thei

[2016-08-30 09:12] Mak-Di opened #584 "Ember application not detected!"
![screenshot from 2016-08-30 11-57-26](https://cloud.githubusercontent.com/assets/2670112/18082824/3391a7fc-6ea9-11e6-9c20-aa365f538125.png)

Client-side:
OS: Ubuntu 16.04 LTS
Browser: Google chrome, ver 51.0.2704.79 (64-bit)
Ember Inspector: 2.0.1   [from chrome.google.com](https://chrome.google.com/webstore/detail/ember-inspector/bmdblncegkenkacieihfhpjfppoconhi?utm_source=chrome-app-launcher-in

[2016-08-30 12:54] locks commented on #584
Hi, @Mak-Di. You are not doing anything wrong! This happens due to the way the `ember-welcome-page` was designed. Since it's an express.js middleware, we're not actually serving the Ember application. This is already being tracked at https://github.com/emberjs/ember-inspector/issues/534, so I'm closing this one.
Thanks for reporting :) We're working on a solution.

[2016-08-30 12:54] #584 closed

[2016-08-30 12:57] Mak-Di commented on #584
@locks thank you!

[2016-08-31 18:42] cwilli34 commented on #580
It definitely happens every single time when you click on `/# Routes`.

[2016-09-02 07:11] Sweet-Bob commented on #451
+1 can't debug my routes

[2016-09-02 23:40] msmyers commented on #547
I also have this issue. I do not have any errors in my model. I do have computed properties defined on my model, and those computed properties sometimes result in undefined.

[2016-09-06 16:00] thirstybear opened #585 "Ember Inspector locking up"
OHai

I'm using Ember Inspector 2.0.1 in Chrome 53.0.2785.89 (64-bit) with the following:
ember-cli: 2.7.0
node: 6.5.0
os: OSX El Capitan 10.11.5

When I start up the inspector, it is unresponsive - you cannot select any of the left hand menu options.

I have now disabled all of the other plugins, and the same thing happens.

Any thoughts?

Thanks in advance.

Chris

[2016-09-07 10:47] anlumo commented on #585
I've got exactly the same issue.

Chrome 53.0.2785.89
ember-cli: 2.7.0
ember: 2.7.2
os: macOS El Capitan 10.11.6

When I click on a section on the left hand side, close the inspector and open it up again, it opens with that section selected. On the Data section, the model types are displayed, but clicking on any model hangs the inspector. Clicking on any other section also hangs the inspector.

[2016-09-07 10:58] teddyzeenny commented on #585
Can you provide me with any online app, jsbin, public repo where that happens so I can reproduce the error?

[2016-09-07 12:25] anlumo commented on #585
I just updated our ember app deployment from 2.5 to 2.7.2. When it was 2.5, it worked. With 2.7.2, the inspector is broken just as in my development version.

Here's a sample page for it: https://my.mindnode.com/eTuzx6zNRbd22TT3mr5KxnhbjsdvYysLWPsxHxk1

[2016-09-07 12:34] teddyzeenny commented on #585
@anlumo the inspector is working fine for me on the link you sent. I think it needs a specific set of steps to reproduce. Any idea what they might be?

[2016-09-07 12:37] anlumo commented on #585
I just tried it in incognito mode (so other extensions aren't loaded), but it still locks up. There are no special steps needed, just opening up the inspector and clicking on anything.

[2016-09-07 12:49] thirstybear commented on #585
I was simply going through the example at https://guides.emberjs.com/v2.7.0/getting-started/quick-start/ so nothing complicated. It also does it on client projects. I'm happy to push the simple tutorial code somewhere, but I'm not sure how valuable that might be - it really is very basic (one route, one app, two templates, one test).

[2016-09-07 15:58] chancancode commented on #582
@teddyzeenny I think emberjs/ember.js#14222 fixed the first issue, can you confirm?

[2016-09-08 02:45] alejandrocibilich opened #586 "Data Tab - Column Headers not refreshing when changing model type"
Clicking on Data Tab and then on Model Type number 1 (`item` in the example printscreen), shows the correct column headers:
![image](https://cloud.githubusercontent.com/assets/19896046/18335236/2d53012c-7554-11e6-8a25-8c6846ce9393.png)

Clicking on Data Tab and then on Model Type number 2 (`menu` in the example printscreen), shows the correct column headers:
![image](https://cloud.githubuserconten

[2016-09-08 05:53] nightire opened #587 "Can not inspect nested Ember.Object"
[code]

warning snapshot:

[code]

[2016-09-08 09:08] teddyzeenny commented on #582
@chancancode I confirm the issue is fixed 🎉 .

There was one regression though https://github.com/emberjs/ember-inspector/pull/588, should be fixed next time I publish. It may be good to have a `ViewUtils.getRootElement` API to avoid future breakage however I'm not sure what's the story behind multiple roots - `ViewUitls.getRootElement(s)`?

[2016-09-08 09:12] chancancode commented on #582
@teddyzeenny that's usually not something you would see in apps. it's mainly for things like ember-islands where you manually instantiate multiple `Component`s and call `appendTo(...)` on each of them manually

[2016-09-08 09:44] mkriegeskorte commented on #586
Same here!

[code]

Ember Inspector 2.0.1 (Chrome Web Store)

[2016-09-08 11:45] teddyzeenny commented on #586
Thanks for the bug report! I'm on it.

[2016-09-09 07:26] #586 closed

[2016-09-10 08:17] Turbo87 opened #590 "Remove jQuery"
@rwjblue is working on making jQuery an optional dependency of Ember. Once that has progressed far enough we should investigate what we need to do to drop our dependency on jQuery too.

https://github.com/emberjs/ember-inspector/blob/master/shared/in-page-script.js for example will need to be adjusted to a world without jQuery.

[2016-09-10 11:20] rwjblue commented on #590
FWIW, it is already possible to use Ember without jQuery (you just need a custom event dispatcher at the moment).

[2016-09-11 21:45] GRardB commented on #585
I've been having issues as well. As everyone else said, there are no steps to reproduce. I simply open up the Chrome Inspector and click "Ember," and I'm unable to click on anything.

My website: https://www.guapington.com/
(It also doesn't work on localhost).

* Mac OS X 10.11.6
* Chrome 52.0.2743.116
* Ember CLI 2.8.0
* Ember 2.7.1
* Ember Data 2.8.0
* Node 6.3.1

If there's any more info I can

[2016-09-13 06:45] sandstrom opened #591 "Keep a changelog"
This is a great tool and project! ⛵

Would be neat if the changelog would be updated, right now it's kind of confusing where it stands.

E.g. with timestamps + a short list of changes. I noticed 2.0.2 is out but the changelog file is still on 1.x.

[2016-09-13 15:47] teddyzeenny commented on #585
I can't reproduce this. I will need someone to debug this for me. We need to check if an error is being thrown. To do that we need to open the inspector's console:

1. Undock devtools into a separate window.

  <img width="197" alt="screen shot 2016-09-13 at 6 36 55 pm" src="https://cloud.githubusercontent.com/assets/1061742/18480409/3ea10e6a-79e1-11e6-86f6-0484a00c05b4.png">
2. Then with the undo

[2016-09-13 15:51] anlumo commented on #585
[code]

[2016-09-13 16:00] teddyzeenny commented on #585
@anlumo thanks for this! Looks like it's the security error. Can you confirm it's fixed if you uncheck `Block third-party cookies and site data` checkbox in `chrome://settings` -> `Content Settings`? (Don't forget to close/reopen devtools after toggling).

Last checkbox in the screenshot below:

<img width="393" alt="screen shot 2016-09-13 at 6 59 04 pm" src="https://cloud.githubusercontent.com/as

[2016-09-13 16:12] NickChristensen commented on #561
This seems to be breaking as of Chrome 55 (currently canary). The Ember Inspector shows "Ember application not detected", and the console shows:
[code]

[2016-09-13 16:50] anlumo commented on #585
Yes, removing that checkbox fixes the inspector! So that's why there were multiple people who could reproduce it and you couldn't.

[2016-09-13 17:20] sandstrom commented on #561
FWIW I'm seeing this in 2.0.2 which was released a few days ago.

![image](https://cloud.githubusercontent.com/assets/122287/18484015/fb4fa512-79e6-11e6-93e8-52e7a7c42a9c.png)

*(click to enlarge image)*

[2016-09-13 19:57] teddyzeenny commented on #561
That's because you keep using Ember Inspector 1.10 for Ember < 2.7 even if you have the latest extension version. We'll need to update the old snapshot...

[2016-09-13 20:29] sandstrom commented on #561
@teddyzeenny Ah, makes sense, thanks for clarifying!

*This is only canary still, won't be in Chrome for another month or so.*

***

Unrelated: I noticed there are quite a few old issues that in my opinion could be closed.

Right now the large amount of issues makes it seem like Ember Inspector is in a bad state, but actually I find that it works really well.

Some examples of issues that (I think

[2016-09-14 01:05] locks commented on #590
A custom event dispatcher by ours truly: https://github.com/rwjblue/ember-native-dom-event-dispatcher

[2016-09-14 13:41] #585 closed

[2016-09-14 14:08] teddyzeenny commented on #561
@sandstrom thanks for looking into that. Yes we can probably close a lot of these issues. Though some are suggestions for possible features/improvements that haven't been developed yet, not sure how we want to handle those. We're probably going to over these tickets soon. cc @locks

[2016-09-14 14:23] thirstybear commented on #585
Thanks for your help, guys. Much appreciated!

[2016-09-14 18:14] calmwater opened #593 "Ember Inspector is hanging up on Ember 2.8.0 app"
I recently upgraded my app from 2.4.x to 2.8.0 and the Google Ember Inspector just hangs up and doesn't show anything other than the left side menu. It also doesn't respond to clicking on anything?? The app works great in test and production modes with no deprecation warnings. A real mystery. Chrome version 53.0.2785.113, Ember Inspector 2.0.2. Interesting that the Firefox version works fine, Fire

[2016-09-14 18:47] teddyzeenny commented on #593
Probably duplicate of https://github.com/emberjs/ember-inspector/issues/585

[2016-09-14 19:50] calmwater commented on #585
This fixed my problem as well. I am not sure why my production app had the same issue with no third party cookies involved in the app.  This looks to be a change somewhere other than my code.

[2016-09-14 19:51] #593 closed

[2016-09-14 19:52] teddyzeenny commented on #585
@calmwater the Ember Inspector is the third party app and it uses local storage (which is blocked by this security setting).

[2016-09-14 22:08] calmwater commented on #585
Thanks for the clarification! That makes great sense.

[2016-09-15 13:04] locks opened #594 "Issue cleanup"
As commented on https://github.com/emberjs/ember-inspector/issues/561:

* [x] #43
* [ ] #115
* [x] #119
* [x] #130
* [x] #141
* [x] #142
* [ ] #143
* [ ] #170
* [x] #248
* [x] #259
* [ ] #268
* [ ] #429
* [x] #448

[2016-09-15 13:10] locks commented on #119
@WMeldon I will be closing this in one week as we still don't have enough bandwidth to take this head.

[2016-09-15 13:20] locks commented on #141
@stefanpenner I'm closing this and it seems to be implemented? Correct me if I'm wrong please.

[2016-09-15 13:20] #141 closed

[2016-09-15 13:32] locks commented on #170
What's the status on this @teddyzeenny @ebryn @rpl ?

[2016-09-15 13:32] locks commented on #248
Closing this for relevancy.

[2016-09-15 13:32] #248 closed

[2016-09-15 13:33] #259 closed

[2016-09-15 13:36] locks commented on #448
Hi, I'm closing this as it doesn't look relevant anymore. Feel free to re-open if it's still a problem.

[2016-09-15 13:36] #448 closed

[2016-09-15 13:37] locks commented on #429
Is this still a problem?

[2016-09-15 15:34] locks commented on #43
I'm assuming this now works, given the linked issues were resolved. Please re-open if otherwise!

[2016-09-15 15:34] #43 closed

[2016-09-15 15:36] locks commented on #142
Merged with #143.

[2016-09-15 15:36] #142 closed

[2016-09-16 15:59] mz2 opened #595 "Insecure script loading error with ember-inspector when loading content over HTTPS into a window opened with window.open"
I am seeing the following error message pop up when I try using the CloudKit JS authentication mechanism in an ember-electron app that has the ember-inspector loaded:

[code]

Is there a way to make this go away by:
1. Actually making ember-inspector not be treated as an insecure load?
2. Disabling ember-inspector for dialogs opened with window.open?

[2016-09-18 12:52] Turbo87 commented on #591
maybe https://github.com/skywinder/github-changelog-generator would be useful here

[2016-09-19 08:07] #119 closed

[2016-09-19 11:47] efx commented on #429
@locks in trying to recreate, I was unable to inspect any deprecations as when I clicked on the Deprecations tab in Ember Inspector I saw the following issue:
<img width="1438" alt="screen shot 2016-09-19 at 7 43 16 am" src="https://cloud.githubusercontent.com/assets/472721/18630858/da2e1792-7e3c-11e6-8339-a2f2a9c4618f.png">
Chrome: 52.0.2743
Ember Inspector: 2.0.2
happy to open another issue, try

[2016-09-20 06:34] felixbuenemann commented on #561
This seems to be the reason for the following error I'm getting in 2.0.2 with an Ember 2.6.2 app using Chrome Canary 55:

[code]

After upgrading to Ember 2.8.1 the ember-inspector starts working again.

[2016-09-20 07:06] sandstrom commented on #594
Awesome! These were just some examples I pulled from the oldest issues. I think there are many more.

[2016-09-20 07:58] felixbuenemann opened #598 "Components View Tree broken in ember 2.9.0-beta2"
The current master (44e820f) as well as 2.0.2 break when the Component checkbox is ticked on the View Tree tab with the following exception:

**TypeError: Cannot read property 'get' of undefined**

Full Backtrace:

[code]

[2016-09-20 08:09] locks commented on #175
Hi @rvramesh. Sorry for the late reply, but at the moment we don't have bandwidth to create and maintain such a project, though I believe someone made an addon that solves that problem. Check [Ember Observer](https://emberobserver.com/)!

[2016-09-20 08:09] #175 closed

[2016-09-20 09:24] teddyzeenny commented on #46
We added a helpful message and clear steps for enabling file support in https://github.com/emberjs/ember-inspector/pull/52.

[2016-09-20 09:24] #46 closed

[2016-09-20 09:32] locks commented on #54
After an internal discussion it was decided that the current overhead of the instrumentation hooks, with the fact that people are usually measuring the apps in dev mode, let's to inaccurate results that people tend to take as gospel. We're closing it for now, to possibly revisit in the future.

[2016-09-20 09:32] #54 closed

[2016-09-20 09:34] #66 closed

[2016-09-20 09:40] locks commented on #32
if you close it and re-inspect it (in the object controller) you will see that all properties were moved to “own properties"

Can we get some input on whether this is solvable, or if it even matters @krisselden?

[2016-09-20 09:46] locks commented on #100
Can we get some input @rwjblue @krisselden ?

[2016-09-20 09:51] #130 closed

[2016-09-20 09:55] locks commented on #134
Tracked at https://github.com/emberjs/ember-inspector/issues/146.

[2016-09-20 09:55] #134 closed

[2016-09-20 09:59] locks commented on #146
This seems untenable at the moment. As there's other work with more priority, we're shelving this for a future research.

[2016-09-20 09:59] #146 closed

[2016-09-20 10:01] locks commented on #136
@stefanpenner can you provide more concrete plans and optimally find someone to steward it?

[2016-09-20 10:06] locks commented on #140
This should be currently addressed as we're using the resolver's [`describe`](https://github.com/emberjs/ember-inspector/blob/44e820f1a21090ea081c4c8fca9a79840a0a9ded/ember_debug/route-debug.js#L80)

[2016-09-20 10:06] #140 closed

[2016-09-20 10:06] locks commented on #148
Partials are dead :trollface:.

[2016-09-20 10:06] #148 closed

[2016-09-20 10:07] locks commented on #155
I believe this to be currently resolved.

[2016-09-20 10:07] #155 closed

[2016-09-20 10:10] locks commented on #156
Moved minimum time feature request to Projects.

[2016-09-20 10:10] #156 closed

[2016-09-20 10:14] #154 closed

[2016-09-20 10:14] #157 closed

[2016-09-20 10:14] teddyzeenny commented on #165
Fixed by https://github.com/emberjs/ember-inspector/pull/527.

[2016-09-20 10:14] #165 closed

[2016-09-20 10:14] teddyzeenny commented on #188
Fixed. Inspector works with tests now.

[2016-09-20 10:14] #188 closed

[2016-09-20 10:17] #208 closed

[2016-09-20 10:21] locks commented on #212
I can't reproduce any slowness due to hover styles.

[2016-09-20 10:21] #212 closed

[2016-09-20 10:23] locks commented on #213
We're no longer using `list-view`. We'll have to look into smoke-and-mirrors instead if we decide to disable scroll styles.

[2016-09-20 10:23] #213 closed

[2016-09-20 10:28] locks commented on #253
@joostdevries @stefanpenner @lukemelia @denisnazarov do you have someone that can work on this? Otherwise we'll have to close due to lack of resources.

[2016-09-20 10:32] locks commented on #268
Not worth the hassle ;)

[2016-09-20 10:32] #268 closed

[2016-09-20 10:36] #269 closed

[2016-09-20 10:38] #271 closed

[2016-09-20 10:40] #591 closed

[2016-09-20 10:42] locks commented on #594
Closing this issue as we're doing a thorough review of the entire catalog.

[2016-09-20 10:42] #594 closed

[2016-09-20 10:49] locks commented on #554
@alr888 can you confirm the above?

[2016-09-20 10:51] locks commented on #547
I can't reproduce, can you please point to a publicly available app that reproduces it, or make one? Thank you!

[2016-09-20 10:52] locks commented on #534
@acorncom I'm closing this as we're revamping ember-welcome-page and possibly this won't be applicable.

[2016-09-20 10:52] #534 closed

[2016-09-20 10:54] locks commented on #523
I can't reproduce @seansellek, works properly here :\ What's the version of your Inspector?

[2016-09-20 11:01] locks commented on #381
Fixed!

[2016-09-20 11:01] #381 closed

[2016-09-20 11:01] #360 closed

[2016-09-20 11:32] alr888 commented on #554
@teddyzeenny , @locks its was a problem with my libraries/new route.  Recoded it and deployed it on Firebase and routes are there.  Apologies not replying sooner.

[2016-09-20 12:28] locks commented on #554
No problem, thank you for the update!

[2016-09-20 12:28] #554 closed

[2016-09-20 13:48] danielchappell commented on #561
I am seeing  the same thing as @felixbuenemann on Chrome 55 dev channel. I am on an an ember 1.10 app. I am not going to be able to upgrade ember for a while.

[2016-09-20 15:12] #132 closed

[2016-09-20 15:22] arjunkathuria commented on #249
@locks got some time on my hands this week, can give a shot.

[2016-09-20 16:33] locks commented on #249
@arjunkathuria yes, please! :) Reach us in on Slack for any help.

[2016-09-20 18:03] teddyzeenny commented on #598
Can you reproduce this in a jsbin/online app/public repo?

[2016-09-20 19:33] felixbuenemann commented on #598
I'm not sure how to build a test case, because I don't know how to find out the component which causes this. I can see the `emberNNN` id on the component, but I have no idea how to trace it back to the actual name of the component.

I can say that the problem is triggered because `component.get('_targetObject')` in `controllerFroComponent` returns `undefined` so it tries to recurse an then runs in

[2016-09-20 20:07] felixbuenemann commented on #598
I think the ember-cli-head component really has no controller, because it is [inserted into the DOM from an initialiser](https://github.com/ronco/ember-cli-head/blob/master/app/instance-initializers/browser/head.js).

So maybe the assumption that each component must have a controller is wrong?

[2016-09-20 20:43] teddyzeenny commented on #598
Yes we should likely guard against that. Although that will mean not showing these components in the view tree.

[2016-09-20 20:50] felixbuenemann commented on #598
It's also interesting to note that the exception did not occur on 2.8.1, maybe someone from the ember core team like @rwjblue can comment on wether it is expected behaviour that `_targetObject` of components can be undefined.

I only found a [single usage](https://github.com/emberjs/ember.js/blob/beta/packages/ember-runtime/lib/mixins/target_action_support.js#L146)  of `_targetObject` in the ember

[2016-09-20 21:01] teddyzeenny commented on #598
That's because the inspector doesn't use `_targetObject` in Ember < 2.9. `_targetObject` is used post Glimmer 2.

[2016-09-21 15:53] garrettlancaster commented on #188
This is awesome! Any chance of a patch release?

[2016-09-22 13:26] locks commented on #295
Hi @chigur, we are closing this as only the production build needs env vars, and in all likelihood only the maintainers need to run it to publish the extension. If you feel like you have some free time to help us with this, reopen and ping us. Thanks!

[2016-09-22 13:26] #295 closed

[2016-09-22 13:30] locks commented on #260
Fixed by #428

[2016-09-22 13:30] #260 closed

[2016-09-22 13:33] #334 closed

[2016-09-22 13:42] #348 closed

[2016-09-22 13:44] locks commented on #354
Should no longer apply due to changes in Glimmer design.

[2016-09-22 13:44] #354 closed

[2016-09-22 13:47] #355 closed

[2016-09-22 13:49] teddyzeenny commented on #349
Is anyone still having issues here?

[2016-09-22 13:50] #380 closed

[2016-09-22 13:53] locks commented on #261
Closing issue due to staleness. Please reopen if it still applies, and please provide a reproduction!

[2016-09-22 13:53] #261 closed

[2016-09-22 14:01] teddyzeenny commented on #454
Would a "collapse all" button solve this problem?

[2016-09-22 14:05] locks commented on #378
@pete-the-pete are you still interested?

[2016-09-22 14:06] locks commented on #462
Hi, I'm closing this as I believe this issue has since been resolved. If you still encounter this problem please reopen and submit a reproduction!

[2016-09-22 14:06] #462 closed

[2016-09-22 14:15] Panman8201 commented on #454
I would say that would be a minimal solution, allows the ability to quickly collapse them all. But I was hoping for them to be collapsed by default. Collapse all / expand all buttons would be useful though.

Been a while since I had to deal with a large number of depreciations. Darn that 1.13 version... 😉

[2016-09-22 14:44] locks commented on #525
Closing due to staleness. If this is still an issue let us know @kulbida!

[2016-09-22 14:44] #525 closed

[2016-09-22 14:45] locks commented on #454
@Panman8201 are you able to PR something?

[2016-09-22 15:42] Panman8201 commented on #454
Not at the moment, mid (major) project. I'll add it to my open source TODO list. Lot's of stuff, so little time. 😦

[2016-09-23 04:47] nerdybeast commented on #561
I'm currently on Chrome Beta v54, ember v2.8.1, ember inspector v2.0.2, and I'm seeing the same error as @felixbuenemann

[2016-09-23 15:25] pete-the-pete commented on #378
Yes, still interested, but obviously got busy and forgot about this.  I
haven't worked on in since that PR.  I can start contributing again next
week, but it someone else is ready to take it, I don't want to be in the
way.

On Thu, Sep 22, 2016 at 7:05 AM, Ricardo Mendes <notifications@github.com>
wrote:

[2016-09-23 17:12] locks commented on #378
@pete-the-pete no worries, this is in the "nice to have" camp so you're not blocking work. See you next week!

[2016-09-23 21:17] taras opened #600 "Deep dive into Ember Inspector Internals on The Ember Show"
Hey Teddy,

Would you be interested in giving a talk on The Ember Show about the internals of Ember Inspector?
This could be a great opportunity to tell lower the barrier to contributing to a tool that's very important to the community.

What do you think?

[2016-09-24 03:34] f3ndot commented on #600
Throwing my hat into the ring: I'm curious what this repo accomplishes (technically) at 10,000ft.

How does it leverage in-page-script.js, content.js, background.js to facilitate what appears to be an Ember application that's aware of the website's own Ember application? What's the code execution flow for this bootstrap? Etc.?

I have a vested interested in understanding how one can interrogate a

[2016-09-25 19:55] jaredgalanis opened #602 "errors not logging to console"
I've got several pages which are not rendering, but no error is logged in the browser console. I have been able to find errors within some objects themselves in the Inspector. For instance a computed property on a model was not resolving properly and it was throwing an error, but it was only reported when I viewed the model that the computed property was defined on in the data panel of the inspect

[2016-09-25 23:56] locks commented on #602
In the specific case of the computed property, they're lazily evaluated and only compute when consumed, so your description is how it's expected to work.
Do you have a small reproduction we can check out?

[2016-09-26 08:42] teddyzeenny commented on #600
Hey @taras @f3ndot my email is my github username at gmail, let's discuss this over email. Closing this to keep github issues for Ember Inspector bugs.

[2016-09-26 08:42] #600 closed

[2016-09-26 09:15] #253 closed

[2016-09-26 09:15] locks commented on #349
Closing from inactivity. Please let us know if this is still a problem.

[2016-09-26 09:15] #349 closed

[2016-09-26 09:16] locks commented on #547
Closing due to inactivity. I'll reopen if a reproduction is posted, thank you!

[2016-09-26 09:16] #547 closed

[2016-09-26 20:25] jaredgalanis commented on #602
Ah okay, thanks @locks! I now realize the other pages which were not firing any errors were all making use of an addon that was no longer functioning. I'm not sure why I was receiving no errors at all, but I found a substitute way of addressing that particular addon's functionality so it is no longer an issue in my project.

[2016-09-26 20:25] #602 closed

[2016-09-26 21:25] locks commented on #602
Not really. There isn't really a way to know and trigger unconsumed computed properties.

[2016-09-27 09:46] locks commented on #466
Hey everyone, is this still applicable?

[2016-09-28 10:50] jasalguero opened #603 "Cannot inspect application controller"
Same issue as: [https://github.com/emberjs/ember-inspector/issues/550](https://github.com/emberjs/ember-inspector/issues/550)

I'm having the same issue with version 2.0.2, and Ember version: 2.5.1. But I have defined an application controller:

<img width="1440" alt="screen shot 2016-09-28 at 12 18 37" src="https://cloud.githubusercontent.com/assets/504847/18910788/d2b5f31a-8579-11e6-8820-6b868d5

[2016-09-28 10:57] teddyzeenny commented on #603
That was fixed for Ember >= 2.7 if I remember correctly.

[2016-09-29 00:02] givanse opened #604 "Not detecting the Ember app with Ember 2.8.0?"
Chrome: 53.0.2785.116 (64-bit)
Ember cli: 2.8.0

Default app, I just did `ember new foobar; cd foobar; ember serve` but the inspector doesn't detect it:

![screen shot 2016-09-28 at 5 00 23 pm](https://cloud.githubusercontent.com/assets/431270/18936542/163ba86e-859d-11e6-9c81-410eb8716e77.png)

![screen shot 2016-09-28 at 5 00 48 pm](https://cloud.githubusercontent.com/assets/431270/18936552/23cf5

[2016-09-29 00:09] givanse commented on #604
Interesting, the inspector worked after removing the welcome addon, `"ember-welcome-page": "^1.0.1",`.

[2016-09-29 00:13] locks commented on #604
@givanse `ember-welcome-page` is actually an express middleware that serves the page in your screenshot above when the application doesn't have any templates. We are aware of this problem and are working on it!
Thanks for reporting, I'm closing the issue as it isn't entirely related to Inspector. Feel free to keep track at the `ember-welcome-page` repo, or ask us on Slack!

[2016-09-29 00:13] #604 closed

[2016-09-29 12:44] arjunkathuria commented on #249
@teddyzeenny @locks what issue ? :trollface:

[2016-09-29 13:22] locks commented on #249
Merged! :D

[2016-09-29 13:22] #249 closed

[2016-09-29 23:54] ksnyde opened #605 "Cannot read property 'constructor'"
I am getting a number of errors when I try to migrate an application from 2.8.0 to 2.9.0-beta.4. The issue always presents with: `Cannot read property 'constructor'` and the trace consistently starts as:

![2016-09-29_23-17-16](https://cloud.githubusercontent.com/assets/980757/18975648/87c5ccc4-86a3-11e6-9a24-a94e4dfbf19c.png)

The end of the trace seems to vary:

![2016-09-30_00-34-32](https://cl

[2016-09-30 01:37] gvelesandro opened #606 "EmberInspector breaks with an empty project"
Repro:
1) Install Ember Inspector
2) create `ember new project`
3) Run `ember s`
4) Open the app in a browser,
5) Navigate to Inspector | Ember Inspector
6) Notice that the inspector is not responsive

[2016-09-30 03:53] locks commented on #606
Thank you for reporting, duplicate of https://github.com/emberjs/ember-inspector/issues/584. We are currently fixing ember-welcome-page so this doesn't happen!

[2016-09-30 03:53] #606 closed

[2016-09-30 13:20] ksnyde commented on #605
Today I'm working on a new component which has far few dependencies but still exhibits the same issue. Probably a better starting point for troubleshooting; the `package.json` is:

[code]

The `bower.json` is:

[code]

While there were several of this type of error reported with this configuration, this stack trace is the most common:

![image](https://cloud.githubusercontent.com/assets/980757/189

[2016-09-30 14:03] ksnyde commented on #605
Some good news, some bad news ... it is VERY VERY easy to recreate this error. Create a new addon and you'll have it. The bad new is that no one working on an addon can use the tree view of the Inspector.

[2016-09-30 14:12] locks commented on #466
Closing due to inactivity.

[2016-09-30 14:12] #466 closed

[2016-10-01 19:04] teddyzeenny commented on #605
Thanks for reporting this. Unfortunately some of APIs the inspector was using were changed from 2.9.beta-3 to 2.9.beta-4 so the inspector no longer works with the latest beta.

You can downgrade to beta-3 to use the inspector or wait for us to publish a fix.

[2016-10-01 21:03] #605 closed

[2016-10-01 23:45] teddyzeenny commented on #561
This should be fixed even on old Ember versions. Can someone please confirm?

[2016-10-01 23:46] blimmer commented on #561
I still see this message every time I use the ember inspector

[2016-10-01 23:49] teddyzeenny commented on #561
@blimmer what is your current inspector version?

[2016-10-01 23:54] blimmer commented on #561
I guess I'm on 1.10?

![](https://i.imgur.com/5cavZnd.png)

But it looks like the current version is 2.0.3?

![](https://i.imgur.com/V6WLkfk.png)

It's not clear how to update this in chrome, though... very strange.

[2016-10-02 00:01] teddyzeenny commented on #561
@blimmer you will always see the 1.10 version in the "Info" tab because you are on Ember < 2.7. The version I need is the one that shows up in `chrome://extensions`.

[2016-10-02 15:26] ksnyde commented on #605
Thanks Teddy and good to know about being able to use beta-3 for now.

[2016-10-02 15:27] teddyzeenny commented on #605
@ksnyde I published a new version yesterday. Can you check if the issue has been fixed?

[2016-10-02 15:56] blimmer commented on #561
![](https://i.imgur.com/QXpDE3A.png)

[2016-10-02 16:38] teddyzeenny commented on #561
Yes you're one patch version behind.  I need confirmation that 2.0.3 solves this issue.

[2016-10-02 17:21] blimmer commented on #561
Sorry for all the confusion - I thought Chrome would "just work" and always keep me up to date. I figured out how to force update and can confirm that the message is now gone.

[2016-10-02 17:37] NickChristensen commented on #561
Just force-updated to Ember Inspector to 2.0.3, can confirm it works with my Ember 2.5.1 app. Thanks for this fix!

[2016-10-02 17:40] locks commented on #561
Thanks for the confirmation everyone, and thanks for the fix @teddyzeenny!

[2016-10-02 17:40] #561 closed

[2016-10-09 14:13] locks commented on #346
Addressed by https://github.com/emberjs/ember-inspector/pull/599.

[2016-10-09 14:13] #346 closed

[2016-10-10 19:27] arjunkathuria commented on #214
@locks ping!
got some time on my hands next 1-2 days, can you please define the issue for me, like you do. 😼

[2016-10-11 09:34] vanadar opened #609 "Cannot inspect a model in detail"
Hello,

If I want to inspect a model (by clicking on an instance of a EmberData model) I have the following error:

[code]

I'm using
Ember 2.8
Ember-data 2.8.0
Ember Inspector 2.0.3

[2016-10-11 09:38] teddyzeenny commented on #609
Which Ember Data version?

[2016-10-11 09:41] vanadar commented on #609
the version of Ember-Data is also 2.8.0

[2016-10-12 11:57] teddyzeenny commented on #609
I'm unable to reproduce this. Can you reproduce it in jsbin, an online app, or a public repo?

[2016-10-12 16:46] abrinckm commented on #580
@cwilli34, Having the same problem. Have you discovered any workarounds?

[2016-10-12 16:53] teddyzeenny commented on #580
Did you try visiting the route that's importing ember infinity with the inspector closed? I highly doubt this an inspector issue.

[2016-10-13 16:19] cwilli34 commented on #580
Sorry guys.  Forgot to tell you that this is definitely a ember-infinity issue, and if you update to the latest version of ember-infinity the error went away.  At least on my setup.

[2016-10-13 17:15] teddyzeenny commented on #580
👍

[2016-10-13 17:15] #580 closed

[2016-10-20 14:43] #598 closed

[2016-10-25 10:44] locks commented on #214
@arjunkathuria you need to find the place where the logic of the `$E` binding to the console is, and make it also log the `toString` of the object, so we have a better idea what it is.

[2016-10-25 12:03] GavinJoyce opened #611 "Inspector seems to alter child route loading substate"
Opening the inspector on the routes tab seems to alter the behaviour of the child route loading substate. See https://github.com/GavinJoyce/glammer/pull/8 for an app which demonstrates the issue.

With the inspector closed:

![before](https://cloud.githubusercontent.com/assets/2526/19685156/fb307812-9ab2-11e6-8332-00437b65494e.gif)

With the inspector open on the routes tab (notice that the child

[2016-10-26 13:03] locks commented on #611
Hm, this one's going to be a doozy.

[2016-10-27 11:26] teddyzeenny commented on #611
Looks like `router.getHandler('parent.child_loading')` actually generates a `parent.child_loading` route if it doesn't exist. So as the inspector loops over the route names and calls `getHandler` on them it is unintentionally creating the (empty) route `parent.child_loading` which takes precedence over `parent/loading`.

We should maybe consider using container lookup instead of the route's `getHa

[2016-10-27 13:31] teddyzeenny commented on #611
Ok the solution is to add [this check](https://github.com/emberjs/ember.js/blob/77c51f6e80322c9f0bd189be6c3c7bb5054a1bd1/packages/ember-routing/lib/system/router.js#L1184-L1188)  on all `_loading` and `_error` sub routes.

[2016-10-28 07:58] #611 closed

[2016-10-28 09:34] teddyzeenny commented on #611
@GavinJoyce thanks for reporting this, it must have been a tough one to debug! I just published a new version with the fix, can you confirm it's working? (Make sure you're on Ember Inspector 2.0.4).

[2016-10-28 09:50] GavinJoyce commented on #611
@teddyzeenny thanks for fixing, I just tried `2.0.4` and I can confirm that it has fixed the issue

[2016-10-28 15:00] graham-sportsmgmt commented on #508
Agreed.  The default theme is practically non-usable for regular use.

[2016-10-29 23:56] fotinakis opened #613 "Feature request: autogenerated entity-relationship diagrams"
Had a thought... it would be amazing to have a tab in the Ember Inspector that auto generates an ERD based on the current Ember Data models and their relationships.

Here's an equivalent in the Rails world:
https://github.com/voormedia/rails-erd

Which generates ERDs like:
![687474703a2f2f766f6f726d656469612e6769746875622e696f2f7261696c732d6572642f696d616765732f656e746974792d72656c6174696f6e736869

[2016-11-02 18:54] hjdivad commented on #613
@stefanpenner and i have done this internally, albeit in lolcode and not in a way that's publicly available.

@fotinakis do you have any cycles to work on this?  we could likely extract some of our efforts (much of which may already have been extracted in [dotbars](https://github.com/stefanpenner/dotbars))

[2016-11-02 20:01] stefanpenner commented on #613
i do like the coloring more, i should update ours

[2016-11-02 20:02] stefanpenner commented on #613
example @hjdivad mentioned:

dotbars file: https://github.com/stefanpenner/dotbars/blob/master/examples/er.dot
dotbars runner: https://github.com/stefanpenner/dotbars/blob/master/examples/er.js

@hjdivad we need to extract our traverser code and share it

[2016-11-02 20:05] stefanpenner commented on #613
![out](https://cloud.githubusercontent.com/assets/1377/19945356/0911221a-a0fd-11e6-826f-2329b7eab3cd.png)

[2016-11-02 20:08] stefanpenner commented on #613
My thought, is it would be likely best to generate an ER diagram for 1 model, and that ER diagram would be what it reaches. For example, we work on some complicated apps. A single ER diagram for those complex apps, would be... less the useful, and most likely would just crash the browser :P Although I should test if it would crash or not..

[2016-11-02 20:27] hjdivad commented on #613
Also focusing on one model is a very useful hint for graph layout.  Having the diagram drawn after you've selected a single model is i think the main use case

[2016-11-06 11:59] mpirio commented on #609
Hello,

This error appear when we use these models:

[code]

If we inspect `model1` with Ember Inspector, we have the same error. But if we comment `modelName` CP in `Base` model, no error...

We use this CP to get the `modelName` of a polymorphic relationship (see [How to get the modelname of a polymorphic relationship belongsto](http://discuss.emberjs.com/t/how-to-get-the-modelname-of-a-polymorp

[2016-11-07 14:31] GopinathJanakiraman opened #615 "Ember Inspector not working in my app"
Ember Inspector has errored.
This is likely a bug in the inspector itself.
You can report bugs at https://github.com/emberjs/ember-inspector.
Error message: attr is not defined
Stack trace: ReferenceError: attr is not defined
    at Module.callback (http://localhost:4200//assets/vendor.js:133627:18)
    at Module.exports (http://localhost:4200//assets/vendor.js:132:32)
    at Module.reify (http://

[2016-11-07 14:48] teddyzeenny commented on #615
I think you forgot to either do `DS.attr` or `const { attr } = DS`. Please check your model files.

[2016-11-07 14:58] GopinathJanakiraman commented on #615
where ever I am using , Its there teddy `const { Model, attr,  hasMany} = DS;`

[2016-11-07 15:10] locks commented on #615
Do you also have `import DS from 'ember-data';`?

[2016-11-09 09:23] #615 closed

[2016-11-13 03:12] flopywood opened #616 "All HTML appear to not have a closing tag"
Every time I save my files, it throws: "Error: Closing tag `div` (on line 28) without an open tag". I deleted that div, and it gave me another error saying that its parent element didn't have a closing tag either. I may as well delete my entire HTML and it will still give me that error. I know there's no mistake because Atom says there are no issues with my code. What can I do?

[2016-11-13 04:28] #616 closed

[2016-11-13 15:45] teddyzeenny commented on #214
Fixed by https://github.com/emberjs/ember-inspector/pull/614

[2016-11-13 15:45] #214 closed

[2016-11-28 21:13] chancancode commented on #582
@teddyzeenny what is the status of this? do you need any new APIs from me? 😄

[2016-11-30 10:54] teddyzeenny commented on #582
@chancancode we'd need a way to know which components belong to which outlet without matching them through their controllers (which is what we're doing at the moment). The edge case that doesn't work currently when using controllers to match components to outlets is when multiple outlets use the same controller - all components will go under the first outlet.

That being said, tbqh I think our eff

[2016-11-30 23:23] SaladFork opened #618 "Ember 2.10 CHILD_VIEW_IDS error"
Not sure exactly what the cause of this issue is, but it's exposed by trying to use `this.set` to set a key on an object that is being iterated over in an `each-in`.

See: https://github.com/emberjs/ember.js/issues/14661

[2016-12-01 03:10] rwjblue commented on #618
Basically, ember-inspector is observing the `CHILD_VIEW_IDS` symbol on a component instance, which we set without `Ember.set`.

Associated links:

* https://github.com/emberjs/ember.js/blob/e34ed31a0ddf6dd43f375348a9f3f9ee11a0eb9c/packages/ember-views/lib/system/utils.js#L89
* https://github.com/emberjs/ember.js/blob/e34ed31a0ddf6dd43f375348a9f3f9ee11a0eb9c/packages/ember-views/lib/system/utils.js

[2016-12-01 10:04] teddyzeenny commented on #618
@rwjblue we need to update [this list](https://github.com/emberjs/ember-inspector/blob/e28c9185c3a8c1e99705a9791086c689a1b91c1b/ember_debug/object-inspector.js#L662-L674) to include new properties such as `CHILD_VIEW_IDS` and make it apply to components (it used to work when components inherited from `Ember.View`).

[2016-12-01 12:41] rwjblue commented on #618
Ya, but since `CHILD_VIEW_IDS` is actually one of our internal symbols it isn't a static value (it's actually randomly generated for each eval of Ember) and it is not exposed to the rest of the world (since it is technically private) we'll need a way to identify these types of properties...

[2016-12-01 12:50] teddyzeenny commented on #618
@rwjblue we can define a [_debugInfo](https://github.com/emberjs/ember-inspector/blob/e28c9185c3a8c1e99705a9791086c689a1b91c1b/ember_debug/object-inspector.js#L652) method on the component where you can specify private properties. We already do that for ED models. I think we can avoid exposing the value of the symbol in this case.

[2016-12-07 00:31] froomzy opened #619 "Ember Inspector for Microsoft Edge?"
Hi all,

I have been doing some learning of Ember recently, and have been Edge as my browser.  I tried the bookmarklet, but that is a bit harder to setup then I would like on Edge. Because Edge and bookmarks are a bit silly looking. Or at least to me as a new user used to Chrome.

It made me curious though. Has anyone investigated porting the inspector to Edge? Is it something that could happen? O

[2016-12-07 00:53] stefanpenner commented on #619
may be possible re: https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/6508820-javascript-browser-extensions

[2016-12-07 02:03] #618 closed

[2016-12-07 10:21] teddyzeenny commented on #619
We'd need the ability to extend devtools using extensions. I took a very quick look at [the supported APIs page](https://developer.microsoft.com/en-us/microsoft-edge/platform/documentation/extensions/api-support/supported-APIs/) but didn't see anything related. I also found [this ticket](https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/15574155-allow-extensions-to-exi

[2016-12-08 22:35] rankam opened #621 "Doesn't work with Chrome Version 55.0.2883.75 (64-bit, OS X) & ember-cli"
<img width="1280" alt="screen shot 2016-12-08 at 10 34 07 pm" src="https://cloud.githubusercontent.com/assets/3443458/21030473/8ebf5016-bd96-11e6-8683-19bfa109b8f8.png">

I've also edited chrome://extensions:

<img width="1276" alt="screen shot 2016-12-08 at 10 42 16 pm" src="https://cloud.githubusercontent.com/assets/3443458/21030694/e2b62aa4-bd97-11e6-8c6f-a1c0a9b93c7f.png">

Using ember-cli: 2.

[2016-12-09 09:16] locks commented on #621
Are you sure you used Ember CLI v2.10.0?

[2016-12-11 03:20] rankam commented on #621
Yes, absolutely positive.

[2016-12-11 03:40] rwjblue commented on #621
I am assuming this is the prior iteration of the welcome-page issue (where the welcome page itself wasn't an actual ember app).

Please provide a demo repo so we can confirm...

[2016-12-20 19:05] ryanlitalien commented on #562
@teddyzeenny I tried a first pass, as I needed the sorting as well. I'd be super gracious if you could implement sorting on model properties!

[2016-12-21 22:24] jreading opened #623 "Inconsistent Version Number"
Not sure why I have the same browser reporting two different version numbers for the inspector on two different apps.

![screenshot at dec 21 17-22-22](https://cloud.githubusercontent.com/assets/301830/21408263/1295cf7c-c7a2-11e6-8796-cd747c97acd9.png)

Any idea what this is? Is this intended? I think it's related to some other issues I am having with the data tab and model fragments.

This is the

[2016-12-22 01:09] dmagunov commented on #621
I'm also have issue with detecting ember application on latest nwjs builds (with Chrome >= 55)

[2016-12-22 11:27] teddyzeenny commented on #623
Ember < 2.7 apps use Ember Inspector 1.10.0. Ember >= 2.7 apps use Ember Inspector latest. This is so we can drop support for old Ember versions without breaking the inspector for old apps.

[2016-12-22 11:27] #623 closed

[2016-12-22 11:35] teddyzeenny commented on #623
If you're still having issues with the data tab feel free to open another ticket. It would be very helpful if you can provide a way to reproduce it of course.

[2016-12-22 14:44] jreading commented on #623
Ok, good to know it's not my app code responsible. My issue is with Model Fragments; I'll open a new ticket.

[2016-12-22 16:09] jreading opened #624 "Error with Data tab and Model Fragments"
Trying desperately to figure out where this is going wrong, and I have to believe that it's in the inspector. Getting the following warning when trying to use the Data tab with Ember 2.2.2 and model fragments 2.1.3:
[code]

Stack trace is not really much help. Thought the `Mf` was the issue (should be `MF`), but that's just a function of the error reporting.

App works fine and I can navigate to t

[2016-12-29 06:50] karthiick opened #625 "Getting error in console when using Ember Inspector: Assertion failed: TypeError: Cannot read property 'constructor' of undefined"
trace:

Assertion failed: TypeError: Cannot read property 'constructor' of undefined
    at controllerName (<anonymous>:4321:31)
    at shortControllerName (<anonymous>:4338:16)
    at _default.inspectController (<anonymous>:1679:71)
    at _default.inspectOutlet (<anonymous>:1653:28)
    at _default.makeOutletTree (<anonymous>:1397:34)
    at _default.makeOutletTree (<anonymous>:1399:35)
    at _

[2016-12-29 09:55] teddyzeenny commented on #625
Hi, is there a way for me to reproduce this?

[2016-12-29 14:44] locks commented on #625
You may be trying to call functions on a destroyed objects?

[2016-12-29 15:46] karthiick commented on #625
@locks As far as i can say, No.

After closing the modal, wherever i click, its landing in the error.

_this._runExpiredTimers(); => This seems to be a starting point in the trace.

[code]
The above line called when i render the modal-component. Issue seems to be related with `setTimeout`.

[2016-12-29 15:51] locks commented on #625
@karthiick if `this` is the modal, `this._boundRunExpiredTimers` is likely to be called on a destroyed object unless you guard for that. Another suggestion is to use `ember-concurrency` or `ember-lifeline`.

[2017-01-03 14:23] locks commented on #454
@Panman8201 and now? 👼

[2017-01-03 15:30] locks commented on #272
@teddyzeenny I was pretty sure we added a disclaimer?

[2017-01-03 19:38] Panman8201 commented on #454
@locks I think I could get a PR started for this, looks fairly straight. What is the best approach to communicate to all the child `{{deprecation-item}}` component instances? Kind of like actions-down.

[2017-01-03 19:41] nayan108 commented on #621
I have the same issue with Ember 2.10 running on Windows 10. Problem on both firefox and chrome extensions.

[2017-01-03 19:52] nayan108 commented on #621
OK. I think I have found the problem. If you simply do: ember new xyz; cd xyz; ember server; then you have the problem above. But if you edit the app by adding a model, route or template (any ember functionality, for that matter), then the inspector works fine. So, the default app that gets built out of the box does not seem to have ember functionality.

[2017-01-03 19:58] rwjblue commented on #621
Can you please run the following:

    npm ls ember-welcome-page

I suspect you are using 1.x which renders a static HTML page with no JS (and therefore does not work with the inspector). As of ember-welcome-page@2 it is part of a proper Ember app and should work with the inspector just fine.

[2017-01-03 21:01] locks commented on #621
Ember CLI v2.10 still comes with `ember-welcome-page@1` :\ This will stop being an issue as soon as Ember CLI v2.11 gets released, hopefully next week.

[2017-01-03 21:02] locks commented on #621
As it is I believe this might be a wontfix, unless some intrepid soul can find a way to minimally update the 1.x branch of `ember-welcome-page` to avoid this problem.

[2017-01-04 13:31] Panman8201 commented on #454
Dropping this here as an idea, not sure if it's the right approach though.

https://ember-twiddle.com/41da78414b88e3c514f7fc3a76f0a9ad?openFiles=components.deprecation-item.js%2Ctemplates.components.deprecation-item.hbs

[2017-01-04 18:45] tonedef commented on #524
Curious if there's any update to this. I love using the dark theme, it's easier on my eyes, it's always a bit of an "aah!" when I switch to the Ember Inspector tab.

[2017-01-04 21:19] locks commented on #524
@tonedef are you able to work on the dark theme and figuring out a detection mechanism?

[2017-01-05 09:55] teddyzeenny commented on #272
@locks yes we did.

![screen shot 2017-01-05 at 11 54 46 am](https://cloud.githubusercontent.com/assets/1061742/21676300/cb65522e-d33d-11e6-9643-82c40e2ddd4d.png)

[2017-01-05 10:47] #272 closed

[2017-01-17 13:03] tsteuwer opened #627 "How to add other items to the "info" pane?"
I'd like to add some things in the toolbar for when people are using it for debugging such as the version of inhouse addons and what not. Is this possible?

[2017-01-18 10:12] teddyzeenny commented on #627
If I understood the question correctly, you want to add additional libraries to the info tab? If that's what you need then you can call`Ember.Libraries.register(name, version)` in your app.

[2017-01-18 15:18] tsteuwer commented on #627
Where do you call this? In index.js?

[2017-01-18 17:32] teddyzeenny commented on #627
You can call it anywhere, doesn't even need to be part of the app. You can call it in `app/app.js`.

[2017-01-18 20:21] seanmhoffman opened #628 "Ember Inspector reporting incorrect version number in Info Pane"
I've been having difficulties recently debugging an ember application that uses liquid-fire using the ember-inspector. Presently I am unable to view any nested components of a liquid-outlet. Did some Googling and came across a GitHub Issue which references that issue and was fixed in the most recent update, https://github.com/emberjs/ember-inspector/pull/428. However when trying to determine what

[2017-01-19 11:03] locks commented on #628
@seanmhoffman what version of Ember is your application? The Inspector has an architecture where it loads a different Inspector depending on the version of Ember your application is using.
This was done so the Inspector can be updated more easily, and so one version doesn't have to support all versions of Ember, as that meant a lot of code just to check features and whatnot.

[2017-01-20 13:27] p0562153 opened #629 "Stack trace: TypeError: definedControllerClass.proto is not a function"
Ember Inspector has errored.
This is likely a bug in the inspector itself.
You can report bugs at https://github.com/emberjs/ember-inspector.
Error message: definedControllerClass.proto is not a function

Ember version => 2.10.0
Ember-cli => 2.10.1
Chrome => 55.0.2883.95
Ember inspector => 2.0.4

Issue to be occurring in chrome. Any idea ?

[2017-01-20 21:47] teddyzeenny commented on #629
It's a bit tough to tell. What I know is that `definedControllerClass` is a variable used by Ember core when accessing a controller's class to get its query params. The variable `definedControllerClass` is supposed to contain a controller class. The error here says that `definedControllerClass` doesn't have a `proto` method, and since all Ember Object classes have a `proto` method, my conclusion i

[2017-01-21 00:57] nag9329 commented on #285
Is there any progress on this issue?

[2017-01-21 09:35] p0562153 commented on #629
@teddyzeenny
thank you for your reply. i have checked all controllers and all are extend to Ember.Controller. I downgrade ember cli from 2.10.1 to 2.10.0. then this issue be solved.

[2017-01-25 13:35] Voles commented on #625
I'm experiencing the same issue after closing a modal using Ember Inspector v2.0.4 in Chrome v55.0.2883.95 (64-bit).

**Ember versions**

**Stacktrace**

[2017-01-27 16:56] Phoxly commented on #285
Still having this problem. Any updates?

[2017-02-02 02:25] ryanrishi opened #630 "TypeError: Cannot read property 'firstNode' of undefined"
Could be similar to #373 ...this happened when I was inspecting the view tree and checked the "components".

Ember v2.9.1
Ember Inspector v2.0.4
Ember Data v2.8.1

[code]

[2017-02-02 03:10] locks commented on #630
@ryanrishi hi, do you have a reproduction we can do to look into this?

[2017-02-02 18:26] ryanrishi commented on #630
No, unfortunately I don't have steps to reproduce this—just normal ember development.

[2017-02-06 20:26] jtrost opened #631 "Show all model attributes in the Data tab's list view"
The Ember Inspector only shows the first four attributes of a model in the Data tab. It would be convenient if it showed all of the attributes in list view. When viewing a model that returns many records, I sometimes want to quickly see a single attribute for every record, but I can't do this since list view is limited to four attributes.

The [Ember Guide](https://guides.emberjs.com/v2.11.0/ember

[2017-02-07 00:05] locks commented on #631
I'd say it's mostly for space and performance reasons. Horizontal scrolling is also iffy.

[2017-02-07 09:36] atalargo commented on #621
I have the same issue (with a real app not the welcome page) but with Vivaldi 1.6.689.40 (a chromium based browser and compatible wit hall Chrome extensions.) The extension works before with it and now, no (since some weeks, may be months)
Under MacOsX

[2017-02-07 13:26] locks commented on #621
I'm closing this as Ember CLI v2.11 with the new version of `ember-welcome-page` is out and this issue is resolved for new applications.
@atalargo if you're on 2.10 or lower, you need to create a template as instructed. You can reach us on Slack for further assistance, thanks.

[2017-02-07 13:26] #621 closed

[2017-02-07 14:14] dmagunov commented on #621
I have this issue not on the ember-welcome-page, with the real app running nwjs (Chromium >= 55 on Macosx

[2017-02-07 14:31] locks commented on #621
@dmagunov please open a separate issue with a reproduction, since this isn't related to `ember-welcome-page`.

[2017-02-07 23:14] teddyzeenny commented on #631
This limit is [set in Ember core](https://github.com/emberjs/ember.js/blob/cdcd3853a9e013f8963ab59fafd25560c4850ed5/packages/ember-extension-support/lib/data_adapter.js#L89) and is configurable. You can reopen `data-adapter:main` and set `attributeLimit: 100`. However, you should expect some UI issues as @locks mentioned.

[2017-02-10 21:25] ryanponce commented on #524
@stefanpenner Are you saying it would be worth it to create a dark theme specifically for the Ember Inspector as well as a mechanism for toggling between the dark and light themes for the Ember Inspector? Something like a 'Settings' tab or something?

[2017-02-11 04:14] knownasilya opened #632 "Support engines"
Currently there is no way to debug anything in an engine. None of the containers show up if defined in an engine.

[2017-02-11 13:24] locks commented on #628
Closing due to inactivity. Please re-open if the above comment wasn't clear enough!

[2017-02-11 13:24] #628 closed

[2017-02-11 13:26] locks commented on #603
Closing due to inactivity. Let us know if 2.7 indeed fixed it @jasalguero.

[2017-02-11 13:26] #603 closed

[2017-02-11 13:54] nightire commented on #587
Just test again in latest version with ember v2.11, seems it been solved already.

[2017-02-11 13:54] #587 closed

[2017-02-11 14:00] locks commented on #521
I'm closing this because I agree with Teddy that this seems more of an application code error than an Inspector error. The `()` surrounding the function in the original post seem out of place.
Please let us know if you have any developments, thanks!

[2017-02-11 14:00] #521 closed

[2017-02-13 18:32] rondale-sc opened #633 "routeNames.hasOwnProperty is not a function"
![screen shot 2017-02-13 at 1 30 20 pm](https://cloud.githubusercontent.com/assets/75710/22897153/a394cd98-f1f0-11e6-804a-a04fe4a49856.png)

Running into this error when visiting the routing tab in the Ember inspector.  Possibly an issue with Ember 2.12.0-beta.1

Inspector info:
![screen shot 2017-02-13 at 1 31 46 pm](https://cloud.githubusercontent.com/assets/75710/22897183/cd2fdd28-f1f0-11e6-88d

[2017-02-18 15:03] mansona commented on #200
Hi folks, we don't have any need for this anymore so I would like to close this issue. Seeing as it has had quite some discussion I thought I would ask first.

All happy for me to close this?

[2017-02-19 11:55] raido commented on #200
Yes.

[2017-02-21 14:03] byrnedo commented on #625
Also getting this on Ember 2.11.1

[2017-02-26 13:48] titov-andrei opened #634 "Error message: routeNames.hasOwnProperty is not a function"
[code]

[2017-02-26 14:11] rwjblue commented on #634
In Ember@2.12.0-beta.2 and higher [router.router.recognizer.names](https://github.com/tildeio/route-recognizer/blob/b22f56762fe9e61eeacc0c5e2cb794a39dabb21f/lib/route-recognizer/util.ts#L2)  is an object with a null prototype (`Object.create(null)`), so calling `hasOwnProperty` [here](https://github.com/emberjs/ember-inspector/blob/de338013f374e97c70ac9860cdc0c51453fbaaa4/ember_debug/route-debug.j

[2017-02-26 14:14] rwjblue commented on #634
https://github.com/emberjs/ember-inspector/pull/635 should address

[2017-02-26 20:45] #634 closed

[2017-02-28 04:04] dgavey commented on #625
I ran into this today on Ember 2.11.2 I tracked it down to a 'this.disconnectOutlet' command in our application route file.  I've tried to make a failing twiddle, but as of yet I can't make it fail.

I was able to workaround it by removing the disconnectOutlet command and instead using an IF in the template to control the removal of the rendered {{outlet}}

[2017-02-28 09:38] safeforge commented on #625
I had the same issue a couple of weeks ago with ember 2.11

The workaround I've used is to replace `disconnectOutlet` with `render` and pass it
an empty template.

Before:

[code]
After

[code]

[2017-03-02 00:45] duncan-bayne opened #636 "'Data' not responding to clicks"
I load my Ember app in development (running on my local machine), and click Data (`resource://ember-inspector-at-emberjs-dot-com/data/panes-0-0-0/index.html#data`).  I can see the data being used by my application, as expected.

If I load the same app in staging (running on an Amazon EC2 instance), Data does not respond to clicks in any way; it doesn't highlight, and it doesn't subsequently displa

[2017-03-03 13:35] brunowego opened #637 "Stack trace: Error: You attempted to access "size" on a factory manager"
I get confusing about that, I not find any use of "size" in my app.

[code]

*Versions*

[code]

[2017-03-03 18:48] locks commented on #637
Are you using Ember Data? What version?

[2017-03-03 18:55] brunowego commented on #637
Hi again @locks. Yes, ember-data v2.12.0-beta.4.

[2017-03-06 17:52] thedig commented on #632
waiting with bated breath for this one.

[2017-03-07 15:47] jakeleboeuf opened #639 "Cannot read property 'class' of undefined"
Ember Version:
[code]

Console error:
[code]

vendor.js
[code]

[2017-03-07 16:23] rwjblue commented on #639
Fixed in ember upstream in https://github.com/emberjs/ember.js/pull/14969. Will be included in 2.12.0 final when released.

[2017-03-07 16:23] #639 closed

[2017-03-08 09:50] asimisoft opened #640 "Error: hasMany is not defined"
![screen shot 2017-03-08 at 3 32 32 pm](https://cloud.githubusercontent.com/assets/14917043/23698707/a701cbe4-0414-11e7-8153-30810ec3095f.PNG)

I am getting above error and unable to debug Ember Inspector. Am I missing something?

[2017-03-08 09:54] asimisoft commented on #640
Sorry, my bad, I forget to add `DS` infront of `hasMany`

[2017-03-08 09:54] #640 closed

[2017-03-11 02:59] acorncom commented on #627
@tsteuwer looks like this issue can be closed?

[2017-03-11 03:01] acorncom commented on #631
@jtrost looks like this issue can be closed now?

[2017-03-11 03:56] #627 closed

[2017-03-11 03:57] #631 closed

[2017-03-15 20:01] josemarluedke opened #642 "Data tab is empty with Ember Data v2.12.0"
Using Ember Data v2.12.0, there is no model types listened.

![screen shot 2017-03-15 at 12 58 04 pm](https://cloud.githubusercontent.com/assets/230476/23968234/2a3da720-097f-11e7-9128-3343ab4e0618.png)

![screen shot 2017-03-15 at 12 58 24 pm](https://cloud.githubusercontent.com/assets/230476/23968324/811ef38c-097f-11e7-9573-350ecdb46ea3.png)

[2017-03-15 20:06] rwjblue commented on #642
What version of ember?

[2017-03-15 22:30] johnunclesam commented on #642
The problem here is ember-resolver v3.0.0.

[2017-03-16 19:17] josemarluedke commented on #642
Yep, I confirmed that with an older version of ember-resolver it works fine. Thanks @johnunclesam for pointing that out.

[2017-03-16 19:30] rwjblue commented on #642
@stefanpenner - Seems like we should roll back those changes in ember-resolver?

[2017-03-16 20:46] teddyzeenny commented on #642
@rwjblue what are the changes?

[2017-03-16 21:27] stefanpenner commented on #642
Strange, I totally tested this. Let me take a look this afternoon and fix.

[2017-03-17 18:30] bantic commented on #633
I have seen this as well. In my case, the inspector error disappeared after downgrading to ember version 2.11.0.

[2017-03-17 19:57] locks commented on #633
Repro: www.linkedin.com

[2017-03-17 22:03] gabrielgrant commented on #624
Any workaround for actually being able to browse the data? Accessing via routes > controller just lets you load the current model into the console, right?

[2017-03-21 18:16] jnfingerle opened #643 "Feature request: Make engine's store visible"
Using engines one can either use the application's store or have new one for the engine.

It would be great if I could select an engine's store in the data view instead of the application's store.

[2017-03-21 22:05] DamianGaleano9 commented on #642
I have the same issue, right now I'm using ember resolver 2.1.1 , I can't see my Data
![image](https://cloud.githubusercontent.com/assets/16900365/24172948/26a9e32a-0e58-11e7-9c0b-5354adaef882.png)

![image](https://cloud.githubusercontent.com/assets/16900365/24172975/38c5454a-0e58-11e7-807b-1c3c521ef075.png)

[2017-03-22 08:15] PoohOka commented on #642
Not only the data, but also all routes. The follow warnings happen when clicking on Routes tab in the inspector.

<img width="629" alt="screen shot 2017-03-22 at 3 10 05 pm" src="https://cloud.githubusercontent.com/assets/1761107/24187937/e971afe6-0f11-11e7-977f-dbcebdb3866b.png">
<img width="298" alt="screen shot 2017-03-22 at 3 10 31 pm" src="https://cloud.githubusercontent.com/assets/1761107/24

[2017-03-22 16:36] rwjblue commented on #633
This was fixed by https://github.com/emberjs/ember-inspector/pull/635, but that doesn't seem to be released yet?

[2017-03-22 23:37] curtisgr commented on #642
For those that find this issue before it is fixed, dropping down to the following works:

ember-resolver@2.1.1
ember-source@2.11.3
ember-inspector@2.0.4

[2017-03-23 10:48] vvscode commented on #603
@teddyzeenny

what if Ember is <=2.7 ? any solution?

[2017-03-23 21:37] mjsommer commented on #633
Having same issue, with:

Ember Inspector	2.0.4
Ember	2.10.0-beta.2-patched-beta+dafad266
Ember Data	2.12.0-canary.c2af5be
jQuery	2.1.4

How can I fix this, and see the routes?

[2017-03-24 13:08] peStoney commented on #625
@safeforge Thanks, I ran into the same issue and fixed it with your solution.

[2017-03-24 16:04] dzbo commented on #642
@curtisgr also work with latest ember-source 2.12.0

The only problem like said above is with latest ember-resolver 3.0.0
It works in this setup:

[code]

[2017-03-24 23:06] josemarluedke commented on #642
This issue has been solved with `ember-resolver@3.0.1`. For reference, see issue [here](ember-cli/ember-resolver#175).

[2017-03-24 23:06] #642 closed

[2017-03-25 22:05] acorncom commented on #636
@duncan-bayne I saw a similar report on this issue: https://github.com/ember-cli/ember-resolver/issues/175, does the new ember-resolver release fix your problem?

[2017-03-25 22:18] acorncom commented on #488
@trek Looks like we can probably close this issue then?

[2017-03-27 03:01] #488 closed

[2017-03-27 08:59] rmachielse opened #644 "DEPRECATION: Using "_lookupFactory" is deprecated."
When I am opening the ember inspector routes tab with Ember 2.12 I am seeing this warning:

![schermafbeelding 2017-03-27 om 10 56 47](https://cloud.githubusercontent.com/assets/2470404/24348485/2e72b702-12dc-11e7-828d-0285281e0bd5.png)

Probably [this line](https://github.com/emberjs/ember-inspector/blob/master/ember_debug/route-debug.js#L142) should use `factoryFor` when available?

[2017-03-30 19:09] mdconaway opened #646 "Prebuilt Ember Inspector Repo in NPM"
Hey Emberinos,

The ember inspector is the bees knees.

Just wanted to drop you guys a line and let you know I published a pre-built version of this wonderful browser extension on npm. (Using 2.0.5 from the stable branch)

It can be found here:
https://www.npmjs.com/package/ember-inspector-prebuilt
https://github.com/mdconaway/ember-inspector-prebuilt

This is particularly useful for developers wh

[2017-04-07 17:43] mixonic commented on #633
This seems to be closed in #635 and released. Closing for now, please re-open if I have missed something.

[2017-04-07 17:43] #633 closed

[2017-04-07 18:17] #644 closed

[2017-04-07 18:19] mixonic opened #648 "3 errors in tests re: view tree"
<img width="718" alt="screen shot 2017-04-07 at 11 18 47 am" src="https://cloud.githubusercontent.com/assets/8752/24813736/079995d2-1b84-11e7-9e94-309ee21afc33.png">

[2017-04-10 01:53] rajeevr008 opened #649 "How to read excel file in emberjs and electron"
I am making a desktop app using emberember.js and electronelectron. I need to read data from excel file- How to read excel file in emberjs. I've no clue about it, really appreciate if you can help

[2017-04-10 01:55] rajeevr008 opened #650 "EmberJs error for excel parser"
Hi I am trying to integrate ember with electron and used XLSX parser inside services to read my local excel file. but when i am injecting it to my route m getting this error. plz help

![image](https://cloud.githubusercontent.com/assets/20997692/24843283/deef232a-1dd3-11e7-92c7-ee9ad6ad3a9d.png)

[2017-04-10 10:25] locks commented on #649
Duplicate of https://github.com/emberjs/ember-inspector/issues/650.

[2017-04-10 10:25] #649 closed

[2017-04-10 10:27] locks commented on #650
Hi @rajeevr008, this does not seem an issue with Ember Inspector, which is a browser extension to inspect Ember applications. My suggestion is to post a Stack Overflow question, or check out the `#e-electron` channel in our Slack group. Good luck!

[2017-04-10 10:27] #650 closed

[2017-04-10 13:17] basicBrogrammer opened #651 "Styling doesn't show in Opera"
After using the instructions in the read me, ember inspector is added to the dev tools in Opera, but the styling is not loaded.
![image](https://cloud.githubusercontent.com/assets/6913826/24863376/92f27ba2-1dce-11e7-90c3-baf0646eec31.png)

[2017-04-11 18:30] Asherlc commented on #366
I'm getting this error with v2.0.5 when clicking the "Render Performance" tab

[2017-04-18 03:16] cyril-sf commented on #648
I'm looking at it.

So far I'd bet for a loose dependency because if I revert to the latest commit that was passing tests, I get the same error.

It seems related to vertical-collection. The proper array is passed to it, but only one element from this array gets rendered.
https://github.com/emberjs/ember-inspector/blob/master/app/templates/view-tree.hbs#L2

[2017-04-20 09:46] #648 closed

[2017-04-21 16:26] cyril-sf commented on #651
Fixed by #652

cc @teddyzeenny

[2017-04-21 16:27] cyril-sf commented on #643
I may look into it as I need it too.

[2017-04-21 16:29] cyril-sf commented on #632
What do you mean by anything?

Beside the data tab, what else doesn't work?

[2017-04-21 16:50] knownasilya commented on #632
Nothing shows up in Containers, so services and any custom objects that get registered on the container.

[2017-04-21 22:59] nijikokun opened #653 "You may not set `id` as an attribute on your model."
Whenever I create a custom `RESTSerializer` to format a non-standard API request to validate with `RESTAdapter` / `Serializer` I get the following issue **only inside of ember-inspector** and cannot use ember-inspector at all:

[code]

**Note**: My model does **not** have any `id: attr('string')` on them in the code.

Here is the custom serializer at work:

[code]

Here are my ember details:

[cod

[2017-04-22 00:29] locks commented on #651
Thanks for the reminder, but especially for the fix!

[2017-04-22 00:29] #651 closed

[2017-04-24 22:23] cibernox commented on #590
I will try to work on this as soon as I can put a couple hours in a row

[2017-05-01 21:00] rmachielse commented on #632
I think the biggest issue is that the routes tab crashes completely with engines (see ember-engines/ember-engines#385) because the route handler is being resolved asynchronously. Would a pr be desired?

[2017-05-02 00:59] bgentry opened #656 "lookupFactory deprecation fix not yet released"
On a recent version of Ember (v2.12 or v2.13), the inspector causes a ton of deprecation warnings from the lookupFactory deprecation. It looks like this was resolved in https://github.com/emberjs/ember-inspector/pull/645 but never released. I tried following the trail but couldn't tell if there were still blockers preventing a new release.

Any way we could get a new version published? :pray:

[2017-05-02 01:05] bgentry opened #657 "`router` usage is deprecated"
[This line](https://github.com/emberjs/ember-inspector/blob/268503b5dd724bcb4991b907869ec152ae28236a/ember_debug/route-debug.js#L46) causes the following deprecation warning on Ember v2.13.0:

I'll send a PR shortly because it's apparently just a simple rename: https://emberjs.com/deprecations/v2.x/#toc_ember-router-router-renamed-to-ember-router-_routermicrolib

[2017-05-02 16:40] wellington1993 opened #659 "Disable but: call to eval() blocked by CSP"
Hi,

Sometimes I got this error message from console on some non ember pages:
[code]
The strange is the message still appears after disable the extension.
I'm have the Firefox Nightly as Browser.

Sorry if duplicated or irrelevant.

Thanks.

[2017-05-05 01:34] myartsev opened #660 "Cannot read property 'dependencies' of undefined"
When attempting to inspect the routes for [https://www.linkedin.com/feed/](https://www.linkedin.com/feed/) there is an error in the console and none of the routes are loaded in the inspector.

[code]

![ember_inspector_linkedin_routes](https://cloud.githubusercontent.com/assets/4885345/25731112/fe4d475e-3108-11e7-8b01-3b819958d637.png)

[2017-05-07 21:23] jgelens opened #661 "Not multiprocess compatible (Firefox)"
Got an error in FF nightly that the extension is not multiprocess compatible; with a link to the following page: https://wiki.mozilla.org/Add-ons/ShimsNightly

[2017-05-07 22:18] locks commented on #661
Thanks for the report :) You don't happen to have experience with this that you can help us out?

[2017-05-07 22:21] jgelens commented on #661
No, sorry, never developed a plugin for Firefox :( . Just wanted to report this, because I guess it's kinda important for future stable versions.

[2017-05-16 16:38] clarkbw commented on #661
We should start looking at Firefox using the WebExtension code and this error will go away.

[2017-05-17 14:37] KillaPL opened #663 "Unusable urls after moving ember to 2.12 or 2.13"
Hello

My application currently stands on ember 2.11, ember data is on 2.13 and ember cli is on 2.13. We are currently blocked from moving to 2.13 because when we do, Urls section in ember data is broken like this:
![undefined_urls](https://cloud.githubusercontent.com/assets/1272828/26159491/fecdcff8-3b1e-11e7-85bb-da091ec6b853.png)

Is this a known issue, and is there a known solution? If not, wh

[2017-05-17 14:53] basicBrogrammer commented on #651
Awesome Thanks !

[2017-05-19 12:40] vanne commented on #663
Same here. Having exactly the same problem with freshly generated empty app (as well as with existing apps updated to 2.12).

ember-cli: 2.12.3
node: 6.10.3
ember inspector: 2.0.6

<img width="1049" alt="screen shot 2017-05-19 at 14 37 35" src="https://cloud.githubusercontent.com/assets/20854/26248019/c9c50154-3ca0-11e7-8908-14057f6fe095.png">

[2017-05-25 13:41] duart commented on #625
As of today, bug still exists (Chrome 58.0.3029.110 (64-bit), Ember Inspector 2.0.6.
**@safeforge** Thanks, your solutuion also worked for me.

[2017-05-29 13:28] kumkanillam opened #664 "Hiding inspector is not working now. earlier it used to work"
I used to define  `window.NO_EMBER_DEBUG = true`  inside app.js file, this configuration earlier it was working. but now it stopped working.  related #195 . Is there anything do I need to do disable inspector for production build.

[2017-05-29 16:02] locks commented on #664
I can't reproduce it, setting `window.NO_EMBER_DEBUG = true` does what is expected.
Can you provide more information on versions, and ideally a reproduction?

[2017-05-29 18:04] kumkanillam commented on #664
Discussed and solved it on #-ember-inspector slack channel thanks to @teddyzeenny  and @locks . Problem is, I have written this configuration inside `ready` hook of the `Ember.Application`. Actually, we need to set `window.NO_EMBER_DEBUG = true` before Ember is loading. Either it can be placed inside app.js file like the below,
This will enable inspector in development mode and disable it in produ

[2017-05-29 18:04] #664 closed

[2017-06-01 12:17] wellington1993 opened #665 "Add support to Firefox Nightly: 55.0a1 (2017-05-31) (64-bit)"
Hi,

please add support to Firefox Nightly 55.0a1 (2017-05-31) (64-bit) and add to multiprocess (Like another issue)

Thanks!

[2017-06-01 18:55] clarkbw commented on #170
We can probably close this issue.

[2017-06-01 19:20] clarkbw opened #666 "Convert Firefox add-on to use the Chrome WebExtension"
Here's a tracking issue to pull in all the related pieces needed to make the current WebExtension work within Firefox.  Firefox 57 (coming in November) will be removing support for the add-on SDK and should have full support for all the WebExtension APIs used here.

- [x] `chrome.extension.onConnect` used [here](https://github.com/emberjs/ember-inspector/blob/master/skeletons/chrome/background-scr

[2017-06-01 19:44] #170 closed

[2017-06-01 19:55] clarkbw commented on #666
Here's where the progress is so far: https://github.com/emberjs/ember-inspector/compare/master...clarkbw:firefox-webextension

I'm actually now running into an issue that seems present on Chrome as well as Firefox and prevents the panel from running at all.

[2017-06-01 20:02] clarkbw commented on #666
Just ran into this odd bug when making this change f19eab946f3e68c5c25afa7694af72b5c8da62bc where the icon color is inverted when not selected.  I believe its [bug 1366755](https://bugzilla.mozilla.org/show_bug.cgi?id=1366755) and hopefully it will get fixed soon.

Before | After | Bug when not selected
--------- | --------- | ----------
<img width="161" alt="screen shot 2017-06-01 at 3 57 05 pm"

[2017-06-02 08:33] locks commented on #665
Duplicate of https://github.com/emberjs/ember-inspector/issues/666 and https://github.com/emberjs/ember-inspector/issues/661

[2017-06-02 08:33] #665 closed

[2017-06-02 08:34] locks commented on #661
Issue tracked at https://github.com/emberjs/ember-inspector/issues/666!

[2017-06-02 08:34] #661 closed

[2017-06-02 08:37] locks commented on #666
@clarkbw thank you for the help, it's very appreciated! Anything on the Ember side blocking you?

[2017-06-02 10:54] clarkbw commented on #666
Thanks @locks! I'm seeing an error when running the WebExtension in both chrome and Firefox. Is there an issue tracking something? I'll check my install again, it feels like I have a newer version of some npm / bower package that is breaking things.

[2017-06-02 11:45] clarkbw commented on #666
This is the error I'm seeing in the the extension (Chrome & Firefox): https://stackoverflow.com/questions/44003015/ember-js-typeerror-ember2-default-string-is-undefined-ember-s

[2017-06-02 13:26] clarkbw commented on #666
Here's what the error looks like in the Chrome console: (this is coming from master and not just my branch)

[code]

[2017-06-08 20:05] albertpak commented on #643
has there been any update on this issue?

[2017-06-09 14:52] clarkbw commented on #666
The fix for this just landed and ship with Firefox 55

[2017-06-14 15:56] sandstrom commented on #471
This may be solved when moving to the WebExtension API: https://github.com/emberjs/ember-inspector/issues/666

[2017-06-14 15:56] sandstrom commented on #659
I think this is a duplicate of https://github.com/emberjs/ember-inspector/issues/471 and can be closed.

[2017-06-15 16:52] #659 closed

[2017-06-15 17:53] robneville73 opened #672 "add a refresh button for Data tab like you do for Container"
For apps like mine where there are some models that are created on the fly via queried metadata, it'd be nice to be able to tell the inspector to requery the app registry for newly defined models. (or alternatively, we may be doing something wrong that's preventing them from showing up but being otherwise usable).

[2017-06-17 12:30] jjff55 commented on #119
Opera has reappeared in the browser market. After fist days of usage I have to say, it is really fast and is more enchanting than others now, at least for me. So I'm missing the ember-inspector.

[2017-06-17 12:32] jjff55 opened #674 "Reopen #119, Inspector for Opera"

[2017-06-17 15:43] #674 closed

[2017-06-17 15:50] locks commented on #119
You can install Chrome extensions in Opera, can you try that and see if it works?

[2017-06-20 07:02] locks commented on #656
I believe this is out, please reopen if otherwise!

[2017-06-20 07:02] #656 closed

[2017-06-20 07:03] #646 closed

[2017-06-20 15:39] shoxter opened #677 "Search View Tree"
Sometimes we have hundreds of components in the view tree at a given time and it would be extremely useful to be able to search the contents of that view tree for a specific component.

Thoughts?

[2017-06-21 19:53] #625 closed

[2017-06-22 03:43] mfeckie opened #678 "Cannot access data pane on 2.0.6"
On trying to access the data pane, I am unable to enter and get an error message:

[code]

The error seems to be happening somewhere around here:

[code]

I've tried it with multiple applications and consistently get the error.

[code]

[2017-06-26 05:14] bekzod opened #680 "Maybe also show ember-cli version in info tab ?"
I think only ember-cli version missing from `info tab`

[2017-06-26 07:15] locks commented on #680
@bekzod I'm not sure that is exposed, and would only be available during development, right?

[2017-06-26 07:19] bekzod commented on #680
@locks yeah its not exposed, it needs some modification either in `ember-cli` or in `ember-app-version` addon so it passes `emberCLIVersion` to environment so it can be picked up by ember-inspector I guess :)

[2017-06-26 07:20] locks commented on #680
cc @stefanpenner @twokul

[2017-06-26 07:29] bekzod commented on #680
maybe `ember-cli` can pass additional analytics data to `ember-inspector` along side version, not sure what though :P

[2017-06-26 08:08] locks commented on #643
@albertpak nope, is this something you're interested in helping with?

[2017-06-26 08:17] #657 closed

[2017-06-26 14:46] twokul commented on #680
might be asking a stupid question here but what's the value of seeing `ember-cli` version in the browser? why would that info be useful for a developer?

[2017-06-26 16:22] locks commented on #680
@twokul flipping this on its head, don't we want to expose it for better errors at least?

[2017-06-26 16:30] twokul commented on #680
@locks yeah I think so

[2017-06-26 16:34] twokul commented on #680
but it makes sense there, as we want to expose all build tool info there. I'm not pushing back, just genuinely trying to understand

[2017-06-26 17:39] stefanpenner commented on #680
in development or in production? In dev seems totally fine, prod would leak what version of tools people are using on there laptops, which makes me nervous.

[2017-07-01 17:10] andyhot commented on #680
I don't see any value in this. What may be important are the dependecy versions in the package.json but still...

[2017-07-06 00:43] #200 closed

[2017-07-07 16:24] locks opened #689 "Implement "Inspect component" contextual menu"
When right-clicking a DOM element in the page, the contextual menu should have an "Inspect Ember component" option that takes you to the appropriate Inspector route.

See ["Inspecting components just got easier"](https://medium.com/the-vue-point/whats-new-in-vue-devtools-4-0-9361e75e05d0) for inspiration.

[2017-07-11 05:21] rjschie commented on #678
Likewise, my data pane has been causing the browser tab to lock up and stop functioning. No errors that I can see, just unresponsive.

Ember Inspector: 2.0.6
Ember: 2.13.4
Ember Data 2.14.3

[2017-07-11 05:48] mfeckie commented on #678
Interestingly I discovered that I had a 'rogue' module in the `models` folder which was causing the issue.

[2017-07-11 05:48] #678 closed

[2017-07-18 22:03] clarkbw commented on #666
Tried this again but I'm hitting the same error in Chrome and Firefox just in the master branch of this repo, not my own changes.

Here's another stack overflow issue I found that's similar to the error I'm seeing.
https://stackoverflow.com/questions/44475787/emberjs-ember-load-initializers-error-after-newer-npm-install

@locks if you have any idea what's happening here or how I can fix it I'd app

[2017-07-21 08:14] KillaPL commented on #663
This seems to be fixed by https://github.com/emberjs/ember-inspector/commit/3a012d8db1e3f177f42a51735fddbc75457bd313 . Can't wait to get on it!: )

[2017-07-21 09:21] bsvipas opened #690 "Chrome freezes tab with Ember Inspector extension"
Hello,

I'm using latest Chrome and Ember Inspector extension. The problem is, when you enable Ember Inspector extension and you go to the `Data` and use `unloadRecord()` for e.g. I have `Delete` button which unloads record after delete and when I press it Chrome tab will freeze and uses a lot of memory and CPU. When I turn off ember extension everything works fine with developer tools opened, but

[2017-07-21 09:47] bsvipas commented on #690
Seems it also freezes if extension is just enabled, but you're not in `Data` with Ember Inspector. But to reproduce it 100% you need go to the `Data`.

[2017-07-25 08:34] kumkanillam opened #691 "DEPRECATION: Usage of router is deprecated thrown when access #/Routes tab"
When I access #/Routes tabs, it's throwing deprecation warning.

[code]

[2017-07-25 11:02] locks commented on #691
Did you address this one when you upgraded @cibernox?

[2017-07-25 12:16] rwjblue commented on #691
Should have been fixed by https://github.com/emberjs/ember-inspector/pull/658. Are there other situations where we were hitting the deprecation that weren't fixed? Have we perhaps not released since that was merged?

[2017-07-25 12:31] locks commented on #691
I don't think we have.

[2017-07-30 14:02] ewjoachim commented on #690
I have no idea if it's linked, but I have another case of Chrome + Firefox freezing + using 100% of CPU when selecting a specific model on the Data panel... I'll try to minimize the setup for reproducing the bug.

[2017-07-30 16:31] ewjoachim commented on #690
For what it's worth, it seems other people have been posting messages on Slack related to problems that look similar :

https://embercommunity.slack.com/archives/C04ENQPFW/p1501207850719655

I just upgraded ember-data from 2.14.4 to 2.14.7 today and now when I try to view models inside of the data part of the inspector chrome just starts eating memory, the page becomes completely unresponsive and

[2017-07-30 22:20] ewjoachim commented on #690
For me the problem is not visible with ember-data 2.13.2 and is there with 2.14.x, whatever the x (up until 7).

[2017-08-04 15:33] stephanebruckert commented on #690
Same here, happens only when the data tab of the ember inspector is open. In my case it's caused by `destroyRecord()` which probably clears the data the same way as `unloadRecord()` (used by OP) does.

[code]

Initially thought something was wrong in my code and took me a long time to figure it wasn't the case, as I always keep the data tab open! :sweat_smile:

[2017-08-04 18:09] bsvipas commented on #690
@stephanebruckert Everything is same for me. Even the last sentence 😄

[2017-08-05 11:49] teddyzeenny commented on #666
@clarkbw I'm on it!

[2017-08-06 00:35] cibernox opened #697 "Bug caused by removing jQuery: Clicking on an object does not open the properties panel"
This bug is caused by some subtle changes in how `event.target` works in jQuery vs Native Events when using delegation.

I'm already tracking it.

[2017-08-07 13:14] kernel-io commented on #690
Also happening to me, luckily it did not take me long to figure out it wasn't my fault considering it is a new project 😄

[2017-08-07 13:26] stephanebruckert commented on #690
I wrote my `destroyRecord` a bit differently and the issue is not happening anymore:

          // hack https://github.com/emberjs/data/issues/4972#issuecomment-312301105
          this.get('store')._removeFromIdMap(this.get('model.calendarToken')._internalModel);
          this.get('model.calendarToken').destroyRecord();

according to https://github.com/emberjs/data/issues/4972#issuecomment-31230

[2017-08-08 13:24] abdullah2891 opened #699 "Ember inspector is not compatiable with chrome dark mode"
The options are getting lost in dark mode. I can't use Ember inspector with dark mode on
![image](https://user-images.githubusercontent.com/6827586/29073851-2bf9e2e0-7c1b-11e7-9ea6-87d81cffbdcc.png)

![image](https://user-images.githubusercontent.com/6827586/29073815-0c9e59f8-7c1b-11e7-9c51-aa88c3b25e94.png)

Version
Chrome : Version 59.0.3071.115
Ember Inspector 1.10.0
Ember 2.3.2
Ember Data 2.14

[2017-08-10 14:23] IAmJulianAcosta commented on #690
Check that your data is loading fine, had an issue with it in the last month, and it was caused by malformed/corrupt data, that freezes data tab. I had to comment the queries until I found the model that was causing the problem. YMMV

[2017-08-10 14:40] ewjoachim commented on #690
No kind of malformed data should silently bug and crash your tab, without even a single error message...

[2017-08-10 15:01] KillaPL opened #700 "Release of new version?"
Hey

I'd like to ask when could we expect the release of new version. It would seem that https://github.com/emberjs/ember-inspector/issues/663 is already solved, and will only require new version to be released.

[2017-08-10 20:34] IAmJulianAcosta commented on #690
I agree, but that probably will unlock other people with the same problem while is fixed :)

[2017-08-11 03:51] sammynave commented on #690
If this helps anyone, here's a project and steps to repro the issue: https://github.com/sammynave/freeze

[2017-08-11 14:50] urbany commented on #690
Got hit by this today, on ember-data@2.14.10 seems to happen when I delete an unsaved record

[2017-08-14 08:21] tomgazit commented on #690
experiencing the same issue....

[2017-08-14 08:27] slipster2525 commented on #690
I use Chrome (Version 60.0.3112.90 (Official Build) (64-bit)) + the latest Ember Inspector extension.
If I log into https://www.emberjs.com/api/ember/2.14/namespaces/Ember (Ember API website) and I browse the Ember Inspector the browser freezes when I click "Data".

[2017-08-15 09:52] #697 closed

[2017-08-15 11:32] locks commented on #699
Duplicate of https://github.com/emberjs/ember-inspector/issues/524, please refer to that issue.

[2017-08-15 11:32] #699 closed

[2017-08-22 09:40] pomm0 commented on #690
have the same problem, any news? :(

[2017-08-22 10:09] stephanebruckert commented on #700
Temporarily you could try to specify the commit you want as part of your `package.json`, have a look at https://stackoverflow.com/a/18049685/1515819

[2017-08-23 20:30] noxmwalsh opened #706 "'Cannot add property toString, object is not extensible'"
Hey all,

Our team has recently ran into this Ember Inspector related error with the latest 2.1.0 release that went out a few hours ago.  The quickest way to see this is to inspect any Ember model in the data store view.  Has anyone else experienced this?

[code]

The last part of that stack traces stops here:

[code]

at 'this.toString = makeToString(ret);' (ret being '(unknown mixin)')

We're us

[2017-08-23 22:31] charliemitchell commented on #706
I am also encountering the same issue, along with a co-worker.

Chrome Version 60.0.3112.101 (Official Build) (64-bit)
Ember Inspector | 2.1.0
Ember | 2.8.3
jQuery | 3.2.1

[2017-08-24 11:22] esse commented on #706
Same here.

Chrome Version: 60.0.3112.101 (Official Build) (64-bit)
Ember Inspector: 2.1.0
Ember: 2.8.3

[2017-08-24 14:32] campbecf commented on #706
Same.

Chrome Version: 60.0.3112.101 (Official Build) (64-bit)
Ember Inspector: 2.1.0
Ember: 2.8.3
Ember Data: 2.4.3

[2017-08-24 14:37] campbecf commented on #706
Oddly enough this only happens when using the inspector on a locally running ember project. Our released projects on staging / production do not have this issue.

[2017-08-24 14:56] rwjblue commented on #706
The issue is due to `Mixin.create` using `Object.seal` to seal the mixin that is created. This only happens in debug builds (so in production there will be no errors).

All of the reports here seem to be coming from users of Ember 2.8, is anyone getting this error on newer Ember versions?

[2017-08-24 16:29] aarkus7 commented on #706
Getting it on Ember 2.10

[2017-08-25 04:54] mapohjola commented on #706
Also having this problem on Ember 2.10

[2017-08-25 10:06] locks opened #707 "Compatibility with new modules API (Ember 2.16)"
With the release of Ember 2.16, it is planned that projects will now use the [new modules API (RFC 176)](https://github.com/emberjs/rfcs/blob/master/text/0176-javascript-module-api.md) by default.
However, you can already use them in your application if you have `ember-cli-babel` 6.6 or higher.

We are asking community members that have moved their addons and applications to new modules already to

[2017-08-26 08:42] nightire commented on #707
@locks It should be 2.1.0 instead of 2.0.1, isn't it?

[2017-08-26 10:17] teddyzeenny commented on #700
2.1.0 released.

[2017-08-26 10:17] #700 closed

[2017-08-26 11:54] teddyzeenny commented on #690
This is an Ember.js core bug for versions < Ember 2.11. In short, calling `toString` on a mixin also attempts to mutate that mixin by overwriting the `toString` method. In debug mode, Ember.js seals the `Mixin` instance by calling `Object.seal`, which prevents non-own properties from being added/changed.

This bug was fixed in [this commit](https://github.com/emberjs/ember.js/commit/f8f259a2e3c1d1

[2017-08-26 12:17] teddyzeenny commented on #706
This is an Ember.js core bug for versions < Ember 2.11. In short, calling `toString` on a mixin also attempts to mutate that mixin by overwriting the `toString` method. In debug mode, Ember.js seals the `Mixin` instance by calling `Object.seal`, which prevents non-own properties from being added/changed.

This bug was fixed by [this commit](https://github.com/emberjs/ember.js/commit/f8f259a2e3c1d1

[2017-08-26 12:27] teddyzeenny commented on #691
@kumkanillam can you please check if this is still happening on Ember Inspector 2.1.0?

[2017-08-26 12:37] kumkanillam commented on #691
@teddyzeenny Yes. 2.1.0 fixed the issue. thank you

[2017-08-26 12:37] #691 closed

[2017-08-26 12:44] teddyzeenny commented on #690
Thank you all for the detailed bug report. I was able to reproduce it and I'm investigating the issue.

[2017-08-26 14:03] #706 closed

[2017-08-27 13:45] teddyzeenny commented on #690
I identified the issue and proposed a solution https://github.com/emberjs/ember.js/pull/15604.
The downside is that this is not a bug in the inspector itself, which means you'll need to upgrade your Ember version to get the fix.

[2017-08-28 13:10] KillaPL commented on #700
Works perfectly, thank you!

[2017-08-28 13:10] KillaPL commented on #663
Works perfectly with new version, thank you!

[2017-08-28 13:10] #663 closed

[2017-08-29 17:38] Leooo commented on #706
@teddyzeenny can you release a new version for this fix please? Many thanks!

[2017-08-30 11:08] teddyzeenny commented on #706
@Leooo yes I will try to release either today or tomorrow.

[2017-08-30 16:17] jnthnwn opened #710 "Compact view tree listing for Name column"
It's difficult to view the names of the components when components are deeply nested, especially when working with a more compact single monitor setup. The current level of indentation causes the name of some components to be completely obscured by the adjacent column.

Is it possible to reduce the amount of indentation or use another visual indicator for nesting level?

[2017-08-31 15:46] richiethomas opened #711 ""Cannot add property toString, object is not extensible""
When developing on localhost, I click a model instance in the "Data" section of the Ember Inspector, the right-hand window (which normally shows details of that instance) fails to appear.  The window does appear when browsing in other sections of the inspector, such as "Containers".  I'm using Chrome v. Version 60.0.3112.113 (Official Build) (64-bit) on OSX 10.11.6.

Stack Trace:
`TypeError: Canno

[2017-08-31 20:27] metzelhoff commented on #711
I'm experiencing the same issue... Only in dev environment. I'm able to open inspector in production with no issues.

[2017-08-31 20:28] richiethomas commented on #711
Ditto- inspector works as expected on non-localhost domains.

[2017-08-31 21:26] metzelhoff commented on #706
Thank you for this fix! Looking forward to the release

[2017-08-31 21:28] metzelhoff commented on #711
@richiethomas check out issue #706. There is a fix and will be released within the next day or so.

[2017-08-31 21:58] locks commented on #711
Duplicate of https://github.com/emberjs/ember-inspector/issues/706, as mentioned above.

[2017-08-31 21:58] #711 closed

[2017-09-02 10:15] Leooo commented on #706
@teddyzeenny any update please?

[2017-09-02 12:19] teddyzeenny commented on #706
The new version is out, let me know if you still have any issues.

[2017-09-02 12:32] Leooo commented on #706
@teddyzeenny thanks, updated to 2.1.1, but now Ember Inspector does not open at all, having this error message:

Uncaught TypeError: Cannot read property 'impl' of undefined
    at getPrivateImpl (extensions::utils:130:30)
    at Event.publicClassPrototype.(anonymous function) [as addListener] (extensions::utils:148:20)
    at listenToEmberDebugPort (chrome-extension://bmdblncegkenkacieihfhpjfppoc

[2017-09-02 12:36] teddyzeenny commented on #706
@Leooo I don't recognize the error, seems like an internal Chrome error. Can you try restarting devtools or Chrome?

[2017-09-02 12:37] Leooo commented on #706
@teddyzeenny restarting chrome a second time fixed the issue. All good now thanks!

[2017-09-20 20:56] mikl commented on #666
Firefox 57 beta 1 dropped yesterday, so I wanted to try building this version to see how it works.

Not an expert when it comes to web extensions, but here is what I found:

<details>
  <summary>Click to view my findings, screenshots and all</summary>

If you load the extension as a temporary extension via the browser UI, the browser complains:

<img width="834" alt="screen shot 2017-09-20 at 22 3

[2017-09-20 21:43] locks commented on #666
@mikl thank you so much for taking the time to take detailed notes, screenshots and all!

[2017-09-22 02:24] davidwkeith commented on #680
Currently the Express server is sending a `x-powered-by` header of just "Express". If `ember-cli` were to customize that to be something like "ember-cli 2.15.1; node 8.1.4; os darwin x64", the inspector could pick it up and do the right thing without having to conditionally include developer tool info in the built output.

Taking that further, once `ember-cli` is detected, another header with an a

[2017-09-22 11:54] teddyzeenny commented on #666
@mikl there was a pending [PR](https://github.com/emberjs/ember-inspector/pull/715) that was merged today to support Firefox WebExtensions. Do you mind checking if `dist/firefox` on latest master solves the issues you reported?

[2017-09-22 13:27] mikl commented on #666
@teddyzeenny yes, with the latest master, on FF 57 beta 1, the plugin now loads and seems to work as expected.

However, the console is still full of warnings and errors, so something is not quite right:

<details>
  <summary>Click to view screenshots of error console</summary>

Just the errors:

<img width="1169" alt="screen shot 2017-09-22 at 15 21 23" src="https://user-images.githubusercontent.

[2017-09-26 17:00] guangda-prosperworks opened #717 "Ember inspector is not working in Chrome 61"
When choosing the inspector and move it to the dom, it starts to show error:
[code]

I am having Ember 1.13, jQuery 1.11.3

[2017-09-26 17:02] #717 closed

[2017-09-27 12:14] prasathsarath commented on #267
Now again i'm unable to install inspector in firefox developer edition, as it stops support for legacy addon

[2017-09-27 14:14] locks commented on #267
This has been addressed: https://github.com/emberjs/ember-inspector/pull/715 https://github.com/emberjs/ember-inspector/pull/716

[2017-09-27 17:15] mattmarcum commented on #666
Cool - I was able to build and run the extension using this guide: https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Temporary_Installation_in_Firefox

Is there a way to build and install a local copy permanently?

[2017-09-27 21:29] andreicristianpetcu commented on #666
Zip-it then upload it [here](https://addons.mozilla.org/en-US/developers/addon/submit/upload-unlisted). You will get an unlisted but signed extension. If you upload it to a github repo as a release then you can install it with one click. [Here is an example](https://github.com/andreicristianpetcu/google_translate_this/releases/download/v1.2.7/google_translate_this_page-1.2.7-an.fx.xpi)

[2017-09-27 23:23] edwinramirez opened #718 "Illegal invocation when using View tree."
This just started today. To my knowledge, nothing has been updated in my local dev environment.
Chrome: Version 61.0.3163.100 (Official Build) (64-bit)
ember-cli: 2.4.3
node: 6.11.3
os: darwin x64 (Mac OS Sierra 10.12.6)

While on the View Tree tab,

- If I mouse over any element, the following warning is logged on my console instead of highlighting the view/component on my web page.
[code]

- If

[2017-09-29 03:09] inkless commented on #718
This is due to Chrome upgrade.
They added a new property to ClientRect. For example, `const rect = el.getBoundingClientRect()`. Now `rect` has new property called `toJSON`. And in ember-inspector's older code, their is some incorrect jQuery usage: `$(div).css(rect)`, this will trigger this bug.

The fix is update the pane-0-0-0 for older Ember version. I'm thinking about to send a PR. But meanwhil

[2017-09-29 17:40] jsmestad commented on #666
For folks who come across this issue via Google (like I did). Here is how to get master into FF Quantum - http://blog.overstuffedgorilla.com/ember-inspector-working-on-firefox-developer-edition/

[2017-09-30 19:42] kamikaz1k commented on #677
+1

[2017-10-02 00:45] mmarshak commented on #718
@inkless thank you for the fix. Do you know when a new version will be out there that fix it in the chrome extensions shop?

[2017-10-02 15:14] edwinramirez commented on #718
@inkless Thank you. Your plugin works perfectly.
I'm not sure how to manage this ticket. Should I close it now? Or should I wait for a new version to come out?

[2017-10-02 17:14] inkless commented on #718
@edwinramirez @mmarshak  I don't know. When I was trying to send a PR to fix it, I just realize we might need some help from the admin team to upload an s3 file.
@teddyzeenny, can you guys provide some help here?

[2017-10-02 17:51] teddyzeenny commented on #718
@inkless sure, you'd need to PR to the [ember-0.0.0-2.7.0](https://github.com/emberjs/ember-inspector/tree/ember-0.0.0-2.7.0) branch instead of the master branch (make sure you start by branching from [ember-0.0.0-2.7.0](https://github.com/emberjs/ember-inspector/tree/ember-0.0.0-2.7.0) instead of master as well). Once merged, I will build it and upload to S3.

[2017-10-02 20:49] inkless commented on #718
Thanks @teddyzeenny , just sent a PR: #719

[2017-10-04 19:54] #690 closed

[2017-10-06 08:32] teddyzeenny commented on #672
How do you dynamically define the models? Do you use register them manually into the container?

[2017-10-06 09:31] robneville73 commented on #672
Yes, exactly

[2017-10-07 05:11] kamikaz1k commented on #677
I put up a PR to address this issue. If you are still interested in this functionality please drop into the PR.

[2017-10-09 16:55] teddyzeenny commented on #666
The inspector is now published as a WebExtension so you should be able to install it.

[2017-10-09 18:19] clarkbw commented on #666
I'm seeing it here! https://addons.mozilla.org/en-US/firefox/addon/ember-inspector/

🎉  🎈

[2017-10-10 15:12] williamhaley opened #725 "Massive memory leak when deleting records"
If I have the "Data" tab open in Ember Inspector when deleting a record, I see a massive memory leak in Chrome and the record never actually deletes. The page locks up. Memory usage gradually skyrockets until my machine becomes unusable. If Ember Inspector is closed when I delete a record, the issue does not occur, the record deletes, and everything works without issue.

I saw this issue on a real

[2017-10-11 08:16] teddyzeenny commented on #725
@williamhaley thank you for the detailed bug report! I believe this is the same issue addressed in https://github.com/emberjs/ember.js/pull/15604. Can you try upgrading to Ember >= 2.15.2 and let me know if it's resolved?

[2017-10-11 12:07] topaxi opened #726 "Does not work in Firefox Nightly"
Just tried the new WebExtension and the Ember tab in the Devtools is just an empty pane.
Launching current stable (56) works perfectly though.

[2017-10-11 17:08] Charizard opened #727 "Cannot read property 'getAttribute' of undefined"
![screen shot 2017-10-11 at 10 37 02 pm](https://user-images.githubusercontent.com/1897178/31454954-c620e49a-aed4-11e7-9d93-165e03a1d2a3.png)

My environment:
[code]

[2017-10-11 17:22] teddyzeenny commented on #726
Which Firefox version does it fail on and what's the installed Ember Inspector addon version?

[2017-10-11 20:23] topaxi commented on #726
Firefox 58
Ember Inspector 2.2.0

[2017-10-12 02:26] williamhaley commented on #725
@teddyzeenny Thanks! I upgraded to `ember-source` `2.15.2` from `2.15.0` and voila, it's working. Much appreciated!

[2017-10-12 02:26] #725 closed

[2017-10-12 08:47] teddyzeenny commented on #727
Hi, thanks for reporting this! Can you reproduce this in an online app or repo?

[2017-10-18 17:13] seanmhoffman commented on #628
@locks Heh, sorry for the late response 😅
That did fix my issue though. I was able to upgrade to the newest version of Ember and the Inspector seemed to reflect that as well. I also had to force Chrome to update the extension because it wasn't pulling down the new version.

Thanks again!

[2017-10-18 17:17] locks commented on #628
Glad the issue was addressed! 😁

[2017-10-19 23:48] #666 closed

[2017-10-23 07:18] topaxi commented on #726
Working now with latest Nightly (58), probably been a Firefox bug?

[2017-10-23 07:18] #726 closed

[2017-10-24 09:25] locks commented on #726
Thanks for following up :)

[2017-11-04 15:52] rmmmp commented on #666
@clarkbw, weird when I visit that link it still shows 2.0.6 for me and that's what's being installed in browser.

[2017-11-05 10:21] teddyzeenny commented on #666
@rmmmp a reviewer unfortunately disabled the addon on Firefox due to having `unsafe-eval` in the [manifest file](https://github.com/emberjs/ember-inspector/blob/06acfc74e4228f5b99adbd7e650e70381f2d4ff5/skeletons/web-extension/manifest.json#L17).

[2017-11-06 11:46] alexphys opened #733 "App freezes on record unload"
I was trying to unload/delete a record on `willTransition` of a route while looking at the inspector to check if its removed.
When the record was unloaded/deleted the app would then freeze.
If I close the inspector and repeat this , then the record is unloaded/deleted successfully without freezing the app and I can then open up the inspector and see everything working fine.

Tested on

- Chrome Ve

[2017-11-06 11:48] rwjblue commented on #733
Seems roughly the same as https://github.com/emberjs/ember-inspector/issues/725, can you review that issue and let us know if it’s the same?

[2017-11-07 09:09] alexphys commented on #733
Closing as its the same as #725

[2017-11-07 09:09] #733 closed

[2017-11-09 00:21] GCorbel opened #734 "Not visible in Chromium 62 or Vivaldi 1.12"
I installed ember-inspector on Vivaldi and Chromium and I can't see the "ember" option in the top toolbar of the dev tool. It works with Chrome. I can see than the website is detected as an Ember app because there is Tomster on the address bar and the version used by the application is displayed.

I'm on Vivaldi 1.12 (which use Chrome 61) and Chromium 62 on Ubuntu 17.10. It works with Chrome 58.

[2017-11-09 18:27] locks commented on #734
Hi @GCorbel. For the address bit, I'm surprised it works in Chrome 58 as I thought they had removed that feature much before.
Are you sure it installed properly? You don't see it at all on the extensions list? What are the Inspector versions, and what is the version of the Ember application you're trying it on.

[2017-11-09 23:14] GCorbel commented on #734
I see it on the extension list. I'm on the version 2.3 and I removed and reinstall it to be sure. I tried with an app with a ember 2.6 and 2.12.

[2017-11-14 12:59] fpauser opened #735 "Support Firefox 57.0 ("Quantum")"
Right now https://addons.mozilla.org/de/firefox/addon/ember-inspector/ says that ember-inspector is not compatible.

[2017-11-14 17:35] teddyzeenny commented on #735
Hi! It was recently disabled by Mozilla addon review because of its use of `unsafe-eval` in its content security policy, but I'm working on getting it approved again.

[2017-11-15 02:00] daniellizik commented on #734
the app icon just says "this site is not using ember" for me

windows 10
chrome 62.0.3202.94 (Official Build) (64-bit)
ember 2.14.2
ember inspector 2.3.0

was surprised that i didn't have to expose the app to `window` or something but the webstore page or the repo readme didn't specify any other installation instructions

[2017-11-15 10:38] pichfl opened #736 "Can not build on current node (v8.9.0)"
Trying to build the project at b306318d9fdf7230a7f8911db220d8fb21d6f3ed results in this error:

[code]

[2017-11-15 17:56] luketheobscure commented on #735
I haven't done any addon development, but when I built from source and tried on my local firefox (v57) complained about the `options_page` in manifest.json. Removing this made everything work, and I was still able to access the options page.

[2017-11-16 09:16] teddyzeenny commented on #736
Hi, can you please try using yarn for installing and building?

[2017-11-16 09:25] pichfl commented on #736
Using Node 4 (yarn 1.3.2)

[code]

Using node v6.12.0 (npm v3.10.10) (yarn 1.3.2)
[code]

Using node v8.9.0 (npm v5.5.1) (yarn 1.3.2)
[code]

[2017-11-16 10:05] teddyzeenny commented on #735
The addon should be compatible now.

[2017-11-16 10:05] #735 closed

[2017-11-16 11:33] teddyzeenny commented on #736
This command doesn't exist in current master anymore (it was changed a few versions ago): `ember build --environment production && grunt compress:main clean-tmp build-xpi`.

Are you sure you're building master and not an old commit?

[yarn run build:production](https://github.com/emberjs/ember-inspector/blob/825f3de9244b952f564789d9ba2241e912e51eb8/package.json#L14) is different on master.

[2017-11-17 10:00] pichfl commented on #736
@teddyzeenny turns out I had two clones of the Inspector checked out and one was stuck on an ancient commit. (╯°□°）╯︵ ┻━┻

Sorry for the trouble. I checked everything twice but did not realize that Tower points to a different directory than where I was building.

Works now.

[2017-11-17 10:04] teddyzeenny commented on #736
No worries! Glad it works now 🍻

[2017-11-21 10:34] GCorbel commented on #734
Today it works with Chromium 62. I don't know what changed. I still have the issue on Vivaldi.

[2017-11-21 19:25] Riddlez opened #739 "Data tab not working"
When in my ember project I am trying to select the data tab in the ember inspector but it not showing the data tab basically it does nothing

[2017-11-21 20:30] teddyzeenny commented on #739
Hi, what are the Ember and Ember Data versions? Do you see any errors in the console after clicking the Data tab?

[2017-11-21 22:46] Riddlez commented on #739
HI
I have no errors in my console
and am using the below versions in package json:
"broccoli-asset-rev": "^2.4.5",
    "ember-ajax": "^3.0.0",
    "ember-cli": "~2.16.2",
    "ember-cli-app-version": "^3.0.0",
    "ember-cli-babel": "^6.6.0",
    "ember-cli-dependency-checker": "^2.0.0",
    "ember-cli-eslint": "^4.0.0",
    "ember-cli-htmlbars": "^2.0.1",
    "ember-cli-htmlbars-inline-precompile

[2017-11-22 11:12] IgorKvasn commented on #734
I just run Ember Inspector on Vivaldi 1.13 and the Ember Inspector tab is missing in dev tools.
I noticed, that Vivaldi is giving this error message:
[code]
it looks like `chrome.devtools` returns `undefined` in Vivaldi

btw. this issue is opened also in vue-devtools repo: vuejs/vue-devtools#436

[2017-11-22 12:06] teddyzeenny commented on #739
Can you point me to an online repo or app that I can access that reproduces this issue?

[2017-12-01 21:33] Yorer commented on #402
If you don't want to downgrade your project I you can insert an is starement in the node_modules to the file: node_modules/electron-forge/dist/util/forge-config.js, that if the something is undefined then skip it. It did the job perfectly fine and ember electron installed correctly after that.

[2017-12-16 14:21] pauljacobson opened #740 "Firefox add-on doesn't recognise that Ember is running on https://www.emberjs.com"
I just installed the [Ember Inspector add-on for Firefox](https://addons.mozilla.org/en-US/firefox/addon/ember-inspector/) (version 2.3.1). It doesn't recognise that Ember is running on the Ember site (I've configured Tomster to display in my location bar when I'm on an Ember site).

![developer_tools_-_ember_js_-_a_framework_for_creating_ambitious_web_applications__-_https___emberjs_com__and_embe

[2017-12-16 15:26] teddyzeenny commented on #740
Hi @pauljacobson. I don't think the Ember homepage is running Ember. The [API](https://emberjs.com/api/ember/) and the [Builds](https://emberjs.com/builds/) pages are running Ember so you should be able to use the inspector on these pages.

As for the Tomster icon, it only works if the Ember library is loaded before the domready event, which might not be the case on the Ember website pages that ru

[2017-12-17 06:18] pauljacobson commented on #740
@teddyzeenny ah, ok, apologies. My mistake. The inspector picks up Ember on the Builds and API pages.

[2017-12-17 06:18] #740 closed

[2017-12-20 18:52] efx opened #741 "[feature discussion] ability to configure value for "Hide Empty Model Types""
# use case
As a developer in a large app, we use a number of different ember data models. Often when developing one section, I only care about seeing one's loaded in the store. Thus I would like to be able to save a preference to toggle this on.
I would see this as simple checkbox navigated to from Ember Inspector's options link:
<img width="543" alt="screen shot 2017-12-20 at 1 50 27 pm" src="htt

[2017-12-20 19:14] teddyzeenny commented on #741
That sounds reasonable. What do you think about remembering your last choice instead of making it a configuration? On a related note, I think a search feature would be really useful for large apps as well.

[2017-12-20 19:25] efx commented on #741
ah, yeah that is more sensible. Basically persisting it via the addon's install state. (localStorage under the hood I imagine?)
Yes, search would be great.

[2017-12-21 11:15] teddyzeenny commented on #741
Are you interested in submitting a PR?
It would consist of making [this property](https://github.com/emberjs/ember-inspector/blob/1c34df9e8e7f521b380d09d6f7d3af15c650cc78/app/controllers/model-types.js#L11) a CP instead of an options property.

Something like:
[code]

[Here's a similar approach](https://github.com/emberjs/ember-inspector/blob/40aa0238ccf2b075f067ad5f34915dc63591ce29/app/controller

[2017-12-21 14:31] efx commented on #741
@teddyzeenny definitely. I can try to put something together over the next few weeks. I like how simple your snippet is; will make implementing a breeze.

[2017-12-26 06:08] anjia0532 commented on #734
windows 10
chrome 65.0.3298.4 (Official Build) dev  (64-bit)  +1

[2017-12-28 15:39] #741 closed

[2018-01-13 02:14] gabrielgrant commented on #200
This issue seems to be preventing the inspector from working with Ember-Twiddle (see: ember-cli/ember-twiddle#49)... Any chance of re-opening it?

[2018-01-19 13:58] Leooo commented on #632
Is there anything recent about the fix for this issue?

[2018-01-29 15:02] jacobq opened #745 "Consider dropping Ember 1.x support / `ember-new-computed`"
I'm not sure how long Ember 1.x is to be supported, but I think it's been 2+ years since v1.13.13 was released. If it isn't supported any more then it would be nice to drop `ember-new-computed` from this project's dependencies since it currently (v1.0.0) triggers a [deprecation warning for Ember v2.18+](https://github.com/ember-cli/ember-cli-version-checker/issues/48) (shown below). (I've also [re

[2018-01-30 09:59] teddyzeenny commented on #745
Ember 1.x is not supported. I believe we can safely remove `ember-new-computed`.

[2018-01-30 13:50] jacobq commented on #745
See PR #746 -- should be all set to merge, if you like.

[2018-01-30 14:15] #745 closed

[2018-01-31 20:26] lifeart commented on #739
@teddyzeenny `linkedin` ember-inspector data tab freezing

[2018-02-01 09:18] IgorKvasn commented on #734
works in Vivaldi 1.14.1077.41

[2018-02-13 14:07] vvscode commented on #739
@lifeart  it works for me http://take.ms/2gCit4

[2018-02-20 12:32] lolmaus commented on #734
I'm on Vivaldi 1.14.1077.50, and the Ember tab is not visible for me in Inspector.

[2018-02-20 12:38] IgorKvasn commented on #734
@lolmaus hmm that's strange - I am running 1.14.1077.50 and it works (see screenshot below)

![vivaldi ember](https://user-images.githubusercontent.com/2052652/36424266-ff53c1c6-1642-11e8-80b0-197b29838458.png)

[2018-02-20 13:37] lolmaus commented on #734
Ah, works now after a browser restart. :+1:

[2018-02-20 13:39] lolmaus opened #747 "Interferes with unrelated websites"
I've discovered that images aren't being loaded on this website for me only: https://express42.com/ (`img`s miss `src` attributes).

After disabling extensions one by one and retrying, I was astonished to discover that Ember Inspector is responsible.

Disabling Ember Inspector and refreshing the page resolves the issue. Re-enable the inspector -- and the issue is back.

[2018-02-21 08:34] teddyzeenny commented on #747
That is indeed surprising. Thanks for reporting it, I will look into it!

[2018-02-21 15:51] teddyzeenny commented on #747
It seems https://express42.com/ is overwriting `window.removeEventListener` for some reason.

[2018-02-22 09:33] Benjy1979 commented on #739
I had the same issue, it's when the Web Inspector crashes. For instance in this case since 3,.o0 I had to change a model from:
`import Model from 'ember-data/model';
// import attr from 'ember-data/attr';
// import { belongsTo, hasMany } from 'ember-data/relationships';

export default Model.extend({
  user_id: DS.attr('number'),
  created: DS.attr(),
  caption: DS.attr(),
  plandata: DS.attr()
})

[2018-02-22 09:38] teddyzeenny commented on #739
@Benjy1979 in the first example you're using `DS` without importing it, that's probably why it's crashing.

[2018-02-22 09:45] sivakumar-kailasam commented on #707
@locks Seems to be working fine on 2.18 and 3.0. Probably good to close.

[2018-02-22 09:46] Benjy1979 commented on #739
Yes I agree, but it wasn't crashing in the previous version of Ember.js

[2018-02-22 09:47] #707 closed

[2018-02-22 09:58] locks commented on #739
Because up until 3.x, `DS` and `Ember` were available as globals.

[2018-02-22 12:41] teddyzeenny commented on #747
While we're calling `window.removeEventListener` to unsubscribe from an event that we set up, the website's overwritten `window.removeEventListener` new behavior stops their image from displaying. I'm closing this as there's nothing we can do if the website is overwriting native DOM methods and changing their behavior. If anyone has ideas how to handle that I can reopen.

[2018-02-22 12:41] #747 closed

[2018-02-22 15:42] lolmaus commented on #747
Thank you for debugging this. :bow: I'll pass your findings to the site owner.

[2018-02-23 09:05] locks opened #750 "Make View Tree support components"
https://github.com/emberjs/ember-inspector/pull/748#issuecomment-367777359

[2018-02-23 18:45] XuluWarrior opened #752 "Empty mixins break component selector"
If an app includes an empty mixin, selecting a component using either the magnifying glass and clicking on the component name or clicking the View / Component in the View Tree causes a call stack in ember-inspector in `propertiesForMixin(mixin)` where it expects all mixins to have a mixins array.

Version 0.6.2 of ember-component-css includes such an empty mixin and so breaks ember-inspector for a

[2018-02-23 18:50] XuluWarrior commented on #752
Actually, now I've checked out the ember-inspector code, I realise that `propertiesForMixin` is actually in `ember_debug/object-inspector.js`.  (I hadn't realised when I was looking at the bundled Chrome extension code).

I guess this issue should be raised there.

[2018-02-24 03:47] #752 closed

[2018-02-24 03:51] rwwagner90 commented on #718
Since the PR for this was merged, I am going to close the issue. If there is still a problem, please feel free to reopen!

[2018-02-24 03:51] #718 closed

[2018-02-26 01:44] rwjblue opened #758 "Remove ember_debug/addons/ember-new-computed"
Since ember_debug at the moment supports Ember 2.7 and higher, I do not believe this shim layer is needed any longer.

[2018-02-26 09:49] teddyzeenny commented on #758
👍

[2018-02-26 23:54] #758 closed

[2018-02-27 14:55] rwwagner90 commented on #632
Would anyone here like to help implement engines support? We would love the help!

[2018-02-27 14:57] rwwagner90 opened #763 "Test against all supported Ember versions with ember-try"
Currently, we only test against the Ember version used for the app, but ember_debug needs to support 2.7+.

[2018-03-05 14:21] GottZ commented on #739
i +1 this issue. at least i can still navigate through models using the Routes tab but still.. kinda painful and rendering the feature i use the most kinda useless.

[2018-03-06 02:05] rwwagner90 commented on #739
@GottZ are you using `DS` without importing it?

[2018-03-07 00:34] rwwagner90 commented on #680
Since ember-cli is just the build tool, I don't know how useful this would be. @teddyzeenny what do you think?

[2018-03-07 00:36] rwwagner90 commented on #734
Since this appears to be working for everyone now, and we have released new versions as well, going to close this. Please feel free to reopen if there are still issues!

[2018-03-07 00:36] #734 closed

[2018-03-07 00:38] rwwagner90 commented on #32
Is this still an issue @teddyzeenny?

[2018-03-07 00:46] rwwagner90 commented on #524
This seems to no longer be an issue. The dark theme is still not applied to inspector, but it shows up completely light, without those hard to read elements shown in the original screenshot.

<img width="1191" alt="screen shot 2018-03-06 at 7 44 54 pm" src="https://user-images.githubusercontent.com/2640861/37067270-0910a5d2-2177-11e8-933b-1cb637c0eab9.png">

@locks @teddyzeenny what are your thoug

[2018-03-07 08:50] teddyzeenny commented on #680
It will be providing extra information that a user cannot currently deduce via devtools since it's not a runtime library, so we should be careful about what information we want to expose. If we can make sure this info is only displayed during dev then I think it can be fine/useful, why not.