[2018-03-07 08:54] teddyzeenny commented on #32
I believe it is, yes. It's a mandatory setter issue (in Ember core), not specific to the inspector, but the inspector exposes the issue as it both adds observers to all properties and displays the properties in a way that clearly differentiates "own properties" from the rest of the properties.

[2018-03-07 11:48] rwwagner90 commented on #680
@teddyzeenny it just feels redundant because if you are developing, you can see all that in your terminal.

[2018-03-07 11:52] rwwagner90 commented on #32
@teddyzeenny is there a fix to do here or should we open an issue in Ember itself?

[2018-03-08 12:49] rwwagner90 commented on #763
This is done now 🎉

[2018-03-08 12:49] #763 closed

[2018-03-08 13:30] GottZ commented on #739
nope. `import DS from 'ember-data` everywhere. i just checked.
well.. i do inject a overridden store into the app and made a few overrides in my application adapter since our api is crap af and does not follow the jsonapi spec correctly. but besides that, nothing.

[2018-03-08 15:49] rwwagner90 commented on #739
@GottZ so this issue is resolved for you? @Riddlez are you still having issues?

[2018-03-08 16:29] jacobq commented on #727
FWIW, I have run into this when trying to use `ember-inspector` after there's been a serious error earlier (e.g. trying to use a component/helper in a template that the app can't find/doesn't exist).

[2018-03-08 17:40] GottZ commented on #739
yup totally resolved for me. i also just upgraded to ember 3.0.0 without a problem. no issues with ember-inspector.

[2018-03-09 10:23] lolmaus opened #770 ""Cannot read property 'outlets' of undefined" On Ember 3.1-beta.1"
Stacktrace from error message:

[code]

Stacktrace from error object:

. | . | .
--- | ---- | ----
getApplicationOutlet | @ | VM1282:1478
buildOutletTree | @ | VM1282:1290
build | @ | VM1282:1266
viewTree | @ | VM1282:4573
later | @ | VM1282:4547
invoke | @ | backburner.js:207
flush | @ | backburner.js:125

Points to this code:

[code]

Can be reproduced on an empty `ember new foo` app.

[2018-03-09 10:27] lolmaus commented on #770
Looks like upgrading to Ember Inspector to 3.0.0 helped.

Sorry, I upgraded it, was seeing `3.0.0` version number and the error. Looks like I had to restart the browser or something.

[2018-03-12 17:55] rwwagner90 opened #771 "Implement dark theme"
Copying over data from slack:

it looks like we actually can detect the devTools theme from `chrome.devtools.panels.themeName`. @teddy where would be the best spot to check this?

teddy [6:26 AM]
we can add a CP `isDarkTheme` or `theme` on the adapter
https://github.com/emberjs/ember-inspector/blob/1aa8f03e1f00a6166042b61914a0ccdf03a4512b/app/adapters/web-extension.js
https://github.com/emberjs/em

[2018-03-12 19:01] Bestra commented on #689
I'm working on this

[2018-03-12 19:03] thorsteinsson commented on #689
We're working on this together

[2018-03-13 14:46] pbishop16 commented on #771
@rwwagner90 I would like to tackle this.

[2018-03-13 16:34] rwwagner90 commented on #689
@Bestra @thorsteinsson how's this going? Need any help from me?

[2018-03-13 16:35] rwwagner90 commented on #771
@pbishop16 sure thing! We would love the help 😃 . Please feel free to ping me with questions on slack. I'm happy to help however I can.

[2018-03-13 17:40] pbishop16 commented on #771
@rwwagner90 Greatly appreciated. Will do.

[2018-03-20 14:32] sandstrom opened #772 "Changelog entries for 3.x"
Awesome with 3.0 🏆 !

Would it be possible for you to add entries to the CHANGELOG file?

[2018-03-21 13:43] rwwagner90 commented on #772
Just started doing auto generated changelogs, so there should be entries for 3.0 now. Please let us know if anything is unclear!

[2018-03-21 13:43] #772 closed

[2018-03-21 14:11] nightire commented on #770
@lolmaus This issue shouldn't be closed b/c it reflects an error caused by 3.1-beta.x, as it introduced a new feature: https://github.com/emberjs/rfcs/blob/master/text/0280-remove-application-wrapper.md, sooner or later users will notice this bug.

[2018-03-21 15:59] rwwagner90 commented on #770
@nightire are you seeing this bug? I was pretty sure we fixed it. If you are on Ember Inspector 3.0.0, it should work with Ember 3.0+.

[2018-03-22 17:05] nightire commented on #770
@rwwagner90 Oh I'm sorry, this is a different error, I misread it, my bad... 😰

[2018-03-22 17:09] #770 closed

[2018-03-22 18:48] rwwagner90 commented on #770
No worries @nightire! If you'd like to help fix that issue, PRs would be greatly appreciated! 😄

[2018-03-23 17:52] rwwagner90 opened #774 "[Quest] - Implement Component Tree"
- [ ] Land the current context menu PR
- [ ] Have two tabs for component and views
- [ ] Make the component tab only have the component tree and attrs, no models or tables etc

More items to come 😄

Feature branch: https://github.com/emberjs/ember-inspector/tree/component-tree

cc @thorsteinsson @Bestra

[2018-03-27 09:17] sandstrom commented on #772
Awesome! @rwwagner90 😄

[2018-03-28 04:16] acorncom commented on #590
This was resolved by #768

[2018-03-28 13:47] rwwagner90 commented on #590
@acorncom technically, this isn't 100% done. While our jQuery usages have been removed, there is something still using it, and if you remove it from vendor, things break.

[2018-03-28 14:01] cibernox commented on #590
@rwwagner90 When I removed jQuery, I did it from the parts of the app that ran along with the app, so the addon could be useful in apps without jQuery, but I didn't care about usages of jQuery INSIDE the addon itself.

That said, personally I'd remove it completely and ensure CI don't have it, so we can be sure we don't use it, not even by mistake.

[2018-03-28 14:17] rwwagner90 commented on #590
@cibernox yeah, that's what I mean. Inspector itself, not the part that runs in the consuming app. Mainly want to remove it to align with the removal we have been doing across the learning team.

[2018-04-03 04:39] mswanson commented on #727
I am seeing a similar error after disabling the application template wrapper in the latest ember 3.1.0-beta

![screenshot 2018-04-02 23 39 23](https://user-images.githubusercontent.com/144861/38229591-16cfa1ce-36cf-11e8-95bf-ade4d0880c08.png)

[2018-04-03 12:28] rwwagner90 commented on #727
@mswanson I think that is a new issue, not the same as here. @teddyzeenny is this original issue still something we need to fix or can we close?

[2018-04-04 02:28] rwwagner90 commented on #727
@mswanson I'm pretty sure it is different, one is `rootElement.getAttribute` is not a function and another is `getAttribute` of undefined. I think this issue may no longer be an issue, but the one you are seeing might be.

[2018-04-04 06:49] teddyzeenny commented on #727
@rwwagner90 I agree, I'm going to close this issue. @mswanson do you mind opening a new issue so we can track the Ember 3.1-beta issue?

[2018-04-04 06:49] #727 closed

[2018-04-05 02:04] mswanson opened #775 "[Error] - `rootElement.getAttribute is not a function` when using 3.1.0-beta"
![error](https://user-images.githubusercontent.com/144861/38343742-459be346-384b-11e8-8c21-afac167ba1d2.png)

I am using the latest 3.1 beta versions of ember and ember-cli

![screenshot 2018-04-02 23 19 17](https://user-images.githubusercontent.com/144861/38229038-4a49ab60-36cc-11e8-80f8-c745f62244c3.png)

[code]

#### Steps to reproduce
1. Installed the latest ember-cli beta `yarn global upgrade

[2018-04-05 02:04] mswanson commented on #727
@rwwagner90 @teddyzeenny done. https://github.com/emberjs/ember-inspector/issues/775

[2018-04-05 02:45] jedateach commented on #524
@rwwagner90 Agreed. I guess, if anything, this issue could be changed to something like "create dark theme"

[2018-04-05 12:47] rwwagner90 commented on #524
Closing this in favor of https://github.com/emberjs/ember-inspector/issues/771

[2018-04-05 12:47] #524 closed

[2018-04-05 12:49] rwwagner90 commented on #559
Is this still an issue or can we close?

[2018-04-05 13:28] Turbo87 commented on #559
let's close it, I'll reopen if I hit it again

[2018-04-05 13:28] #559 closed

[2018-04-05 15:53] VNBharadwaja commented on #585
If ember inspector is unresponsive in Chrome, you could try selecting the Allow access to file URLs checkbox in Ember Inspector-> Manage Extensions

[2018-04-05 16:45] rwwagner90 commented on #710
We're currently working on a new component tree, which should fix these issues https://github.com/emberjs/ember-inspector/issues/774 😄

[2018-04-05 16:45] #710 closed

[2018-04-06 19:03] allthesignals opened #777 "Models that extend DS.Model using ES6 class syntax not picked up by Inspector"
Models written this way don't seem to be picked up by the Inspector. Here's a related [thread](https://github.com/ember-decorators/ember-decorators/pull/211). The models seem to be working fine otherwise.

[code]

Thoughts?

[2018-04-07 01:33] nummi opened #778 "UI Tweaks April 2018"
*Whitespace, alignment, consistency.*

"7 commits; 38 changed files; 372 additions and 287 deletions." I have this all on one branch but the commits are pretty isolated to the different parts the UI. I can drop a single PR or one for each commit. I figured we could discuss things before I do that.

<details>
  <summary>Toolbar</summary>

Slightly taller, more breathing room for items.  Old on top,

[2018-04-09 12:17] lifeart opened #779 "Show computed property dependent keys"
Now to get understanding about cp depended keys you need to investigate object in console or taking a look into source code.

Computed property has `_dependentKeys` array, any ideas how this content can be shown in object debugger?

How to extract all object's computed props?
[code]

[2018-04-09 12:47] lifeart commented on #779
more informational case:

[code]

[2018-04-09 12:51] lifeart commented on #779
![image](https://user-images.githubusercontent.com/1360552/38498669-d5dafc1a-3c0d-11e8-9dbb-820520dafde9.png)

an example

[2018-04-09 12:57] lifeart commented on #779
as bonus -> cp dependency graph can be rendered for each object

[2018-04-09 13:30] rwwagner90 commented on #778
This stuff looks awesome!

[2018-04-09 13:34] rwwagner90 commented on #778
@nummi is there a PR for this?

[2018-04-09 13:45] rwwagner90 commented on #777
I would assume that the model view looks specifically for the `DS.Model` or at least non-class based models. I would need to dig in and look around.

[2018-04-11 12:01] rinoldsimon opened #783 "ember inspector error in Chrome Version 65.0.3325.181"
An error has occurred when switching to `data` tab:
Chrome Version: `65.0.3325.181`

VM322:92 Ember Inspector has errored.
This is likely a bug in the inspector itself.
You can report bugs at https://github.com/emberjs/ember-inspector.
Error message: _emberInflector.default.uncountable is not a function
Stack trace: TypeError: _emberInflector.default.uncountable is not a function
    at Module.cal

[2018-04-16 20:16] rwwagner90 commented on #632
@efx I have no idea what is needed. Just have to investigate all of the parts of inspector that are broken with engines and figure out some fixes. I would be glad to try to help out, but I don't have much knowledge into the inner workings of engines.

[2018-04-16 21:12] Bestra commented on #774
@nummi Future wish list:
- [ ] Use specific overlays for the component tab
- [ ] Visually distinguish between components with/without blocks in the tree

[2018-04-16 23:10] #778 closed

[2018-04-18 09:11] rinoldsimon commented on #783
can't access `data` tab in browsers including `firefox`.

[2018-04-18 13:36] rwwagner90 commented on #783
@rinoldsimon can you please give more info? What website are you trying to inspect? Ember versions, etc?

[2018-04-19 08:10] rinoldsimon commented on #783
I'm inspecting my Ember app. `ember` version `2.18.2`, `ember-cli` version `2.18.2`

[2018-04-19 11:46] rwwagner90 commented on #783
@rinoldsimon can you please share some code or a link to a deployed site where we can reproduce the error?

[2018-04-23 10:41] rinoldsimon commented on #783
steps to reproduce:
- install `Ember Inspector` browser extension in `chrome` or `firefox`
- run `ember server`
- click `data` under `ember` tab in `developer tool`

[2018-04-23 12:36] rwwagner90 commented on #783
@rinoldsimon the data tab works great for me. Can you please share some code or a link to a deployed site where we can reproduce the error?

[2018-04-23 12:42] rinoldsimon commented on #783
I'm running the ember app in my local machine

[2018-04-23 12:46] rwwagner90 commented on #783
Can you please share some code or a link to a deployed site where we can reproduce the error? Perhaps put together a reproduction repo on GitHub, if you do not have any code pushed we can look at?

[2018-04-26 20:27] christophermlne opened #791 "Unable to traverse some ember data relationships in the Inspector"
Looking at the screenshot of the ember inspector UI, I can click through the `ancestors` relationship, but not any of the others that are identified as `<DS.PromiseObject:...>` or `<DS.PromiseManyArray:...>`. Clicking on those relationships causes the warning included below to be printed to the console.

**Screenshot:**
![image](https://user-images.githubusercontent.com/1007981/39329907-cecdaa22-4

[2018-04-26 21:07] rwwagner90 commented on #791
Hi @christophermlne, thanks for letting us know about this. It looks like the issue is here https://github.com/emberjs/ember-inspector/blob/d865fec15690103f1c58739546b31a056bb79e15/ember_debug/object-inspector.js#L704

Would you be interested in working on a fix?

[2018-04-27 13:06] christophermlne commented on #791
@rwwagner90 I will have a look at it tonight after work and report back

[2018-04-28 13:27] rwjblue commented on #775
The wrapper div was only guaranteed for the top level route template, none of the others had wrapping elements.

[2018-04-28 13:56] rwwagner90 commented on #775
@rwjblue fair enough, but all of our view tree stuff, and it appears components, controllers, and everything is dependent on `buildOutletTree` it https://github.com/emberjs/ember-inspector/blob/master/ember_debug/libs/glimmer-tree.js#L139

I assumed there was some magic somewhere in here that find nested outlets when inspecting, but I'm not 100% positive. We could remove the concept of inspecting

[2018-04-29 02:37] nummi commented on #771
@rwwagner90 close?

[2018-04-29 04:13] nummi commented on #779
@rwwagner90, close?

[2018-04-29 04:52] nummi commented on #129
@rwwagner90 close?

[2018-04-29 12:33] rwwagner90 commented on #771
This is done now 👍

[2018-04-29 12:33] #771 closed

[2018-04-29 12:35] rwwagner90 commented on #677
We have search in both the view tree and components tree, so this is done.

[2018-04-29 12:35] #677 closed

[2018-04-29 12:37] rwwagner90 commented on #129
@nummi we do not have search in the routes tab. I'll see if I can add it real quick

[2018-04-29 14:32] rwwagner90 commented on #779
This PR was merged

[2018-04-29 14:32] #779 closed

[2018-04-29 14:35] rwwagner90 commented on #774
I think this is done, since we merged the component tree in. If we need to do more things, we can open another issue.

[2018-04-29 14:35] #774 closed

[2018-04-29 14:40] rwwagner90 commented on #660
This is a duplicate of #632. We need to get engines support in, before most things on LI will work.

[2018-04-29 14:40] #660 closed

[2018-04-29 14:41] rwwagner90 commented on #629
I have never seen this, and it doesn't seem to occur in latest CLI, so closing for now.

[2018-04-29 14:41] #629 closed

[2018-04-29 14:44] rwwagner90 commented on #523
This is not reproducible on latest Ember Inspector. Please update and the problem should go away.

[2018-04-29 14:44] #523 closed

[2018-04-29 14:45] rwwagner90 commented on #508
Dark theme support has been added, and will be released soon.

[2018-04-29 14:45] #508 closed

[2018-04-29 14:46] #503 closed

[2018-04-29 14:47] rwwagner90 commented on #465
I believe this is complete, with the recent addition of the component tree tab. It will be released soon.

[2018-04-29 14:47] #465 closed

[2018-04-29 14:51] rwwagner90 commented on #429
Can anyone reproduce this on latest Inspector? I'm not seeing any issues.

[2018-04-29 14:52] rwwagner90 commented on #653
Can you just not set that `id`?

[2018-04-29 14:54] rwwagner90 commented on #244
Where does this stand now? Does anyone use Ember Inspector in Safari with success?

[2018-04-29 14:56] rwwagner90 commented on #180
Does anyone still need this and have the bandwidth to help implement it? I think that it might be easier to just run your apps separately, and inspect that way.

[2018-04-29 14:57] rwwagner90 commented on #143
@locks @stefanpenner @teddyzeenny  what is this issue about?

[2018-04-29 18:09] teddyzeenny commented on #143
I don't recall, could it be adding the ability to save/delete ED model instances from the inspector directly?

[2018-04-30 12:32] efx commented on #429
Not seeing the original or the other issue I mentioned using inspector@3.0.0

[2018-04-30 15:54] rwwagner90 commented on #429
Thanks @efx. I will close. If anyone is still having issues, please let us know!

[2018-04-30 15:54] #429 closed

[2018-05-01 20:40] kltdwrds opened #797 "Model inspector breaks when change-tracker addon is enabled"
installed this addon:
https://github.com/danielspaniel/ember-data-change-tracker#configuration
config:
`changeTracker: { trackHasMany: true, auto: true, enableIsDirty: true }`

attempting to inspect a model renders:
[code]

[2018-05-02 11:41] rwwagner90 commented on #797
@kltdwrds it looks like that is an error in the addon you have installed. I would open an issue there.

[2018-05-02 15:42] rwwagner90 commented on #129
This is done now. Thanks @nummi!

[2018-05-02 15:42] #129 closed

[2018-05-03 07:06] lifeart opened #800 "Property icon floating issue"
![image](https://user-images.githubusercontent.com/1360552/39563595-84402d94-4eb9-11e8-8f99-0c1d7cf731a6.png)
uri: https://monegraph.com/m5692335728

Prop, named 'OWNER [id=__ember1525330949094135535295738]' broke Icon

[2018-05-03 07:07] lifeart commented on #800
@nummi looks like it's an css issue, do we need to add 'text-overflow'?

[2018-05-04 20:03] fjfish opened #802 "Tab does not display in Firefox Developer Edition"
I'm using FF 61.0b2 on a Macbook Pro running 10.12.6 (Sierra)

Since update clicking on the Ember tab doesn't do anything.

Tried disabling all the other plugins but it made no difference.

[2018-05-05 18:50] rwwagner90 commented on #802
I don't know anything about why it wouldn't work in FF only in the dev edition. Sounds like they changed something. Any errors or helpful information to debug?

[2018-05-05 19:08] plebeian-org commented on #802
I wish I knew where to look. I checked OSX Console and don't see FFDev throwing any errors . I do see this (attached) which says that the plug in is not seeing this page as an ember app, though it's a fresh install with these specs.
Ember CLI: 3.1.4 (package.json: 3.1.3) <-- another puzzling thing is discrepancies of install vs. package.json versions as in below:
DEBUG: ---------------------------

[2018-05-06 09:05] fjfish commented on #802
@plebeian-org / @rwwagner90 that's interesting. I am seeing the helper, but still not seeing the tab. I have done uninstall/reinstall. If I have time later I will install the version before last from source and see if that works.

[2018-05-07 10:00] ahopkins commented on #802
@fjfish any luck?

I am also experiencing this.

[2018-05-09 02:19] #800 closed

[2018-05-09 07:51] IgorKvasn opened #803 "Data tab - change visible columns not working"
In "Data" tab when I change visible columns, it looks like columns are added/removed, but data in the table are still the same.

E.g. in the example below, when I hide ID column, it looks like just header is removed - data in the table are still showing "ID" column

![ember-inspector](https://user-images.githubusercontent.com/2052652/39802410-3ed391ba-536e-11e8-9077-796f836ea448.gif)

[2018-05-09 09:33] mrloop commented on #802
I'm using Firefox Developer Edition 61.0b2 (64-bit) on Ubuntu 18.04. I can see the Ember Inspector tab. When I click on it I get the following error message in the Browser Console:

    Error: Unknown event: ["devtools.main", "enter", "webext-devtools-panel-ember-inspector_emberjs_com-204658-0"] telemetry.js:636:5

[2018-05-09 14:58] rwwagner90 commented on #802
@mrloop are you able to provide a stack trace for that error?

I'm out this week, but I can get FF developer edition next week and take a look. I'm curious if maybe FF itself is messed up, since it works in normal FF, it sounds like they may have introduced a bug or potentially changed an API.

[2018-05-09 16:32] nummi commented on #802
Still busted in `61.0b3`.

[2018-05-09 16:32] plebeian-org commented on #802
Cool. Happy to help test or whatever. No rush over here, plenty of other choices. LOVE LOVE LOVE the new improvements. What an astounding improvement of the inspector! Kudos to those working on it. Love the overlays, tidy new sidebar info, and more. Super helpful!

[2018-05-11 13:00] thorsteinsson commented on #803
This is not limited to the data tab, it happens in all lists.

[2018-05-11 13:32] rwwagner90 commented on #803
@thorsteinsson would you have time to investigate a fix for this? I'm on vacation until Monday.

[2018-05-14 11:07] thorsteinsson commented on #803
I was also on a vacation until today, I can take a look at this on Wednesday.

[2018-05-17 10:12] fran-worley commented on #775
I'm finding the same error with ember-source 3.1.2 and ember cli 3.1.4 when application-template-wrapper is disabled.

[2018-05-17 19:44] rwwagner90 commented on #775
@fran-worley Yes, I do not think we have a way around this, at the moment. @rwjblue any ideas?

[2018-05-17 19:45] rwwagner90 commented on #775
@teddyzeenny @Bestra  we need `buildOutletTree` for everything right?

[2018-05-18 14:00] Bestra commented on #775
@rwwagner90 I dunno, actually :).  It'll be a good reason for me to dive in a bit.

[2018-05-18 16:06] Bestra commented on #775
I've been trying to reproduce this locally without any luck yet.
I'm on ember 3.1.2
<img width="624" alt="screen shot 2018-05-18 at 11 49 46 am" src="https://user-images.githubusercontent.com/2043348/40244937-33880202-5a92-11e8-88a4-783ce1a97db3.png">

I've got the feature flag turned off:
[code]
Ember cli 3.1.4
[code]

I've got an app with a few routes in it:
[code]
and for kicks here's a screens

[2018-05-18 20:17] Bestra commented on #803
I'm currently working on this.  I hope to have a PR for the solution by the end of the weekend.

[2018-05-19 10:36] Turbo87 commented on #775
@Bestra you can use https://github.com/skylines-project/skylines to reproduce this. I've disabled the application wrapper there yesterday evening and started seeing these issues too.

[2018-05-25 13:51] jamescdavis commented on #777
I am not seeing this behavior. All of our models are defined with ES6 classes and do appear in the inspector.

[2018-05-25 13:58] jamescdavis commented on #777
You can try it on https://osf.io. Model definitions: https://github.com/CenterForOpenScience/ember-osf-web/tree/develop/app/models

[2018-05-25 17:58] tonycoco commented on #244
WebKit team hasn't started implementation of an API yet. No progress.

[2018-05-30 16:53] robclancy commented on #775
Wait why was this released with this bug still existing? At least catch it and give a message about the application wrapper being required for now.

[2018-05-30 21:20] rwwagner90 commented on #775
@robclancy there have been several other fixes and features we needed to get out. We released to fix those things.

[2018-05-31 09:26] JoelUng opened #813 "Data - column Model Types is not resizable"
In "Data" tab, I have tried to resize the column "Model types" but it seems that the column can not be resized.

[2018-05-31 11:18] vladucu opened #814 "Ember Inspector has errored with ember-feature-flags"
Hi,

Not sure if this is the right place, but thought of reporting this

Ember Inspector: `3.1.1`
Ember: `3.1.2`
Ember CLI: `3.1.4`
Ember Feature Flags: `5.0.0`

In our app, we inject the `features` service in routes, components, etc using an initializer. Trying to click on any component, route, etc triggers the following in console and fails to open the Inspector tab
<img width="957" alt="screen

[2018-05-31 13:45] #775 closed

[2018-05-31 15:24] #803 closed

[2018-05-31 15:24] #813 closed

[2018-05-31 15:37] rwwagner90 commented on #814
@vladucu without doing further debugging, I would blindly guess this is an issue with: https://github.com/emberjs/ember-inspector/blob/e6015b1cd18f339820120532a5b3a014e3ef16fe/ember_debug/object-inspector.js#L476

Would you be interested in potentially trying to determine if that is where the issue is and if so adding a fix there? If that is where the issue lies, potentially we could do a check fo

[2018-05-31 16:15] cafreeman opened #816 "Seeing failing tests on `/tests` route with Ember Inspector open"
When running the tests in an Ember app using the `/tests` route, I'm seeing tests fail as a result of Ember Inspector's `getOwner` function throwing an exception (specifically, [this line](https://github.com/emberjs/ember-inspector/blob/master/ember_debug/main.js#L164)).

After digging into the stack trace for a bit, it appears that one of Ember Inspector's initializers ([this one](https://github.

[2018-05-31 16:51] vladucu commented on #814
@rwwagner90 sure, will try to confirm if this is the cause and maybe a fix...thx for pointing me in the right direction

[2018-05-31 19:11] rwwagner90 commented on #816
@cafreeman I can't say that I have had Inspector open while running tests before. It seems like `application.__deprecatedInstance__` would be something we would want to get away from though, as it looks very private and deprecated.

@teddyzeenny @rwjblue any ideas on alternatives?

[2018-06-01 16:08] davewasmer opened #817 "CPU spiking"
Seeing consistently spiked CPU usage from this extension:

![image](https://user-images.githubusercontent.com/707213/40850936-277fcfd4-6583-11e8-8eda-3fa94a7223eb.png)

I suspect it's related to https://bugs.chromium.org/p/chromium/issues/detail?id=848210, since it seems like there is a synchronous XHR request happening [here](https://github.com/emberjs/ember-inspector/blob/e3023ae9bc73f8fa4abedf5

[2018-06-01 19:19] rwwagner90 commented on #817
I'm not very familiar with developing Chrome extensions. Would you be interested in helping determine a fix @davewasmer?

[2018-06-01 19:23] davewasmer commented on #817
Not much experience here either. And the Ghostery git history is confusing - I dunno if there is some closed source stuff going on, but AFAICT, the patched release just updated the changelog.

I'd say potentially try to make the XHR request async (I have no idea what the context is for it though, so not sure if that's feasible). If not, then maybe just wait for Chrome to patch - I doubt they will

[2018-06-01 19:47] rwwagner90 commented on #817
@teddyzeenny @thorsteinsson Any ideas? You guys would know more about dealing with Chrome extensions than I would, I think.

[2018-06-04 15:29] jherdman opened #818 "Failing in Ember 3.1"
I'm seeing the following error in new greenfield Ember application using Ember Inspector 3.1.1:

<img width="493" alt="screen shot 2018-06-04 at 11 17 31 am" src="https://user-images.githubusercontent.com/3300/40926334-f6e6ee84-67e9-11e8-9f9a-d3e6c9f0f1ad.png">

Which is found: https://github.com/emberjs/ember-inspector/blob/02351d34b3b2a645e4ad9ced50606e3fb7486592/ember_debug/view-debug.js#L334-L

[2018-06-04 15:56] rwwagner90 commented on #818
Hi @jherdman thanks for reporting the issue and offering to help! I am curious how this issue has not shown up for me yet.

What versions of ember/ember-cli and related packages are you on?

[2018-06-04 15:58] jherdman commented on #818
ember-cli: 3.1.4
ember-source: 3.1.2

I could try and put together a reproduction app if that helps?

[2018-06-05 14:45] jherdman commented on #818
Failing app https://github.com/jherdman/ei-failure.

Clone, run the tests, and try to use the Ember Inspector.

[2018-06-05 18:49] john-kurkowski commented on #817
[Ghostery's fix](https://github.com/ghostery/ghostery-extension/commit/7fa0d7ba1c213ca2a79ad7865346bb4e007ed85e) updated their dependencies, in package-lock.json. The relevant change must be in there.

[2018-06-05 18:57] john-kurkowski commented on #817
In this extension's case, it's not a Chrome-specific fix. It's a fix to not use Synchronous XHR, on the line [the OP mentioned](https://github.com/emberjs/ember-inspector/issues/817#issue-328577541). That would benefit all browsers.

Or keep using Synchronous XHR and wait for Chrome to publish a fix itself.

[2018-06-06 01:09] rwwagner90 commented on #817
I'm not sure if we need it to be synchronous or not or if we can make it async. Would anyone like to take a stab at it?

[2018-06-06 10:08] kennydp opened #819 "Can't select the Ember inspector tab in Firefox"
I am currently on firefox version 61.0b11 and I can't seem to select the Ember inspector tab. I have tried this with multiple pages that use Ember, but it seems to be a firefox issue. I don't get any error in the console when trying to go to the Ember inspector tab. I currently have version 3.1.3 of the inspector installed.

[2018-06-06 12:30] rwwagner90 commented on #562
https://github.com/emberjs/ember-inspector/pull/622 seems to have been merged a long time ago. Did it resolve this issue?

[2018-06-06 14:58] stefanpenner opened #820 "explore removing sync XHR"
this one: https://github.com/emberjs/ember-inspector/blob/e3023ae9bc73f8fa4abedf5fe4980cf15dd5fe8e/app/adapters/web-extension.js#L121

more context: https://github.com/emberjs/ember-inspector/issues/817

I'm not 100% sure if it is possible to remove this sync XHR, but potentially it could be done in an initializer and defer/advance readiness?

The code in question was added way back in 2013: https

[2018-06-06 14:59] stefanpenner commented on #817
https://bugs.chromium.org/p/chromium/issues/detail?id=848210 is so serious it sounds like chrome folks are hoping to release another Chrome 67 by EOW to resolve. Fixing the above described problem.

I've opened a separate issue to track the sync XHR: https://github.com/emberjs/ember-inspector/issues/820

Given that Chrome folks will release a fix later this week. I think we can close this.

[2018-06-06 14:59] #817 closed

[2018-06-06 15:18] teddyzeenny commented on #820
This was added in the [third ever commit](https://github.com/emberjs/ember-inspector/commit/3ba2db37c19cb6b3bd328c2756483ff0384583df#diff-234151af45d23f77997703fdfb7253afR9) to the inspector. I'm not entirely sure what the reason was for making it sync, but nothing comes to mind as to why async xhr wouldn't work. We can try it.

[2018-06-07 13:04] tonyfinn commented on #819
[code]

I get the following error in the browser console when attempting to open the inspector.

[2018-06-07 13:15] rwwagner90 commented on #819
@teddyzeenny @pbishop16 is that error helpful for your debugging?

[2018-06-08 13:42] pbishop16 commented on #819
@rwwagner90 It's definitely something to work with. I have seen the same error on my end. I will see what I can find.

[2018-06-09 16:36] nummi opened #821 "What's New"
A quick mockup for what we discussed in the meeting. The design and content can be anything — I'm interested in thoughts on tucking _What's New_ under the Info tab.

@rwwagner90, @pbishop16

![info](https://user-images.githubusercontent.com/3692/41193905-2ff9702a-6bc8-11e8-90b6-2fb0f1431186.jpg)

![info-2](https://user-images.githubusercontent.com/3692/41193906-32b33968-6bc8-11e8-9fe3-4bb76f9abdd3

[2018-06-09 18:27] rwwagner90 commented on #821
This seems like a good first step. I would like to default to showing the release notes whenever you grab a new version probably. We could just route people to that tab to handle that.

[2018-06-25 13:55] onceatime commented on #777
have the same problem... looks that it has todo with ember decorators and how inspector pics up models.

[2018-06-25 15:42] rwwagner90 commented on #777
@onceatime it sounds like @jamescdavis sees things working fine, can we compare your models to his and see if we can find the issue?

[2018-06-25 16:43] onceatime commented on #777
sure, if i find the time i also can create a sample application.... for now i hope this helps...

this works:
[code]

this not:
[code]

i think jamescdavis example works because it uses typescript and i use default js with ember-decorators. thanks and cheers

[2018-06-28 15:39] rwwagner90 commented on #819
@famousfrank yes, this is a known issue, the current version of Ember Inspector just does not work in Firefox. We have been unable to figure out why. @pbishop16 has been trying to talk to Mozilla and find out.

[2018-06-28 22:44] fdimauro opened #823 "Data tab showing nothing"
When I click on the Data tab nothing happens. No data is shown.

[2018-06-28 22:46] fdimauro commented on #823
Sorry I am unable to even click on the Data tab. The GUI will not let me.

[2018-06-29 15:43] jrock2004 commented on #819
I am on Solus using Firefox 60.0.1 (64-bit) and the addon is working for me

[2018-07-02 08:59] onceatime commented on #777
i finally found time to create a sample app. It contains a default model and a model decorated with ember-decorators. to Run it:

[code]

then open http://127.0.0.1:4200/ and open ember-inspector in chrome. It shows one model only but not the one that uses ember-decorators

[https://github.com/onceatime/ember-inspector-decorators-sample](url)

[2018-07-02 12:12] rwwagner90 commented on #823
@fdimauro are you using engines? I'm pretty sure engines break the data tab. Without more info, we cannot help debug this. There are likely errors, if you could please share those.

[2018-07-02 12:12] rwwagner90 commented on #819
@jrock2004 what about FF 61?

[2018-07-02 12:13] rwwagner90 commented on #777
Thanks @onceatime! I will try to take a look this week.

[2018-07-02 14:04] BryanCrotaz commented on #818
`ember-learning/guides-app` suffers from this.

[2018-07-02 20:05] jrock2004 commented on #819
@rwwagner90 Solus just upgraded me to 61 and now its broken. So it does seem like 61 introduced it

[2018-07-02 22:13] rwwagner90 commented on #819
I don't know of any way to debug this. Would love to find someone with experience with FF that could help!

[2018-07-03 01:02] jrock2004 commented on #819
**When opening debugging**

![image](https://user-images.githubusercontent.com/655716/42193122-e28bb2fa-7e3a-11e8-8ae1-0cc4fa99fca7.png)

Trying to figure how to get break points to hit. But maybe because of this error its not even firing your code yet?

[2018-07-03 03:46] jrock2004 commented on #819
Of course when you go and debug the code that is in master, it works. WTH

[2018-07-03 13:55] rwwagner90 commented on #819
@jrock2004 yes, this is why it has not been fixed. It only errors when deployed, so it's hard for anyone without tribal knowledge of FF to debug.

[2018-07-03 14:02] jrock2004 commented on #819
Well I was thinking that maybe we need to CSP headers to env file but not sure if it would help as I of course cannot deploy

[2018-07-03 14:09] rwwagner90 commented on #819
@jrock2004 if you have anything to try, feel free to submit a PR and we can get @teddyzeenny to deploy and try it out.

[2018-07-07 19:21] larryh commented on #819
I concur that this started happening in FF 61 (I'm on Ubuntu). Also, nothing in the console for me as well. Sadly, that's all  the information I can give you as I've never done anything with FF internals.

Hopefully a FF guru will be able to figure out what is going on. No error messages leads one to believe that this really could be a bitch to figure out. :-(

[2018-07-09 17:31] anlumo opened #827 "[Feature Request] Adding Observer Breakpoints"
Hi,

I don't know if it's possible to do, but it'd be a huge help while debugging applications if I could set a breakpoint on 'whenever this specific property changes', irrespective from where in the code this change happened.

It's quite frequent that something in my model is altered to an invalid state, and I first have to hunt down where this change actually happens.

[2018-07-09 21:27] knownasilya opened #828 "isGlimmerTwo crashes in tests"
[code]

Owner seems to be undefined. Running the inspector in `/tests` url. This happens when I just open the inspector tab. Using:

[code]

<img width="711" alt="screen shot 2018-07-09 at 5 29 04 pm" src="https://user-images.githubusercontent.com/34726/42476969-9fca4d4c-839d-11e8-95ca-cf77e3f02c88.png">

[2018-07-10 01:19] rwwagner90 commented on #828
I believe this might be a duplicate of https://github.com/emberjs/ember-inspector/issues/818

[2018-07-10 03:26] #828 closed, assigned to nobody

[2018-07-11 22:50] KwanEsq commented on #819
Hello!  I happen to have discovered why this happens, and came across this extension while trying to discover how many are affected.

Basically there is a bug in Firefox that breaks devtools panels for any extension whose ID matches `webconsole|inspector|jsdebugger|styleeditor|netmonitor|storage`

See https://bugzilla.mozilla.org/show_bug.cgi?id=1474379 for the gory details.

Good news: I have a f

[2018-07-12 01:23] rwwagner90 commented on #819
@KwanEsq this is awesome news! We were really scratching our heads here.

[2018-07-12 01:30] rwwagner90 commented on #819
@KwanEsq so `ember-inspector` matches even though it just contains `inspector`? Perhaps we should change the id to `ember-dev-tools` or something?

[2018-07-12 03:41] jrock2004 commented on #819
@rwwagner90 I think that is worth a shot

[2018-07-12 10:15] KwanEsq commented on #819
@rwwagner90 yep, any ID that has any of those strings anywhere, as I eventually discovered after at least half an hour of going crazy trying to figure out why my own prototype with "inspector" in the ID wouldn't open its panel.  (There's some telemetry code that records opening/closing of panels, and tries to limit itself to just specified built-in panels.  Unfortunately it does this by just check

[2018-07-12 10:39] rwwagner90 commented on #819
@KwanEsq ah okay, so there is nothing we can do I guess, and we just have to wait for the FF bug to be resolved. Thanks for the info!

[2018-07-12 20:45] ef4 opened #829 "Inspector triggers targetObject deprecation"
When using ember-inspector 3.2.0 with ember 3.2.2, opening the components tab and clicking on a component causes this deprecation message:

    Usage of `targetObject` is deprecated. Please use `target` instead.

[2018-07-13 05:50] madnificent commented on #819
Can we provide a (manual) workaround for the time being, or are we forced to change our workflow and switch to Chrome/Chromium until the next Firefox release?  I suspect all Firefox users will encounter this problem sometime soon.

[2018-07-13 12:08] KwanEsq commented on #819
The best workaround will be to (temporarily) switch to Fx Beta or DevEdition once beta8 is out on Tuesday (assuming the patches make it in on time, otherwise beta9 next Friday).

[2018-07-16 10:06] adjohu commented on #451
+1

[2018-07-16 10:09] adjohu commented on #451
Also unable to resize columns more than about 20px which would otherwise help to mitigate this issue.

[2018-07-19 16:40] larryh commented on #819
Thanks for figuring out this head-scratcher, KwanEsq!

[2018-07-20 08:38] belgoros opened #831 "In Firefox 61.0.1 masOS - does not work"
I added the add-on to Firefox `61.0.1` version on macOS `10.13.3` and the Ember tab is never active (unresponsive) :

<img width="1440" alt="screen shot 2018-07-20 at 10 35 21" src="https://user-images.githubusercontent.com/83579/42992390-aeacbd90-8c08-11e8-971c-c05885b5d93c.png">

As you can see, no matter which tab becomes actif once I click it, but it is not the case for Ember's one

When using

[2018-07-20 13:40] bsylvain commented on #831
Same problem with Firefox 61.0.1 on windows 10.  The ember tab in the dev tools is unresponsive.

[2018-07-20 13:53] rwwagner90 commented on #831
Duplicate of https://github.com/emberjs/ember-inspector/issues/819

[2018-07-20 13:53] #831 closed

[2018-07-20 15:41] KwanEsq commented on #819
Good news! 62.0b10 is now out with the fix, so you can [download the regular Beta or the DevEdition](https://www.mozilla.org/firefox/channel/desktop/) and use the extension again.

[2018-07-20 15:49] KwanEsq commented on #819
For future reference, best thing to do in this situation is [get a bug on file](https://bugzilla.mozilla.org/enter_bug.cgi?product=WebExtensions&component=Untriaged) so it's likely to get attention from Fx devs (make use of the regression keyword, and possibly tracking flags).  Bonus points if you can use [mozregression](https://mozilla.github.io/mozregression/) (GUI and CLI versions available!) t

[2018-07-20 15:59] luxferresum opened #832 "current route is not displayed if `resetNamespace:true`"
If the current route has set `resetNamespace: true` then it is not listed as current route in `ember-inspector` when it should be.

[2018-07-20 17:39] yohanmishkin commented on #819
@KwanEsq It works!! 10,000 points awarded. THANK YOU!

[2018-07-20 18:15] alexmiddeleer commented on #823
@rwwagner90 I am also seeing this, as of today. The data tab is unreachable. This is the error I see in the console.

[code]

[2018-07-23 11:36] rwwagner90 commented on #819
Thanks guys! Closing this now, since there is a beta of FF out with the fix.

[2018-07-23 11:36] #819 closed

[2018-07-23 13:55] urbany opened #833 "Inspector is not detecting Ember deprecations"
Just tried in a fresh `ember new` with latest release versions of all packages and as you can see, in the screenshot below, the inspector is not picking up the deprecations.

![screen shot 2018-07-20 at 15 52 25](https://user-images.githubusercontent.com/50884/43080747-5c0fdc8e-8e88-11e8-8d56-b285f94c4263.png)

[2018-07-24 22:02] bgentry opened #834 "Ember.copy deprecation warnings"
Using the ember-inspector on my v3.3 app spews an endless series of `Ember.copy` deprecation warnings:

[code]

#### Screenshot

<img width="1347" alt="screen shot 2018-07-24 at 3 00 49 pm" src="https://user-images.githubusercontent.com/114033/43168525-7d21fdc4-8f52-11e8-9e62-7acd9b60ba9b.png">

Might be as simple as just changing to import for [this line](https://github.com/emberjs/ember-inspecto

[2018-07-24 22:15] bgentry commented on #834
Hopefully #835 is a suitable fix! :pray:

[2018-07-24 22:37] bgentry opened #836 "CI test failures on master"
There are a handful of failing tests on `master`, which can be seen in [the build](https://travis-ci.org/emberjs/ember-inspector/builds/407824073?utm_source=github_status&utm_medium=notification) for #835. These failures occur on `ember-release`, `ember-beta`, and `ember-canary` scenarios:

<details>

[code]

</details>

I was able to reproduce these failures locally on the `ember-release` track u

[2018-07-25 13:59] rwwagner90 commented on #836
Yes, we know about these failures. There were changes in Ember we have not fixed things for yet.

[2018-07-25 13:59] #836 closed

[2018-07-25 18:12] #834 closed

[2018-07-25 18:20] bgentry commented on #833
@urbany those specific deprecations were caused by ember-inspector itself, not your app. Maybe that's why they weren't showing up?

Those specific deprecations should be resolved now that #835 is merged (pending an actual release, of course).

[2018-07-26 04:55] acorncom commented on #422
Closing due to the issue growing stale. If this is still an issue, please comment and we can re-open

[2018-07-26 04:55] #422 closed

[2018-07-26 04:58] acorncom commented on #590
Reopening in the interests of tracking the remaining work needed to remove internal jQuery usage

[2018-07-26 05:07] acorncom commented on #451
Does anyone on this issue have time to help fix this issue? The Ember Inspector team could use a hand, as it’s a bit complicated in there ... 😉

[2018-07-26 19:12] rwwagner90 commented on #557
This should be resolved as of the new component tree stuff.

[2018-07-26 19:12] #557 closed

[2018-07-26 19:15] rwwagner90 commented on #136
With no activity on this, I am closing for now. If we would like to still explore this, please feel free to reopen!

[2018-07-26 19:15] #136 closed

[2018-07-27 01:28] #250 closed, assigned to nobody

[2018-07-27 01:32] rwwagner90 commented on #471
I believe this is no longer an issue, since some of the changes we have merged in. If anyone is still experiencing this, please feel free to reopen!

[2018-07-27 01:32] #471 closed

[2018-07-28 01:13] #689 closed

[2018-07-28 01:17] rwwagner90 commented on #613
I don't think we're looking to support this, at this time, but if anyone has the cycles, and would like to take a stab at it, it seems like a fine idea to me!

[2018-07-28 01:17] #613 closed

[2018-07-28 01:20] rwwagner90 commented on #509
@devinrhode2 forgive my ignorance, but what does this give us?

[2018-07-28 02:12] #829 closed

[2018-07-28 13:39] urbany commented on #833
I think this should only be closed when a new version of ember-inspector is released with your fix.

[2018-07-28 22:56] #833 closed

[2018-07-29 03:03] devinrhode2 commented on #509
Should definitely NOT be on by default, so my code would have to be
activated when they turn on some setting to "Force-add
access-control-allow-origin" BUT... it's not necessarily secure for a
backend to add in "localhost" is it? That just doesn't make sense for the
backend to add. So then the frontend dev COULD edit /etc/hosts to map
localhost:4200 to their domain, but I think it's a pretty good

[2018-07-29 03:04] devinrhode2 commented on #509
backend would typically add `access-control-allow-origin: api.twitter.com`

-Devin <http://devinrhode2.github.io>
<http://devinrhode2.github.io/>

On Sat, Jul 28, 2018 at 10:02 PM devin rhode <devinrhode2@gmail.com> wrote:

[2018-07-29 16:38] rwwagner90 commented on #509
I still believe this is up to the developer to implement. If your back end allows `*` why do we need this? For someone with a locked down back end, they would still have to either allow this in the back end, or set up nginx or something to proxy requests.

I'm looking for:

1. A clear benefit to enabling this
2. How this would work for a locked down back end?
3. What are the security implications

[2018-07-29 17:53] devinrhode2 commented on #509
Idk man at one point it was extremely helpful for me to add the header at
the extension level.

This is irrelevant for a backend that allows *
Locked down backend might not necessarily refuse requests that don't have
the correct origin, although it probably should.

Maybe the key use case is for a new backend where they haven't totally
figured out how to set everything up, or they are in a situati

[2018-07-29 18:17] rwwagner90 commented on #509
I don't know enough about the security implications or usefulness of this feature request. @rwjblue @teddyzeenny can you help decipher this and let me know if we want this or not?

[2018-07-29 18:44] rwwagner90 commented on #115
Does anyone here have ideas on how to make iframes/extensions work?

[2018-07-29 18:51] rwwagner90 commented on #582
Since we have the new component view tab now, I am closing this. Feel free to reopen if we need to do more work here!

[2018-07-29 18:51] #582 closed

[2018-07-29 19:01] rwwagner90 commented on #562
@Bestra @nummi @pbishop16 I think the essence of this issue, is we should support sorting alphabetically in each column of the models table, so if you want to view the data for all your models, and click an arrow, which would flip up and down for asc and desc, it should sort the records by that field. Is anyone interested in taking a stab at this?

[2018-07-30 13:01] #791 closed

[2018-07-30 13:08] rwwagner90 commented on #514
Closing this, as I have not recently seen it. Feel free to reopen if it is still an issue!

[2018-07-30 13:08] #514 closed

[2018-07-30 13:10] #321 closed

[2018-07-30 13:12] rwwagner90 commented on #143
@stefanpenner do you remember what this is about?

[2018-07-30 13:14] rwwagner90 commented on #653
Closing this for now, as setting the id manually is typically not done. We may revisit in the future.

[2018-07-30 13:14] #653 closed

[2018-07-30 13:19] jherdman commented on #818
Definitely. Sometimes I pause the test so I can inspect the state Ember is in, especially when state seems to wildly contradict my expectations.

[2018-07-30 13:20] rwwagner90 commented on #637
Without more info, I am not sure what would cause this. Closing for now, but feel free to reopen if it is still an issue!

[2018-07-30 13:20] #637 closed

[2018-07-30 15:23] localpcguy commented on #777
I think the difference is that this:
```export default class Sample extends DS.Model {}```
is not picked up, while this:
```export default class Sample extends DS.Model.extend({}) {}```
is picked up.

However, even though the second syntax is picked up, it doesn't show the attributes defined via decorators in the model Detail view (the columns are all there with the data, so this seems specific to

[2018-07-30 15:41] rwwagner90 commented on #777
I don't use Typescript, classes, or decorators myself, so I would love some help with this, if anyone would like to give it a shot!

[2018-07-30 15:44] rwwagner90 commented on #630
Without steps to reproduce, I'm going to close this for now. Please feel free to reopen if you can help us out with a reproduction!

[2018-07-30 15:44] #630 closed

[2018-07-30 15:45] rwwagner90 commented on #636
I've noticed a few times I need to click the Data tab a few times and it will work after that. Are you still experiencing this issue?

[2018-07-30 16:10] localpcguy commented on #777
I'll try to take a look after hours this week. Haven't worked on an plugin in the past, but looks like the README has good instructions on how to get started and how to install the dev version. I'll ping on the Slack channel if I have questions, if that's ok.

[2018-07-30 16:30] Bestra commented on #562
To be clear we're talking of something similar to http://opensource.addepar.com/ember-table/latest/docs/guides/header/sorting, correct?

[2018-07-30 18:32] rwwagner90 commented on #562
@bestra yep! I believe ember-table has been rewritten to use vertical collection as well, so if it is possible to switch out our tables for ember-table, I'd be in support of that too.

[2018-07-31 12:35] sandstrom commented on #471
@rwwagner90 Awesome! 🎖

[2018-07-31 13:33] rwwagner90 opened #848 "Fix intermittent promise debug test failures"
We have test failures for this test occasionally https://github.com/emberjs/ember-inspector/blob/master/tests/ember_debug/promise-debug-test.js#L162

It usually resolves itself if you rerun the build, but we, ideally, want this to pass the first time. I assume there is some kind of timing issue with the `await` and `run.later` of other tests, which ends up setting the `message` to the wrong one fo

[2018-07-31 13:37] rwwagner90 commented on #848
@Bestra @nummi @pbishop16 does anyone have some spare cycles to look into this? I tried to debug it for a bit, but did not find a fix.

[2018-08-01 15:32] rwwagner90 commented on #530
This sounds like a Firefox issue, since it is not a bug in inspector, but rather FF itself switching scripts when you reload. I would file a bug there.

[2018-08-01 15:32] #530 closed

[2018-08-01 15:33] #507 closed

[2018-08-01 15:36] rwwagner90 commented on #493
Is anyone still having issues with this? If so, what Ember version are you on?

[2018-08-01 17:26] rwwagner90 commented on #493
@josemarluedke those have been fixed, but we have not released a new version yet.

[2018-08-01 17:26] rwwagner90 commented on #493
Closing this, since it's likely fixed now. Just need to release a new version.

[2018-08-01 17:26] #493 closed

[2018-08-02 14:33] Bestra commented on #848
@rwwagner90 I'll timebox an hour or so tomorrow to see what I can see and take some notes if I make any progress.

[2018-08-02 16:35] shanekoss opened #851 "Cannot read property 'eachAttribute' of undefined"
Seemingly all of a sudden I get this error in the inspector when trying to get info on any model.

Routes and components are fine.

I commented out all unloadAll, unloadRecord, but still no change (previous reports suggested this could be a cause)

Going back to previous commits where the inspector was definitely working has no effect - even a clean installation doesn't work.

Any ideas?

Thanks!

[2018-08-02 16:53] rwwagner90 commented on #851
Could you please share some code, so we can see what is causing this?

[2018-08-02 17:02] shanekoss commented on #851
Thanks for the quick reply!  Shall I email you a link to the repo?

[2018-08-02 17:10] lougreenwood commented on #851
I'm getting it too, guessing it's an issue in inspector 3.3.0, only started noticing it today...

[code]

[code]

[2018-08-02 18:04] corrspt commented on #851
Same here, just seems to not read any model I throw at it. I did try installing 3.2 but without success by following the tutorials google provided me, any tips? :) @shanekoss

[2018-08-02 18:49] metzelhoff commented on #851
@corrspt Have a look [here at the installation instructions.](https://github.com/emberjs/ember-inspector/tree/v3.2.0#chrome) I was having this issue with v3.3.0 in Chrome, so I just installed v3.2.0 locally and it is working as @lougreenwood said.

[2018-08-02 20:44] rwwagner90 commented on #851
@shanekoss @lougreenwood can either of you point me to a site I can inspect where this happens?

[2018-08-02 20:46] rwwagner90 commented on #851
Never mind, I found one. Currently debugging.

[2018-08-02 20:53] rwwagner90 commented on #851
Just kidding, I am stuck. Does someone have the bandwidth to help with this? The only changes around debugInfo were this https://github.com/emberjs/ember-inspector/commit/309d52cb5b427420a1c4d5e7418252461ffdb9b7

[2018-08-02 21:00] camnicklaus opened #852 "ember inspector sidebar not opening in chrome"
Just started happening today.
2012 macbook pro 15"
OS: 10.13.4
chrome: Version 67.0.3396.99 (Official Build) (64-bit)

title says it all... the sidebar that shows the model properties doesn't open

screen video trying to see data props... the extension I used to record lost track of the mouse for some reason so it looks like i'm not clicking on the models, but I was ;)

https://drive.google.com/fi

[2018-08-02 21:03] rwwagner90 commented on #851
Figured it out, we needed to `bind` to get the correct `this`. PR incoming.

[2018-08-02 21:06] rwwagner90 commented on #852
@camnicklaus is this a duplicate of https://github.com/emberjs/ember-inspector/issues/851?

[2018-08-02 21:16] #852 closed

[2018-08-02 21:29] camnicklaus commented on #852
@rwwagner90 yeah, I guess it is. I get no errors though.

[2018-08-03 00:34] #851 closed

[2018-08-03 01:14] rwwagner90 commented on #852
It's logged as a warning, not an error.

[2018-08-03 04:27] nolman commented on #851
Any ETA on publishing the fix to the chrome web store?

[2018-08-03 06:31] Fabschu opened #854 "3.3.0 Chrome Error opening model details"
HI,
since the update to 3.3.0 the following error is thrown opening a model detail in the data tab:

[code]

We are using:
DEBUG: Ember             : 2.12.2
DEBUG: Ember Data        : 2.12.2
DEBUG: jQuery            : 2.2.4
DEBUG: Ember Simple Auth : 1.1.0

[2018-08-03 06:50] Ghostubborn commented on #854
+1

[2018-08-03 11:49] rwwagner90 commented on #851
@nolman we're working on it. @teddyzeenny will do it today.

[2018-08-03 11:50] rwwagner90 commented on #854
Duplicate of https://github.com/emberjs/ember-inspector/issues/851. We're working on getting a release out today.

[2018-08-03 11:50] #854 closed

[2018-08-03 11:52] teddyzeenny commented on #851
Already published, this should be fixed now.

[2018-08-03 11:53] rwwagner90 commented on #455
Since this was merged in a long time ago, closing this issue.

[2018-08-03 11:53] #455 closed

[2018-08-03 12:30] rwwagner90 commented on #490
This should be fixed with the new component tree stuff. You can easily see the hierarchy there.

[2018-08-03 12:30] #490 closed

[2018-08-03 13:23] corrspt commented on #851
Just want to say thanks. The time-to-debug-fix-and-deploy was incredible :) @teddyzeenny @rwwagner90

And I learned how to install this locally as well 👍

[2018-08-03 13:46] rwwagner90 commented on #851
You're welcome @corrspt! Now that you know how to run locally, we'd love your help developing inspector! 😉

[2018-08-03 14:05] ehubbell commented on #823
I'm experiencing a similar issue. Data tab was working fine for me the last several days then suddenly I can't click into view more details about each data model. I still get the index of records in the store for each model but I can't get the details pane to open. The error message doesn't offer much context:

[code]

[2018-08-03 14:14] corrspt commented on #851
@rwwagner90 Man, you don't know the guilty feeling I sometimes have for not contributing back enough. As the sole developer of a two-man boostrapped startup (who uses a lot of open source) and father to a 9 month old son... time for open-source is so hard to find 😢 . But I hear you.

I do try to provide good issue reports if I can (twiddle, reproduction repo, anything I can) when those issues appe

[2018-08-03 14:29] rwwagner90 commented on #823
@ehubbell we've had several issues reported from the `eachAttribute` issue already. Please update to 3.3.1 that we just released and it will be fixed.

[2018-08-03 14:43] ehubbell commented on #823
My B @rwwagner90. Working again!

[2018-08-03 16:36] nolman opened #856 "Problem resolving associated promise models in ember inspector 3.3.1"
The model click in works now post 3.3.1 however if you try to resolve an association that is a promise in the inspector you get the following:

[code]

https://github.com/emberjs/ember-inspector/commit/194a035e2ebc43deb87a3b96321b08e3457025f3

[2018-08-03 17:07] #816 closed

[2018-08-03 17:07] #818 closed

[2018-08-03 17:32] rwwagner90 commented on #856
@nolman can you please tell me what you mean here and provide a way for me to reproduce this?

[2018-08-03 18:07] nolman commented on #856
@rwwagner90 ![http://recordit.co/QT22u3nK9h.gif](http://recordit.co/QT22u3nK9h.gif)

[2018-08-03 18:07] nolman commented on #856
@rwwagner90 I think if you click any belongsTo association or hasMany this will happen, I could be mistaken however and it could require a certain async setup with ember data.

[2018-08-03 20:36] rwwagner90 commented on #856
@nolman can you please provide a reproduction of some sort? That way, I can debug on all the same versions of everything you are using.

[2018-08-06 09:41] dmtask commented on #856
I have the same Problem like @nolman.

[2018-08-06 11:43] gandalfar opened #857 "Problems with ember-cli-deprecation-workflow"
When trying to use ember-cli-deprecation-workflow with current version of ember-inspector in Chrome 69 beta:  (3.3.1), I'm trying to run: `deprecationWorkflow.flushDeprecations()`

but I always get an empty list of deprecations:
[code]

If I disable ember-inspector, I get correct list of deprecations (in this case):
[code]

I would also assume that using deprecation-workflow, would prevent ember-i

[2018-08-06 12:36] rwjblue commented on #857
This interaction isn’t something we’ve thought of before. We fixed the way we hook into deprecations in https://github.com/emberjs/ember-inspector/pull/845, but since we are now _never_ bubbling deprecations up (e.g. we don’t call `next‘) things like ember-cli-deprecation-workflow’s `flushDeprecations` does not work (since it just never saw any deprecations).

At the very least we should properly

[2018-08-06 16:37] nolman commented on #856
Seeing this on the same versions as @dmtask (minus jquery)

[2018-08-06 17:02] rwwagner90 commented on #856
@nolman @dmtask I still need a reproduction of some sort please. Do either of you have some code you could share or better yet, a running app I could just inspect?

[2018-08-06 17:04] rwwagner90 commented on #857
@rwjblue should we just add the `next()` call perhaps or add in a way to let them come through for this use case? Maybe even just add a button to call `flushDeprecations` from the deprecations tab of inspector?

[2018-08-06 17:05] nolman commented on #856
@rwwagner90 https://www.mymoji.co (try clicking from page -> app)

[2018-08-06 17:08] rwwagner90 commented on #856
Perfect, thanks for providing this @nolman! I will debug this after work today.

[2018-08-06 22:53] #590 closed

[2018-08-08 20:44] KwanEsq commented on #819
More good news!  There has been a 61.0.2 release, and this was able to ride-along with, so Ember Inspector is now usable in release/61 again, rather than waiting for 62 (currently scheduled for 5th September).

[2018-08-13 12:55] pbishop16 commented on #821
@nummi Sorry for the late replay, but this looks great.

[2018-08-14 02:06] pbishop16 commented on #832
@rwwagner90 I will take this one on.

[2018-08-14 19:34] rwwagner90 commented on #823
@drewda can you provide more info on your app please? I've found this is typically related to engines. I've also found sometimes clicking data 3-5 times makes it decide to actually go to the data tab.

[2018-08-14 20:39] drewda commented on #823
@rwwagner90 this app isn't using engines.

I just found how to open a console to debug the extension and found the culprit: an error in one of the app's models. This wasn't in any currently active user flows, so I didn't think to check app code.

Thanks for your quick response.

[2018-08-23 00:13] #821 closed

[2018-08-24 05:43] nummi commented on #502
Better late than never? https://github.com/emberjs/ember-inspector/pull/860

[2018-08-24 13:01] #814 closed

[2018-08-24 13:39] #502 closed

[2018-08-26 18:45] donaldwasserman opened #861 "Route Display Errors"
My `Routes` tab is totally empty, and producing the following error in my console:

[code]

Here's the data from the info tab:

[code]

I'm using Chrome Version 68.0.3440.106 (Official Build) (64-bit) on OSX 10.13.6

Some extra info: Using `Ember-Engines 0.5.20` My app uses a lot of `resetNamespace: true` when nesting routes.

[2018-08-26 19:50] rwwagner90 commented on #861
Hi @donaldwasserman both engines and resetNamespace do not play nicely with Ember Inspector. There is currently no engines support, as we need to completely change the owner/container for each engine. Would you be interested in helping us come up with a nice solution for this? The first naive approach would be to have a dropdown that lets you switch between containers, but not sure where to go fro

[2018-08-27 18:46] donaldwasserman commented on #861
Yeah - actually, while I don't really know anything about how the inspector works, working on this beats banging my head against my desk solving some of my other app issues.

I saw there are actually a handful other other issues on this, so I'll close this and start digging in after the holiday weekend.

[2018-08-27 18:46] #861 closed

[2018-08-27 19:12] rwwagner90 commented on #861
Sounds good @donaldwasserman, please reach out and I'd be glad to explain as much about inspector as I can!

[2018-08-27 22:51] cyril-sf commented on #632
Finally having some available time, I'll take a look at it.

[2018-08-28 00:52] rwwagner90 commented on #632
Thanks @cyril-sf! I've spoken with several people about engines support and I think a good first step is to have a dropdown to let you switch between containers, so inspector would just show things from one at a time, instead of merging all into one view, but it is a start.

[2018-08-30 04:35] #832 closed

[2018-08-30 07:52] nightire opened #864 "Uncaught TypeError: Cannot read property 'send' of undefined"
During development of a new add-on, I noticed an error that caused by ember-inspector.

In order to help solve this issue more effectively, I prepare a reproduction repo at: https://github.com/very-geek/ember-plyr

Follow these steps to reproduce:

1. `npm install`
2. `ember serve`
3. open `http://localhost:4200/tests`
  at this stage, all tests should be passed
4. open chrome devtools (assuming u

[2018-08-30 11:29] rwwagner90 commented on #797
I believe this sounds like an ember-data-change-tracker issue, from the stack trace. If it is not, please feel free to reopen.

[2018-08-30 11:29] #797 closed

[2018-08-30 11:29] rwwagner90 commented on #680
Closing due to lack of interest. If someone still really wants this, let me know!

[2018-08-30 11:29] #680 closed

[2018-08-30 11:56] rwwagner90 commented on #619
This may be possible with these instructions, unsure https://docs.microsoft.com/en-us/microsoft-edge/extensions/guides/porting-chrome-extensions

[2018-09-02 20:44] nlfurniss commented on #864
Error happens [here](https://github.com/emberjs/ember-inspector/blob/824e95333a2536972d28c429527a66048e8ef8bb/ember_debug/mixins/port-mixin.js#L22) when at some point `this.get('port')` is undefined

[2018-09-11 09:56] jbescoyez commented on #200
I'm having the same issue. I'm currently developing a Chrome extension that runs an Ember app in an iframe. I'm unable to inspect it since it is added after the DOM is loaded.

It is easy to reproduce:
* Go to https://ember-twiddle.com/
* Try inspecting the "output" iframe

At the moment, the iframe does not appear in the dropdown.

cc/ @teddyzeenny @mansona @gabrielgrant

[2018-09-11 10:51] mansona commented on #200
This is potentially an overlap between @Gaurav0 and @rwwagner90 that might be able to shed some light on the situation 😂

I would recommend that this should at the very least be a new issue @jbescoyez because my original problem was solved 😄 Could you make a new issue?

[2018-09-11 10:54] mansona commented on #200
For reference, it seems like they are tracking this on the twiddle side here: https://github.com/ember-cli/ember-twiddle/issues/49

[2018-09-11 12:21] jbescoyez opened #868 "Implement sandboxed iframes support / ember-twiddle support"
I'm currently developing a Chrome extension that runs an Ember app in an iframe. So far, I'm unable to inspect it.

This behavior can be easily reproduced on ember-twiddle:

* Go to https://ember-twiddle.com/
* Try inspecting the "output" iframe

### Current behavior:

* The iframe does not appear in the dropdown.

### Expected behavior:

* The iframe would be selectable in the dropdown and the em

[2018-09-11 12:33] jbescoyez commented on #200
@mansona Done https://github.com/emberjs/ember-inspector/issues/868 :)

[2018-09-11 13:52] Gaurav0 commented on #868
I've tried to work around this from Ember Twiddle side, couldn't find a workaround. Ember Inspector needs to be able to handle dynamically added and removed iframes with Ember apps in order to support Ember Twiddle.

[2018-09-12 14:01] bartocc commented on #777
I've investigated this a bit as I've had the issue in my app for a long time. Turn out that this seems to be fixed with `ember-source` 3.3.0 and has nothing to do with `ember-decorators` or `ember-inspector`.

To investigate, I've created 3 barebone apps:

- one with ember-cli 3.1.4
- one with ember-cli 3.2.0
- one with ember-cli 3.3.2

In each, I've got 2 empty models.

[code]

[code]

`ember-ins

[2018-09-21 18:11] rwwagner90 commented on #632
@cyril-sf any updates on this? We've prioritized this as one of the most important things we need to fix now. Does anyone have a good test app that uses engines we can develop against?

[2018-09-22 07:34] cyril-sf commented on #632
I’m on vacation. Coming back next week and will start looking at it (I finished pushing an outstanding PR for another repo before my break).

Sent from my iPhone

[2018-09-27 15:45] rwwagner90 opened #870 "Custom Component Support"
Inspector currently doesn't do a great job of supporting custom components, tagless components, etc. This issue should serve as a place for us to discuss how we want to support everything, how it should look, and how we get one nice cohesive experience for all the things.

[2018-09-27 20:00] rwwagner90 commented on #777
From what I have heard, this is fixed in latest ember-source.

[2018-09-27 20:00] #777 closed

[2018-09-27 20:19] rwjblue commented on #777
Yes, it should work from Ember 3.3+...

[2018-09-27 20:28] rwwagner90 opened #871 "Replace Inspect Ember Component Icon with Ember "e""
We currently use the Tomster logo, but it is small and hard to tell what it is. The "e" logo would also match favicons from other Ember sites.

[2018-09-28 07:31] bartocc commented on #777
Great !

[2018-09-28 16:02] nummi commented on #871
We have one in the project (`public/images`) but it is very low resolution. Maybe we could get a better one and use that? Vue seems to have a higher res' icon.

<img width="159" alt="screen shot 2018-09-28 at 9 01 10 am" src="https://user-images.githubusercontent.com/3692/46219791-1e8ef580-c2fd-11e8-96c6-f52e49ce7716.png">

[2018-09-28 16:36] rwwagner90 commented on #871
@nummi yeah, I was also thinking we should do the "e" without the square background.

[2018-09-28 19:03] rwwagner90 commented on #244
I'm going to attempt to work on a native Safari extension. Apple does not make this easy at all. Does anyone have experience with Safari extension development? I've loosely been following http://frontendbabel.info/articles/developing-cross-browser-extensions/ and https://github.com/kritollm/chrome-extension-api-for-safari-and-firefox but both are pretty old.

[2018-09-28 19:03] rwwagner90 commented on #244
This is the branch I started https://github.com/emberjs/ember-inspector/tree/safari-extension

[2018-09-28 19:15] devinrhode2 commented on #244
Might be easier to take a firebug-style approach, where the inspector is
INSIDE the webpage. This could be a great starting point for making ember
more debug-able everywhere. This could hook into ember-cli somehow, or
perhaps you could just inject the script into the webpage via a safari
extension. Perhaps users could put the injected "ember-inspector.js" in
their vendor file, and the extension wo

[2018-09-28 19:18] devinrhode2 commented on #244
Injecting a file would mean that mainstream usage does not get memory bloat
from defining the function. Then again, the function could be defined in
such a way that uses very very little memory. (Basically get the source
code as a string from somewhere _locally_ and eval it. Also saves parse
time for mainstream usage.)

-Devin <http://devinrhode2.github.io>
<http://devinrhode2.github.io/>

On Fri,

[2018-09-30 23:18] rwwagner90 commented on #868
@jbescoyez is the iframe sandboxed? If it is not I have a potential solution you could try out in a PR https://github.com/emberjs/ember-inspector/pull/872

The issue with ember-twiddle seems to be that it is impossible to inject scripts into the sandboxed iframe by design, unless you have permissions to its origin. Its origin is "null" though and therefore we cannot even attempt to get permissions

[2018-10-01 13:28] jbescoyez commented on #868
@rwwagner90 Great! I gonna have a look at that.

You can get the app here https://chrome.google.com/webstore/detail/prospectio/dpkbdbpmahebenenkkjenihgfophknbm/related (it is bundled as a Chrome extension).

The iframe is added on any LinkedIn profile page with the Ember app inside.

[2018-10-01 13:40] jbescoyez commented on #868
@rwwagner90 I've just tested and, unfortunately, the app in the iframe does not appear in the list :(
Is there a way I can help you?

[2018-10-01 14:40] rwwagner90 commented on #868
@jbescoyez I think what would help me most is some sort of minimal deployed app that just adds an iframe with an ember app sometime after it renders, so we can test this in an isolated way.

Is your iframe sandboxed? From what I have read, we cannot run `chrome.tabs.executeScript` on sandboxed iframes.

I don't know much about developing Chrome extensions, but since your app is a Chrome extension,

[2018-10-01 17:13] Bestra commented on #167
@rwwagner90 I think the issue is more that showing a property in the inspector will cause that computed property to recalculate/be evaluated/whatever you want to call it.  I don't think the syntax change had an effect on the root of this issue.  I bet we've all run into the problems that Alex brings up (I've totally had the exact problems he mentions in his final comment) but I think it's worth cl

[2018-10-01 19:13] rwwagner90 commented on #167
Closing as wontfix for now. After reading through this more thoroughly, I tend to agree that we should not be trying to support all the things here. I think for normal day to day inspection, it is nice to see the property values already, without extra clicks.

[2018-10-01 19:13] #167 closed

[2018-10-02 19:41] cyril-sf commented on #632
I started looking at the issue and to talk about it on Discord.

[2018-10-03 14:38] rwwagner90 commented on #509
I think this is outside the scope of things we want to support for now, so going to close.

[2018-10-03 14:38] #509 closed

[2018-10-05 13:55] ynotdraw commented on #378
I'd love to lend a hand here!

[2018-10-06 14:28] rwwagner90 commented on #378
@ynotdraw please do! There is a *lot* of magic and complex code in Inspector, so the more docs the better!

[2018-10-09 03:05] cyril-sf commented on #632
Status update: I'm done with the investigation phase, at least for routable engines. I need to propose a public API to access the list of engines.

So far, I use that UI as WIP:

<img width="404" alt="screen shot 2018-10-08 at 8 02 54 pm" src="https://user-images.githubusercontent.com/743977/46644519-6ac80a00-cb35-11e8-9c18-8c96bfd46501.png">

[2018-10-09 11:20] rwwagner90 commented on #632
@cyril-sf are you saying there is no public API that grabs these for us?

@rwjblue can you confirm?

[2018-10-09 12:55] rwjblue commented on #632
Ya, I don't think there is a public API though it should be possible (at least via private APIs). I definitely agree / support making _some_ public inspecting API.

[2018-10-09 14:09] rwwagner90 commented on #632
@cyril-sf @rwjblue so we probably need to go through the RFC process before we can support engines? Just want to make sure I am fully understanding here.

If that is correct, @cyril-sf let me know what you need from me in composing the RFC.

[2018-10-09 14:17] rwjblue commented on #632
We can detect the new public API (that we propose) and fallback to using the private API while we wait for the RFC process. IMHO, we don't need to wait (as long as we handle failures gracefully).

[2018-10-09 15:00] cyril-sf commented on #632
Based on what I found, for routable engines, we rely on private variables on the router for bookkeeping and there's no public API to access it.

[code]

See https://github.com/emberjs/ember.js/blob/bef860222ac1ce8b86c9e2ed129e24beb0c07132/packages/%40ember/-internals/routing/lib/system/router.ts#L512-L513

I need to look at routeless engines (I suspect this will be the same).

[2018-10-09 15:02] #419 closed

[2018-10-09 15:07] rwwagner90 commented on #632
@cyril-sf sounds good. Do you want to start a PR with some of your workarounds then? We can ship engines support piece by piece. Anything we can get in, would be a huge win. No need to wait until we have it everywhere or anything 😃

[2018-10-09 15:12] rwjblue commented on #632
FWIW, routeless engines will be much harder. Because there isn't a singleton that we can inspect to grab the state. I'll try to poke at the internals of `{{mount` (what routeless engines use to render) to see what bookkeeping we do...

[2018-10-09 15:17] rwwagner90 commented on #452
@Leooo @teddyzeenny is there still interest in this feature?

[2018-10-09 15:28] Leooo commented on #452
@rwwagner90 not sure on my side I have no problems to debug anymore recently - you can close for me.

[2018-10-09 15:32] rwwagner90 commented on #452
Thanks @Leooo, closing due to lack of interest for now.

[2018-10-09 15:32] #452 closed

[2018-10-09 15:33] rwwagner90 commented on #364
@aceofspades @teddyzeenny I'm not quite sure what is being asked here. Can one of you please clarify?

[2018-10-09 15:40] teddyzeenny commented on #364
I think this was about not grouping object properties by mixin and own properties sections. Instead just list all the properties (maybe sorted by name). This would be useful if you don't really know in which level of the hierarchy the property exists, which makes it hard to find as you need to expand and look into all the mixins.

[2018-10-09 15:58] cyril-sf commented on #632
I'm happy to investigate and I'll ping you if I'm not successful. I'm just putting a breakpoint where we instantiate a container and then look at the callstack to find a good entry point.

[2018-10-09 16:01] cyril-sf commented on #632
@rwwagner90 👍 I need to clean a few things before. I'll push something before the end of the week.

[2018-10-09 16:40] nummi commented on #364
Should we add a search?

[2018-10-09 17:03] rwwagner90 commented on #364
@nummi I think search could fix this, but perhaps we could also add an "all properties" grouping or something, that could be collapsed by default and pull them all together? Not sure what would be best. @teddyzeenny what do you think?

[2018-10-09 18:52] nummi commented on #364
I like collapsing — you don’t always know the exact name of the prop.

[2018-10-09 20:55] rwwagner90 commented on #364
@nummi so you're saying you like the idea of adding an additional grouping somewhere of "all properties", and keeping it collapsed? I envision keeping it collapsed unless you really want to explore all properties in one giant flattened list.

[2018-10-09 20:56] rwwagner90 commented on #632
@cyril-sf sounds great!

[2018-10-09 21:03] teddyzeenny commented on #364
I think something like two tabs, the first tab (the current state of the object inspector) shows the properties grouped by mixins (including duplicate properties with strikethrough to represent overwritten properties), and another tab to show the full list of properties, sorted by name, containing the final value of each property (the last override). The new second tab (all listed properties) can

[2018-10-09 21:51] nummi commented on #364
@teddyzeenny I dig it.

[2018-10-10 01:20] rwjblue commented on #632
Awesome, thank you @cyril-sf!

[2018-10-10 02:49] rwwagner90 commented on #364
@teddyzeenny @nummi this totally makes sense, and I agree seems like an elegant way to do it. Are either of you interested in taking a stab at it?

[2018-10-10 06:57] dipil-saud commented on #871
@rwwagner90 Having been using this extension for a long time now, It'd be great to contribute to it, so I'd like to take this up.
The ember brand guidelines has 3 types of icons defined for the minimal icons. Do we want to go with one of these or something modified?
![image](https://user-images.githubusercontent.com/672476/46718032-a96ed900-cc89-11e8-87c3-6154ccf40ade.png)
Using the e without the

[2018-10-10 17:31] nummi commented on #364
I'm at home with a newborn at the moment so I might have some time. Can you someone throw me some clues to get me on the right track?

[2018-10-10 17:33] nummi commented on #871
My vote is for the rounded square.

[2018-10-10 17:35] nummi commented on #871
Also while we're tinkering with that icon maybe we could improve on the icon in the Firefox developer tab?

[2018-10-10 20:33] rwwagner90 commented on #364
@teddyzeenny can you help talk @nummi through some getting started steps on discord please? I'm happy to help as well, but you would likely know more about this stuff than me.

[2018-10-11 10:05] dipil-saud commented on #871
Samples
![ember-inspector](https://user-images.githubusercontent.com/672476/46796800-363e9300-cd6d-11e8-9d82-76520c46b71e.png)

[2018-10-11 12:11] rwwagner90 commented on #871
@dipil-saud I think I like the circle. I feel like an "e" with no background could look good too, but as you mentioned, that is not in the recommended assets to use.

@locks any suggestions or preferences here?

[2018-10-11 12:42] locks commented on #871
I think I'm partial to the square out of familiarity, but as long as it is one of the options from the branding page, I am ok with it 😁

[2018-10-11 13:09] rwwagner90 commented on #871
@dipil-saud feel free to pick whichever you prefer and open a PR 😄

[2018-10-14 20:37] nummi commented on #364
Progress
![progress](https://user-images.githubusercontent.com/3692/46921908-44cbbb00-cfb6-11e8-8a8e-4f4f7d4b8906.gif)

[2018-10-14 20:47] rwwagner90 commented on #364
@nummi Nice! This is looking awesome 😄

[2018-10-14 20:50] rwwagner90 commented on #609
@pbishop16 any progress updates on this?

[2018-10-14 20:58] rwwagner90 commented on #464
@thorsteinsson will converting to ember-table fix this? I'm not sure how our tables are attempted to be kept in sync with the records now or if that will change anything.

[2018-10-14 21:00] rwwagner90 commented on #430
@rwjblue @teddyzeenny do we still want to do anything here or can we close this?

[2018-10-14 21:03] rwwagner90 commented on #32
@teddyzeenny @locks @rwjblue @krisselden this is an extremely old issue. Do we still need to do anything here? If not, I am inclined to close. It must not be a huge deal, since it has been open for 5 years 😛

[2018-10-18 11:22] lifeart opened #878 "Error on test page"
Ember Inspector has errored.
This is likely a bug in the inspector itself.
You can report bugs at https://github.com/emberjs/ember-inspector.
Error message: Cannot read property 'name' of undefined
Stack trace: TypeError: Cannot read property 'name' of undefined
    at Class.getRecords (<anonymous>:701:29)
    at sendEvent (http://localhost:4300/assets/vendor.js:38269:14)
    at Class.trigger (htt

[2018-10-18 12:29] rwwagner90 commented on #560
@justinaray unfortunately, we cannot inject scripts into a sandboxed iframe. We're currently working on a workaround to get inspector to work with ember-twiddle, which uses sandboxed iframes, but it will likely involved manually injected inspector scripts on the iframe side. We will document whatever fix we find, so that developers of sandboxed iframes have a workaround.

[2018-10-18 12:29] #560 closed

[2018-10-18 12:31] rwwagner90 commented on #878
@lifeart can you give us some more info please? What were you doing that caused the error?

[2018-10-23 12:49] abdullah2891 opened #879 "Background of the split panel is broken on chrome dark mode for older version of Ember"
[`#699`](https://github.com/emberjs/ember-inspector/issues/699) is showing up on older version of ember again(for example 2.5.1) . The Dark theme is not available for this version i assume , so it reverts back to old view and split view is unusable

Version
Chrome : Version 59.0.3071.115
Ember Inspector 1.10.0
Ember 2.5.1
jQuery 2.1.4

[2018-10-25 19:21] nummi commented on #364
Fixed in  https://github.com/emberjs/ember-inspector/pull/877

[2018-10-25 19:21] #364 closed

[2018-10-27 21:09] siwalikm opened #880 "Ember inspector is causing errors with service workers"
Getting the following error when using service workers if Ember chrome inspector is present in browser.
`Uncaught (in promise) TypeError: Request scheme 'chrome-extension' is unsupported at sw.js`
![image](https://user-images.githubusercontent.com/20061595/47609357-83ec1880-da5a-11e8-96a9-6908e4ad73c9.png)

[2018-10-29 15:21] rwwagner90 commented on #880
@siwalikm we are going to need more info here. I do not see this error using service workers myself. Can you provide a url to a site where we can reproduce the error?

[2018-10-30 17:41] siwalikm commented on #880
Hi @rwwagner90 ,  please check [this website url](https://elegant-perlman-615767.netlify.com/) to reproduce the issue. Check console log for the sw.js error which goes away on disabling ember inspector.

[2018-10-31 14:26] rwwagner90 commented on #880
@siwalikm Is this not an error with your service worker code? Shouldn't it not run on chrome extensions?

[2018-10-31 19:07] siwalikm commented on #880
Is it? @rwwagner90 I'm new to sw.js. Could you please help me understand why I'm facing this issue and why the error goes away when ember inspector is disabled?

[2018-11-02 05:36] rwwagner90 commented on #880
@siwalikm So chrome extensions run content scripts when you load pages, and it appears your service worker is trying to run on the chrome extension, it should not do that.

If you go to https://shipshape.io/ you can see I register a service worker there, but there is no error thrown, so it's something specific to your service worker I think.

[2018-11-02 06:37] #880 closed

[2018-11-02 10:57] rwwagner90 commented on #878
@lifeart do you have more info for us?

[2018-11-02 16:44] lifeart commented on #878
@rwwagner90  cannot reproduce it(
Have this error, using `ember-cli-hot-loader` in `/tests` page

[2018-11-02 18:26] #878 closed, assigned to nobody

[2018-11-02 18:30] rwwagner90 commented on #32
Due to lack of response, I am closing this issue. If anyone would like to reopen, and this is still an issue we want to tackle, let me know.

[2018-11-02 18:30] #32 closed

[2018-11-02 18:31] rwwagner90 commented on #100
@teddyzeenny @locks @rwjblue @krisselden this has been waiting on feedback for several years. Any updates here or should we close as wontfix?

[2018-11-02 18:35] rwwagner90 commented on #339
Now that we have ember-try running for EmberDebug, I believe the main idea behind the need for this issue is solved. Closing due to lack of response, but if there is desire to split things up still, feel free to reopen.

[2018-11-02 18:35] #339 closed

[2018-11-02 18:37] rwwagner90 commented on #285
@teddyzeenny it seems people have been having issues with this for quite awhile. You mentioned the fix needs to be in Ember core. Did we open an issue there? If not, would you mind helping me understand the changes we need and I can open one?

[2018-11-02 19:08] #74 closed

[2018-11-02 19:14] rwwagner90 commented on #109
Closing this due to inactivity. If this is still a desired feature, and someone would like to help implement it, please feel free to reopen.

[2018-11-02 19:14] #109 closed

[2018-11-02 19:17] rwwagner90 commented on #143
We're going to assume this meant implement save and delete for models in the Inspector. We think this could be a good idea, and will look into it.

[2018-11-02 19:20] rwwagner90 commented on #180
We feel that engines are the path forward for running multiple apps in one page, so we are going to focus our efforts there.

[2018-11-02 19:20] #180 closed

[2018-11-02 19:27] #244 closed, assigned to RobbieTheWagner

[2018-11-02 19:41] rwwagner90 commented on #378
@ynotdraw let's sync up on what you would like to work on here, and split this into more concrete and manageable chunks of work.

[2018-11-02 19:41] #378 closed

[2018-11-02 19:43] rwwagner90 commented on #379
Closing this as these controller types have been removed already.

[2018-11-02 19:43] #379 closed

[2018-11-02 19:53] rwwagner90 commented on #619
We think supporting every browser with their own extensions is more work than it is worth. We are going to explore using a standalone app for these other browsers.

[2018-11-02 19:53] #619 closed

[2018-11-02 19:55] rwwagner90 opened #881 "Investigate Standalone App"
https://github.com/facebook/react-devtools and https://github.com/vuejs/vue-devtools have standalone app for use with Safari, mobile, etc. This could be a good way to support cases outside of Chrome and Firefox.

[2018-11-02 20:39] devinrhode2 commented on #244
what does it lack? are there some specific browser extension api's that are
missing? Why couldn't ember inspector be made to work firebug-style?

-Devin <http://devinrhode2.github.io>
<http://devinrhode2.github.io/>

On Fri, Nov 2, 2018 at 3:12 PM Robert Wagner <notifications@github.com>
wrote:

[2018-11-02 23:00] rwwagner90 commented on #244
@devinrhode2 if you have a specific Safari implementation in mind, you are welcome to take a stab at it, but Safari extensions are a huge mess.

The current plan is to do like React and Vue are doing and make a standalone app for anything other than Chrome and Firefox.

[2018-11-05 20:09] thorsteinsson commented on #57
The `primaryKey` should be set on the serializer and not the model.

[2018-11-05 20:09] #57 closed

[2018-11-05 23:13] locks commented on #881
Possibly useful:
- https://github.com/joostdevries/ember-cli-remote-inspector
- https://github.com/ember-learn/ember-hearth

[2018-11-07 14:17] #871 closed

[2018-11-07 16:48] #311 closed

[2018-11-07 20:36] pbishop16 commented on #609
@rwwagner90 I greatly apologize, but no updates. I am finally hitting a solid steady state on my new job. Will address this week.

[2018-11-07 21:12] rwwagner90 commented on #868
We will specifically make this work for twiddle, and provide the steps necessary to make it work with other sandboxed iframes.

[2018-11-07 21:15] rwwagner90 commented on #857
@rwjblue let me know which you think is better. We could also do a hybrid where we call `next` to allow them through, but then have a setting to either show them in the console or not.

[2018-11-07 21:16] rwwagner90 commented on #848
We will remove this test, since it is unreliable, and cannot be trusted.

[2018-11-07 21:18] rwwagner90 commented on #827
This seems out of scope for inspector. You may want to set your own observer for debugging, and remove it afterwards.

[2018-11-07 21:18] #827 closed

[2018-11-07 21:20] rwwagner90 commented on #643
Closing in favor of #632

[2018-11-07 21:20] #643 closed

[2018-11-07 21:31] rwwagner90 commented on #487
@lolmaus is this still an issue and do you have a reproduction? I tried a bit to reproduce, but was unable to.

[2018-11-07 21:36] rwwagner90 commented on #143
We're closing this in favor of #480

[2018-11-07 21:36] #143 closed

[2018-11-07 21:49] rwwagner90 commented on #479
This is the expected behavior, as we just show what is in the store.

[2018-11-07 21:49] #479 closed

[2018-11-07 21:52] rwwagner90 commented on #115
We will support extensions via the standalone app #881.

[2018-11-07 21:52] #115 closed

[2018-11-08 07:17] lolmaus commented on #487
Let's close it then. We can reopen if we encounter it again.

[2018-11-08 07:17] #487 closed

[2018-11-10 00:47] thorsteinsson commented on #864
Thanks for creating a reproduction repo, it helped me track it down quickly.

[2018-11-10 01:07] thorsteinsson commented on #856
The error happens in ember-data at: https://github.com/emberjs/data/blob/bd74157c978f3d94799c06ca5812ae35d77a81d9/addon/-private/system/model/model.js#L1005

[2018-11-10 11:57] thorsteinsson commented on #451
This has been fixed in PR #873, we're still testing it on different apps before merging.

[2018-11-15 01:29] #672 closed

[2018-11-28 13:49] #864 closed

[2018-11-30 16:04] #562 closed

[2018-12-03 15:00] #454 closed

[2018-12-05 05:13] slisznia opened #890 "3.3.2: this.eachAttribute is not a function"
I'm playing with Ember Inspector and I'm getting the error (screenshot below) in both Firefox and Chrome. The model is trivial:

[code]

![infodeqpilot - google chrome_072](https://user-images.githubusercontent.com/1666246/49491512-14680680-f81a-11e8-9e1d-7e5cfa2cd503.png)

[2018-12-05 20:42] pbishop16 commented on #609
@rwwagner90 Delayed, but still in progress.

[2018-12-05 20:43] pbishop16 commented on #495
@rwwagner90 Will tackle early next week.

[2018-12-06 15:14] rwwagner90 commented on #609
@pbishop16 please let me know if you need anything from me 👍

[2018-12-06 15:14] rwwagner90 commented on #495
@pbishop16 sounds good!

[2018-12-10 08:38] lifeart opened #892 "Table's area sizing issue"
version:
![image](https://user-images.githubusercontent.com/1360552/49719937-a84d2e80-fc6f-11e8-90c6-8b7d54fe387b.png)

issues:

![image](https://user-images.githubusercontent.com/1360552/49719985-c7e45700-fc6f-11e8-9b67-831061e7a81b.png)

![image](https://user-images.githubusercontent.com/1360552/49720082-f3674180-fc6f-11e8-910d-4291040de1e2.png)

![image](https://user-images.githubusercontent.co

[2018-12-10 11:03] githubSathishkumar commented on #861
inspector v3.4.0 says this issue fixed. but still my routes tab empty. @rwwagner90 @donaldwasserman  no error message show in console like said in above but just empty tab. can you please let us know the bugfix status?

[2018-12-10 14:37] rwwagner90 commented on #892
I think we should be able to fix this by using ember-table for all the tables. Will try to get to that soon.

[2018-12-10 14:40] rwwagner90 commented on #861
@githubSathishkumar this issue was closed by @donaldwasserman, we did not implement a fix. Are you using engines and/or `resetNamespace`? I believe `resetNamespace` should work now, but there is still no engines support.

[2018-12-10 15:02] donaldwasserman commented on #861
@githubSathishkumar It's still broken with engines as far as I know. I've stopped using engines ATM.

@rwwagner90 I actually sort of know a path forward, but it involves refactoring how `buildSubTree()` is both called and implemented here: https://github.com/emberjs/ember-inspector/blob/master/ember_debug/route-debug.js#L123

[2018-12-10 15:34] rwwagner90 commented on #861
@donaldwasserman Are you talking about for engines or `resetNamespace`?

[2018-12-10 16:30] donaldwasserman commented on #861
@rwwagner90 I was talking about engines.

So the issue in `buildSubTree` is that routes from engines come back as promises, vs plain pojos from the host app's routes. So that's what's causing the routes page to totally fall over.

The issue is that when that gets called, it's modifying the route tree by reference from the call site. So that part needs to get all taken out and the promises have to

[2018-12-10 18:41] deanmarano opened #893 "Chrome Store Extension page refers to old repo."
https://chrome.google.com/webstore/detail/ember-inspector/bmdblncegkenkacieihfhpjfppoconhi refers to this repo being under tildeio (https://github.com/tildeio/ember-extension).

Also, with the icon change, it might make sense to change the logo in the Chrome Store as well.

[2018-12-10 19:00] jakeboyles commented on #562
🎈 🎈 🎈 🎈 🎈 🎈 🎈 🎈 🎈 🎈

[2018-12-10 19:48] rwwagner90 commented on #861
@donaldwasserman we would love engines help 😃

[2018-12-11 17:46] rwwagner90 commented on #893
Totally agree @deanmarano. I'm hoping to get some style advice from @nummi about what tile images and icons we want to use, and I will also update the url and the other info as needed.

[2018-12-12 05:38] nummi commented on #893
- [ ] Update Github repo link at the bottom of the Chrome Store description.
- [ ] Update tile image on Chrome Store search listing

Who has credentials for the listing on the Chrome store?

[2018-12-12 05:53] nummi commented on #893
<img width="966" alt="image" src="https://user-images.githubusercontent.com/3692/49849510-c6f61700-fd8e-11e8-8f83-4e534ccbe91f.png">

---

<img width="966" alt="image" src="https://user-images.githubusercontent.com/3692/49849525-d37a6f80-fd8e-11e8-9622-62af71c5e318.png">

[2018-12-12 11:45] imkathir opened #895 "routeHandler.get is not a function"
TypeError: routeHandler.get is not a function

[2018-12-12 13:32] rwwagner90 commented on #893
@nummi I've got credentials. I like the tile with the orange background, makes us stand out from all the other ones that are just using their icon.

[2018-12-12 17:05] nummi commented on #893
![ember](https://user-images.githubusercontent.com/3692/49885793-005d6f80-fded-11e8-9f67-8a47ab9357dd.png)
@rwwagner90

[2018-12-13 14:11] nickschot commented on #636
I have seen this issue too with one app consistently, but not with all my apps. Let me know what I can do to pin this issue down @rwwagner90 .

[2018-12-13 14:59] rwwagner90 commented on #636
@nickschot is that app using engines or anything non-standard? Is the ember-resolver version perhaps outdated as @acorncom mentioned above?

[2018-12-13 15:01] nickschot commented on #636
It's a normal app with (currently) one npm linked addon which also contains models. It's on Ember 3.0, CLI 3.4 and Data 3.4. Resolver is ^5.0.1, so don't think that's it.

[2018-12-13 17:30] rwwagner90 commented on #636
@nickschot I just reread the initial issue here, and it sounds like it worked in development, but did not work in a deployed staging environment. Is that the same issue you are having?

[2018-12-13 17:44] nickschot commented on #636
Ah no it occurs in development for me, haven’t checked anything else yet.

[2018-12-16 21:17] argote opened #897 "Ember inspector watching non-ember properties causes error."
Error:

`You must use set() to set the `animationTask` property (of <dummy@component:sq-field-input-searchable/input-element::ember296>) to `[object Object]`.`

This is happening because the values are being observed by the Ember Inspector and therefore the property must be set through `.set`. https://discuss.emberjs.com/t/ember-1-8-you-must-use-ember-set-to-set-the-property/6582

[2018-12-17 15:23] rwwagner90 commented on #897
Hi @argote do you have a reproduction of this we could take a look at?

[2018-12-17 16:43] rwwagner90 commented on #893
Just updated both things 👍

[2018-12-17 16:43] #893 closed

[2018-12-22 22:49] nummi opened #900 "Data Table Heading Colors"
<img width="817" alt="image" src="https://user-images.githubusercontent.com/3692/50379214-7d13f900-05f8-11e9-867c-0f5c54758c21.png">

[2018-12-24 03:42] rwwagner90 commented on #900
@nummi I assume you are saying we need to make these colors dark?

[2018-12-25 21:36] nummi commented on #900
Correct :)

[2018-12-27 19:27] HodofHod opened #903 "Decorated model properties don't show in object-inspector column"
Model properties that are defined using ES6 classes and ember-decorators don't show in the detailed object-inspector sidebar, but they *do* show in the table view.

[Codesandbox Repro](https://codesandbox.io/embed/3qlwvyq926)

[code]
![image](https://user-images.githubusercontent.com/1865736/50492026-3735a700-09e3-11e9-8ced-f93d62c102c2.png)

[2018-12-30 18:07] #900 closed

[2019-01-03 19:22] fusion2004 opened #908 "Error retrieving/parsing sourcemaps with absolute sourcemap URLs"
I was recently upgrading an app to ember 3.6, and either ember/ember-cli or one of the many dependencies I upgraded seems to have broken the sourcemap retrieval in ember-inspector for me.

In my app, we have an absolute fingerprint prepend, even in the development environment. So the `vendor-6f27a3c5593ecebd26e322fcb83e3600.js` asset references are replaced with something like `http://local.ourdom

[2019-01-03 20:07] rwwagner90 commented on #908
Feel free to submit a PR with your suggested change, as long as it works for all cases.

[2019-01-05 19:54] rwwagner90 commented on #892
@nummi since we are stuck on the ember-table stuff for now, is there something we can do to make sure the tables size correctly for now?

[2019-01-05 22:19] nummi commented on #892
I will take a stab at it. Do we have a consistent way of reproducing the bug?

[2019-01-05 22:56] lifeart commented on #892
@nummi yeah, try to open https://emberjs.com/api/ember/release
with Ember-inspector, having 25% size
![image](https://user-images.githubusercontent.com/1360552/50730094-20672100-1156-11e9-8247-e39835904700.png)

after full-size it and go to `routes` section

![image](https://user-images.githubusercontent.com/1360552/50730100-4a204800-1156-11e9-8715-bbd34a782a01.png)

[2019-01-06 20:56] nummi commented on #892
Looks like the height of the table is set manually. There is a window resize event listener that is supposed to keep it up to date but only seems to fire once. I'm not really sure why all this is necessary, shouldn't the table just take up 100% of the available height?

[2019-01-06 21:14] lifeart commented on #892
@nummi in some pages tables broken, but "Data" looks ok

[2019-01-06 21:32] rwwagner90 commented on #892
@nummi I think making it 100% height sounds logical. I'm not sure why it's not done like that.

[2019-01-07 01:04] #892 closed

[2019-01-09 21:10] #848 closed

[2019-01-10 18:35] nummi commented on #870
Template-only component:
<img width="411" alt="image" src="https://user-images.githubusercontent.com/3692/50988525-bb972800-14c1-11e9-87e4-19a2085c9b57.png">

Component used with angle bracket syntax:
<img width="268" alt="image" src="https://user-images.githubusercontent.com/3692/50988973-fcdc0780-14c2-11e9-9bed-a6eb29a18f85.png">

[2019-01-11 14:51] rwwagner90 opened #914 "Support angle bracket components"
Currently all components are shown with curly braces. We need to find a way to determine curly versus angle bracket components, and show them accordingly in the component tree.

[2019-01-11 15:08] rwwagner90 opened #915 "Components in view tree test failing Ember 3.8+"
[code]

This appears to have started failing in 3.8, which is beta as of writing this, and was canary when we first saw the issue.

It can be reproduced by running `ember try:one ember-beta --- ember test`

The failing assertion can be found here https://github.com/emberjs/ember-inspector/blob/master/tests/ember_debug/view-debug-test.js#L148

[2019-01-11 15:11] rwwagner90 opened #916 "Module Unification Support"
Module unification is still in flux, but it is starting to become more prevalent. We need to investigate the changes necessary to support the new file layout.

[2019-01-14 07:31] wukongrita commented on #890
Beside that, the label should be "Belongs To" and "Has Many"; not the first relation model name:

<img width="545" alt="screen shot 2019-01-14 at 14 30 03" src="https://user-images.githubusercontent.com/25361005/51100497-f625fb00-1808-11e9-90b8-cca72832751d.png">

here is what to be expected (I took the screenshot with the lower ember.js version):

<img width="561" alt="screen shot 2019-01-14 at 1

[2019-01-14 13:07] rwwagner90 commented on #890
@wukongrita that seems like a separate issue. Do you mind filing a new issue with steps to reproduce that?

[2019-01-17 21:00] nummi commented on #870
There are many ways a component can be used in a template — do we want to support them all? I would say yes, we want to mirror what the developer typed.

![image](https://user-images.githubusercontent.com/3692/51348498-c0c31c80-1a57-11e9-85e0-2695a1feeaf6.png)

[2019-01-23 16:17] #915 closed

[2019-01-26 06:05] nummi opened #923 "Removal of View Tab"
Place for discussion around removal of the View Tab.

## Todo

- [x] Make Components Tab default route
- [ ] Display render performance in Components tab?

## Current View Tab Functionality

1. **List of components**
	- ☑️ covered by Components Tab
1. **Template path**
	- _click to view element in browser Elements panel_
	- ☑️ covered by Routes and Components tab
1. **Model**
	- _open in object in

[2019-01-26 20:34] rwjblue commented on #923
Awesome, thank you for putting this together!

[2019-01-27 20:47] wycats commented on #923
re: performance tab -- it was nice to be able to see the latest render time right next to the view without digging into more lists, but I think it would just be fine to add it to the component.

Secondly, and only tangentially relatd, what would be needed to add the invocation arguments to the components tab?

[2019-01-27 20:53] rwjblue commented on #923
totally agreed on both counts, we already have an issue open RE: fixing up the display of custom components on the components tab and I think as part of that effort we will likely also try to add invocation arguments (at _least_ the names of the arguments, if not the current values)

[2019-01-27 21:48] wycats commented on #923
It seems like it would be possible to snapshot the ARGS references and peek at them if the user clicks on the argument slot, right?

[2019-01-28 00:48] nummi commented on #923
@wycats Something like this?
https://codepen.io/nummi/details/mvJwbq

[2019-01-28 09:44] exeto opened #926 "getApplications(...).mapBy is not a function"
Prototype extensions are disabled in my project.

Version: 3.5.0

[2019-01-28 16:49] urbany opened #927 "[v3.5] No longer detects my ember-app"
The inspector stopped detecting my app as an Ember App since last update (v3.5).
First time this has happened in years, any way I can debug this?
I have the `Deprecations were detected, see the Ember Inspector deprecations tab for more details.` message in the console, but the inspector tab says: `Ember application not detected!`

@rwjblue pointed me to this pull where there are some comments that

[2019-01-28 16:55] trenpixster commented on #927
Also having issues with version 3.5.0 of the inspector: it stopped detecting my ember app. I have no warnings whatsoever in Chrome. In Firefox it says `Ember Inspector Active`, but it doesn't detect the app.

Ember version: 2.18.2

[2019-01-28 17:37] efx commented on #926
Seeing this when I link canary against my app. This probably came from https://github.com/emberjs/ember-inspector/pull/898
It seems the responsible line is here:
https://github.com/emberjs/ember-inspector/blob/master/ember_debug/vendor/startup-wrapper.js#L135
I think we could change that line to `.map(item => item && item.name)`.
I can try fixing this later today or if anyone else wants to now :)

[2019-01-28 17:56] efx commented on #926
NVM, just figured I'd get it now. I manually tested this locally and it solved the issue. I'm curious how to stub no prototype extensions in the acceptance tests.

[2019-01-28 18:22] urbany commented on #927
@efx I can send you a link in Discord.

[code]

[2019-01-28 18:58] efx commented on #927
Per some investigation and discussion, we can rule out #926 as being related. So next step is to bisect to find what part of the recent changes caused this break per Robert's guidance here: https://github.com/emberjs/ember-inspector/pull/898/files#r251179496

[2019-01-28 20:35] gfmartinez commented on #927
Having the same issue. Looking at two ember apps Ember v3.5 and v3.6. Chrome and firefox: neither extensions work.

[2019-01-28 21:22] guangda-prosperworks commented on #927
Same issue here with ember 2.18.

[2019-01-29 01:10] #926 closed

[2019-01-29 08:57] aandis commented on #927
+1 on Ember 3.4

[2019-01-29 14:00] rwwagner90 commented on #927
We are aware of this issue and working on a fix.

[2019-01-29 14:49] urbany commented on #927
@rwjblue and @rwwagner90 found a quick fix while this is not properly fixed. Just add a name property to to your app/app.js:

[code]

[2019-01-29 20:27] RobbieTheWagner opened #931 "Ember Octane support"
- [x] Support showing `<` vs `{{` in components tab
- [ ] Template only glimmer components do not show up
- [ ] Add methods for getting more info on components from component manager, args, name etc.
- [ ] Investigate showing info on SSR / rehydration to expose gotchas with rendering, deleting, and rendering again

[2019-01-29 22:57] #927 closed

[2019-01-31 01:05] HodofHod commented on #916
Is this being tracked somewhere else now?

[2019-01-31 15:14] HodofHod commented on #916
@rwwagner90 That doesn't seem to explicitly include MU support, is it implied in Octane support? And does that mean it will support MU apps that aren't on Octane?

[2019-01-31 16:24] rwwagner90 commented on #916
@HodofHod Either way MU layout `===` Octane layout, so Octane support means MU support. I don't think we'll be attempting to support nonstandard MU with older apps. Do you know of things that are currently broken in inspector in your app?

[2019-01-31 16:48] HodofHod commented on #916
Definitely the Data tab is broken, since the `ContainerDebugAdapter` can't find the models properly. I've manually hacked together a fix for my app for that by overriding it in an initializer.

Also, all components show up as `{{@ember/component}}`, but I'm not sure if that's MU related or something else (native classes or something).

I'm not aware that MU sans-Octane is nonstandard, won't it be

[2019-01-31 17:59] rwwagner90 commented on #916
I'm saying all of the changes with regards to Native Classes, MU, angle bracket components, etc are a part of Octane. I don't think they are intended to be used piecemeal, but are intended to be used as Octane.

As far as I know, long term support will not be given for taking any one feature of Octane and bolting it onto older apps. With this in mind, I am saying we'll support Octane, and its feat

[2019-01-31 23:08] nummi commented on #632
Looks great! What is the automated test story like for Engines and is there a live example we can use to click test?

[2019-01-31 23:09] nummi commented on #632
@cyril-sf, would you be okay with pushing a _work in progress_ PR?

[2019-01-31 23:55] cyril-sf commented on #632
This is a good question and I don't have the answer. I'm using this project to get familiar with engines, so I'll have to find the answer 😄

Will do today or tomorrow if you don't judge the code as it's WIP 😉
Definitely not the quality I intend of pushing but I'm happy to have feedback in case you find problems.

[2019-02-01 00:12] nummi commented on #632
Of course not. I haven't used engines before so I'm curious!

[2019-02-01 17:49] HodofHod commented on #916
Thanks, I think I understand now. I've just never seen anything that indicates MU, angle bracket components, Native Classes et al. are only intended to be used in Octane. E.g, [Native Classes are officially supported public api in Ember 3.6](https://emberjs.com/blog/2018/12/13/ember-3-6-released.html#toc_new-features-2), angle bracket components are [supported in Ember 3.4](https://www.emberjs.com

[2019-02-01 18:53] rwwagner90 commented on #632
A WIP PR would be awesome, and please let us know what we can do to help!

[2019-02-03 20:01] nummi commented on #923
<img width="610" alt="image" src="https://user-images.githubusercontent.com/3692/52181846-5e824f80-27ab-11e9-86d9-20086a90cdea.png">

[2019-02-04 12:57] rwwagner90 commented on #923
@nummi do you know if other dev tools for React, Vue, etc incorporate render times?

[2019-02-04 17:39] nummi commented on #923
The React devtools have a _Profiler_ screen where you can see render times for components.
<img width="922" alt="image" src="https://user-images.githubusercontent.com/3692/52225937-7e277f80-2860-11e9-8991-3c072bccdda9.png">

The _Elements_ screen does not display this information.

<img width="552" alt="image" src="https://user-images.githubusercontent.com/3692/52226028-b4fd9580-2860-11e9-9e20-bec

[2019-02-04 18:08] rwwagner90 commented on #923
@nummi I believe we can see all that in the normal devtools performance tab, with the addition of `ember-perf-timeline` correct? https://github.com/ember-best-practices/ember-perf-timeline

I'm unsure if we want to build this into inspector or not, but if we did, I think it would warrant a separate tab as well.

[2019-02-07 21:08] nummi opened #940 "Design Proposal: component search changes"
The current component search hides components that do not match (it also displays children if there are any) See first video below. Sometimes this is fine but I find contextual information to be useful: who the parent is, etc.)

I'm proposing we implement behavior that is more similar to searching in other panes of the devtools — like Elements — and searching in the web page.

Current behavior: ht

[2019-02-10 19:49] nummi commented on #923
Closing for PR. Please continue conversation there.

[2019-02-10 19:49] #923 closed

[2019-02-28 14:36] lifeart opened #943 "Ember-data 3.7 + Pure Class models (properties inspector issue)"
given:

[code]

![image](https://user-images.githubusercontent.com/1360552/53573782-4ec61300-3b7f-11e9-9e2d-1fb018e600fe.png)

![image](https://user-images.githubusercontent.com/1360552/53573801-57b6e480-3b7f-11e9-8345-ee05f58ad1cf.png)

[2019-02-28 14:37] lifeart commented on #943
where is no `fullName`, `lastName`, `firstName` props

[2019-03-05 03:04] josemarluedke opened #944 "Setting dependency keys using the `.property()` modifier has been deprecated"
In a nearly generated app, using ember 3.9 beta the app gets a deprecation message. This is coming from the inspector. If I disable the inspector, my app does not get the deprecation.

[code]

In a quick search, I found a few places using `.property()`.

https://github.com/emberjs/ember-inspector/blob/824e95333a2536972d28c429527a66048e8ef8bb/app/controllers/deprecations.js#L18-L20

https://github.

[2019-03-05 05:54] rwwagner90 commented on #944
We can likely remove the `.property` bits here. We'll look into it!

[2019-03-07 13:37] ricknox commented on #895
@rwwagner90: This currently happens if you visit linkedin.com and then click on routes in the Ember Inspector.

Stacktrace:
[code]

[2019-03-07 13:41] rwwagner90 commented on #895
@ricknox yes, LinkedIn uses engines.

[2019-03-08 15:55] ricknox commented on #895
I was just helping as I see this message often. Sorry for intruding on the issue.

[2019-03-08 16:17] rwwagner90 commented on #895
@ricknox no problem! Just clarifying we do not support engines.

[2019-03-14 23:10] calexdiaz143 opened #946 "Ember inspector crashes in Data tab"
Issue came up after we updated our codebase to Node 10.10.0. Any ideas on what could be causing this? Tried a bit of debugging on my own but didn't get any insight.

VM563:100 Ember Inspector has errored.
This is likely a bug in the inspector itself.
You can report bugs at https://github.com/emberjs/ember-inspector.
Error message: entries.hasOwnProperty is not a function
Stack trace: TypeError: en

[2019-03-17 14:05] rwwagner90 commented on #946
Do you have a reproduction we could look at?

[2019-03-18 05:48] rwwagner90 opened #947 "Convert components to angle bracket syntax"
We should be able to support using angle bracket components, in inspector itself. We need to fix the build first, but slowly converting components over would move us in the right direction.

[2019-03-18 05:49] rwwagner90 commented on #895
@ricknox if you happen to see this issue on a site that does not use engines, let us know, but I am going to close for now.

[2019-03-18 05:49] #895 closed

[2019-03-18 16:31] gabz75 commented on #944
Happy to work on this!

[2019-03-18 16:32] robustdj commented on #857
I'll give this one a shot

[2019-03-18 17:56] #944 closed

[2019-03-18 18:01] gabz75 opened #950 "Remove usage of .readOnly()"
Remove usage of `.readOnly()` as it is now deprecated.

[2019-03-18 22:53] #950 closed

[2019-03-19 15:43] #857 closed

[2019-03-20 18:41] lifeart commented on #903
May be related to https://github.com/emberjs/ember-inspector/issues/943

[2019-03-21 19:25] calexdiaz143 commented on #946
No but found a solution by updating our codebase to Ember 3.

[2019-03-21 19:25] #946 closed

[2019-03-23 16:55] jasonworden commented on #227
I'm interested in working on this. I'd also want it to work out-of-the-box (or maybe v2) with ember-concurrency tasks

[2019-03-23 16:56] jasonworden commented on #227
I had in mind something like the [Redux dev tools](https://chrome.google.com/webstore/detail/redux-devtools/lmhkpmbekcpmknklioeibfkpmmfibljd?hl=en) which has a history of all actions that go through the reducers

[2019-03-24 07:29] prasannavijayan commented on #947
Shall I take a look at this?

[2019-03-24 18:12] nummi commented on #947
+1 to slowly moving them over. A Big Bang PR will definitely cause some errors.

[2019-03-25 15:30] rwwagner90 commented on #947
I need to cut some new branches, so we can get the build working here again, then we can begin work on this.

[2019-03-25 15:34] rwwagner90 commented on #227
@jasonworden we would definitely love to help you bring your visions to life 😄

[2019-03-27 20:08] rwwagner90 commented on #464
We should create a test app to add and remove records and see if this is still an issue.

[2019-03-27 20:12] #823 closed

[2019-03-27 20:15] rwwagner90 commented on #609
This is out of scope for now. Please use `constructor.modelName` instead.

[2019-03-27 20:15] #609 closed

[2019-03-27 20:17] rwwagner90 commented on #100
Since there has been no feedback, I am closing for now. Please feel free to reopen, if there is still a need for this.

[2019-03-27 20:17] #100 closed

[2019-03-27 20:22] rwwagner90 commented on #430
I think with collapsible deprecations, and the ability to flush deprecations now, we can close this.

[2019-03-27 20:22] #430 closed

[2019-03-27 20:27] rwwagner90 commented on #495
Possible duplicate of #464

[2019-04-02 14:23] locks opened #952 "Editing an attributes adds quotes to the value"
When editing an attribute in the Inspector object side panel, quotes are added to the value being edited. If this value is then submitted, the quotes are escaped:

1. ![Screenshot 2019-04-02 at 15 21 57](https://user-images.githubusercontent.com/32344/55410124-3d47a080-555b-11e9-8624-9efa4507262f.png)
2. ![Screenshot 2019-04-02 at 15 22 01](https://user-images.githubusercontent.com/32344/55410122-

[2019-04-02 15:29] nummi commented on #952
Do we need the quotes at all?

[2019-04-02 16:05] locks commented on #952
That we are adding the quotes to the input field is what I consider the bug!

[2019-04-02 18:13] rwwagner90 commented on #952
It was probably intended to show the type as a string, but not sure why it is adding them.

[2019-04-10 06:38] sumeetattree opened #956 "[Feature Request] Add a way to view all observers registered on an object?"
It would be nice to see what observers have been added since the object's creation. It can be really tricky to debug when an observer has been created and stays past its intended duration. For eg: Attaching observers to routes are long lived as routes once created never get destroyed. So the observers are never removed. It would be very handy in these cases to quickly debug if there are observers

[2019-04-10 17:58] nummi commented on #956
Hi @sumeetattree, I believe the use of observers is generally discouraged so this feature would not be frequently used.

I suggest finding a channel in the Ember Discord chat —`#help` might be a good place — to find out if there is a way to list all observers on an object. https://discordapp.com/invite/zT3asNS

I'm going to close this Issue for now but we can keep chatting about it here.

[2019-04-10 17:58] #956 closed

[2019-04-10 22:45] vaidehijoshi commented on #944
👋 Hi there! I just ran into this deprecation while trying to use the inspector and happened upon this PR. I uninstalled/reinstalled the inspector only to realize that this PR hasn't actually been released yet? Any idea when it might be? It would be super helpful! 😅

[2019-04-11 04:12] rwwagner90 commented on #944
Hi @vaidehijoshi! Unfortunately, we have some bug fixes we have to get in first, and those are held up by ember-table breaking in Ember 3.9, so we're kind of in a tough spot where we have to fix some bugs, to fix some bugs, to fix some bugs. Hopefully soon though!

[2019-04-11 04:55] Malolan-Balaji-T18128 commented on #480
Can I have a go at this?

[2019-04-11 11:54] rwwagner90 commented on #480
@Malolan-Balaji-T18128 sure thing! Let me know if you have any questions.

[2019-04-11 15:06] rwwagner90 opened #957 "Get new bookmarklet uploaded to S3"
It seems uploads have not been working for a long time, and I am not sure why.

[2019-04-11 15:07] rwwagner90 opened #958 "Remove grunt for compress tasks"
We currently use grunt for some build tasks, but some of our packages are way out of date and not supported. We should modernize our build and use gulp, broccoli, rollup, etc.

[2019-04-11 17:26] uchihamalolan commented on #480
@rwwagner90 any other info you can give to me would be very helpful

[2019-04-11 17:27] Malolan-Balaji-T18128 commented on #480
@rwwagner90 Any other info that you can give will be very helpful

[2019-04-12 04:39] rwwagner90 opened #959 "Enable the disabled eslint-plugin-ember rules"
Currently, we have several eslint-plugin-ember rules disabled, as it was quicker to iterate toward bug fixes. We should go back and turn them on, and refactor anything that does not comply with the rules.

[2019-04-13 07:39] sumeetattree commented on #632
@rwwagner90 @cyril-sf
I am heavily using engines in my project. I would be glad to test drive these features. I have 3 engines in my app 😅 at the moment. Let me know where I can start with the latest build!

[2019-04-13 13:30] rwwagner90 commented on #632
@cyril-sf do you mind opening a PR with your WIP changes?

[2019-04-17 19:44] #952 closed

[2019-04-17 20:43] rwwagner90 commented on #636
@duncan-bayne @nickschot without more information or a reproduction, I am unable to dig much deeper into this. I am going to close for now, but if you have a reproducible way to trigger this, let me know!

[2019-04-17 20:43] #636 closed

[2019-04-17 20:44] rwwagner90 commented on #595
Since we have not heard back about a reproduction, I am closing this for now. Please feel free to reopen if it is still an issue!

[2019-04-17 20:44] #595 closed

[2019-04-23 06:27] mike-north opened #961 "inspector breaks for Glimmer Components containing {{link-to}}"
## Instructions to Reproduce

[code]

Define the component as follows

#### app/components/x-foo.js (unaltered)
[code]
#### app/templates/components/x-foo.hbs
[code]

Finally.... open the ember inspector, and select the "Components" tab. The error message below seems to be logged each time the tab is clicked (i.e., alternating back and forth between components and another tab will cause the error

[2019-04-23 12:24] rwwagner90 commented on #961
@mike-north thanks for the incredibly detailed issue here! Template only components and glimmer components do not currently work with inspector, I don't think. We definitely will have to figure this out before Octane drops.

[2019-04-23 17:46] KamiKillertO commented on #958
I've some experiences with gulp, I'll have a look 👍

[2019-04-23 18:50] KamiKillertO commented on #958
Ok so grunt compress files and publish on s3. It's not gonna be an easy thing to migrate from grunt to something else 😞. The compress tasks can be tested in local but for the s3 tasks I'm not sure how to test ><.

[2019-04-23 22:11] rwwagner90 commented on #961
@rwjblue we'll need the component manager changes to get this working, right?

[2019-04-23 22:16] rwwagner90 commented on #958
The S3 tasks have actually been not working anyway. I think we should use the built in Travis functionality to upload to S3 https://docs.travis-ci.com/user/deployment/s3/

[2019-04-23 22:16] #958 closed

[2019-04-23 22:17] rwwagner90 opened #965 "Use Travis for S3 Uploads"
Travis support deploying to S3, so rather than using grunt for this, it would be ideal to deploy directly from Travis. https://docs.travis-ci.com/user/deployment/s3/

[2019-04-23 22:22] rwwagner90 commented on #957
Closing in favor of #965

[2019-04-23 22:22] #957 closed

[2019-04-24 12:22] rwwagner90 commented on #965
@teddyzeenny I need the S3 credentials. I am not sure where `config/secrets.json` is supposed to come from. Please ping me on Discord and we can get this figured out 😄

[2019-04-24 13:37] rwjblue commented on #961
Yes, I think so but I definitely think we can fix the specific error reported here independently of that.

[2019-04-24 16:27] mike-north commented on #961
Repro case

**Code:** https://codesandbox.io/s/github/mike-north/octane-app-repro-cases/tree/hbs-debugger
**Fullscreen App:** https://jll45pq3pw.sse.codesandbox.io/

[2019-05-12 22:34] edeis53 opened #972 "component inspector: mergings.indexOf is not a function"
Ember inspector is choking when opening the components tab. Does this error look familiar? Any tips if it is due to misconfiguration of my app?

[code]

After it throws the error on the component tab, if I clear the console long and toggle back to say "routes" or "data", then back to components, it doesn't throw the error any longer and the components tab works.

Ember inspector version
3.8.0

App

[2019-05-13 11:01] rwwagner90 commented on #972
Must be some sort of timing issue. Do you have an app we can test with?

[2019-05-13 21:35] edeis53 commented on #972
I can't share the app, but I'll dig around more and see if I can determine and/or extract what might be causing the issue.... actually, I just rolled back our app and there must be something in our codebase that is causing the issue, earlier version is error free.

[2019-05-13 22:40] edeis53 commented on #972
I have a property called `mergedProperties` and if I use `setProperty` it throws the console error when ember inspector is open.

[code]

If I set it via `this.set("mergeProperties", {});` there is no error.

Make sense when looking at the error.
Uncaught TypeError: mergings.indexOf is not a function
    at addNormalizedProperty (vendor.js:26525)
    at mergeMixins (vendor.js:26568)

The mergeMixi

[2019-05-19 09:36] rwwagner90 commented on #972
I think there are two possible solutions here. The quick solution, is to choose a different name, but we should also probably make the internal inspector names underscored or prefixed or something. @nummi do you have thoughts on this?

[2019-05-19 17:06] nummi commented on #972
I guess a prefix is the best way to prevent naming collisions. 🤷‍♀️

[2019-05-20 20:48] rwwagner90 commented on #972
@rwjblue how is this handled in other Ember code?

[2019-05-20 22:51] edeis53 commented on #972
There was a typo in my example.

I had declared: `If I set it via this.set("mergeProperties", {}); there is no error.`

That is incorrect. When trying to use `this.set` I did it on `mergeProperties` (missing a "d") instead of `mergedProperties`.

I've redacted the typo from the example. The bug happens regardless of using this.set or this.setProperties.

[2019-05-21 16:32] rwjblue commented on #972
@edeis53 - `mergedProperties` is a special property with special implementation details in Ember.Object ([see the docs for details](https://api.emberjs.com/ember/3.10/classes/EmberObject/properties/mergedProperties?anchor=mergedProperties)), if you are _not_ trying to use that feature I'd suggest using a different property name is a good idea.

@rwwagner90 - `mergedProperties` is allowed to be nul

[2019-05-24 06:46] gokatz opened #973 "accessing currentPath from application controller has been deprecated"
We tried to access `currentPath` [here](https://github.com/emberjs/ember-inspector/blob/master/ember_debug/route-debug.js#L49) and these such access has been [deprecated in 3.10](https://deprecations.emberjs.com/v3.x/#toc_application-controller-router-properties). Can we use the [router implementation](https://github.com/emberjs/ember-inspector/blob/master/ember_debug/route-debug.js#L20) instead ?

[2019-05-24 10:50] rwwagner90 commented on #973
@gokatz this is in ember_debug code, which needs to support back to Ember 2.7. We may need a conditional that checks the Ember version and uses different logic based on the version. If you wanted to try switching to the other implementation, it is possible it might work. I am away until June 3rd, and won't have a ton of time to look into this until then.

cc @rwjblue @pzuraq

[2019-05-24 10:51] rwwagner90 commented on #972
Thanks @rwjblue! @nummi would you have some time to implement what Rob suggested, while I am away? I'm not able to do much until June 3rd.

[2019-05-24 15:35] rwjblue commented on #973
Ya, the router service only works from 2.15+.

I think the simplest fix is to update:

https://github.com/emberjs/ember-inspector/blob/65409c9ab2084899fb4eb48e222fb6e1f77c048b/ember_debug/route-debug.js#L29

To use `namespace.owner.router.currentPath` instead. It has been around since 2.1 ([added in this commit](https://github.com/emberjs/ember.js/commit/f3ab6c283e462f401f0a083beb677c434a5cde31)).

[2019-05-26 19:24] #973 closed

[2019-05-27 06:35] gokatz commented on #973
That's super fast. Thanks @rwwagner90 and @rwjblue 🍾

[2019-05-27 15:58] rwwagner90 commented on #973
@gokatz we aim to please 😄

[2019-05-27 15:58] rwwagner90 commented on #973
Is everything working well for you now?

[2019-05-27 16:16] gokatz commented on #973
Yeah. Works perfectly.

[2019-05-28 14:02] gokatz opened #979 "Ability to persist properties in services via inspector"
It would be great if we can persist the service properties in inspector even after a reload (maybe via localStorage). This will save a lot of time in the development phase.

[2019-05-28 14:56] rwwagner90 commented on #979
@gokatz I am not sure I understand. What is the use case here?

[2019-05-28 17:48] gokatz commented on #979
Sorry for leaving less information.

My specific use case is that, let's say, I'm using a property called `isAdminUser` from users service (or maybe from a controller) in a template and based on this, I show a specific section in the top bar. In the development process, I would need to set this property to `true` and `false` and test the possible UI states. I can do this using the inspector with t

[2019-05-28 18:31] rwwagner90 commented on #979
@gokatz I understand now. Why not set `isAdminUser: true` in your app until you are done testing?

[2019-05-29 04:49] gokatz commented on #979
Yeah, I can and it cost a building step whenever I switch between them. It will be tough if the project is huge and rebuilding takes a considerable amount of time. There are two cases where it's hard to do that:

1. In case of demonstrating them, it will easy to switch between them to showcase.
2. In case of playing around someone's staging changes, I may not be able to control their code.

[2019-06-11 06:12] Koushikrad opened #988 "How do i disable ember inspector for my app in production environment?"
I want to disable the ember inspector for my app in a production environment. Though I have all kind of validations in the backend. Still, am not interested in showing up my data in the inspector. Is there any way to solve this?

[2019-06-11 12:02] rwwagner90 commented on #988
I don't know of a way to disable the inspector myself. @rwjblue is there a way to not ship the debug stuff in prod or something?

[2019-06-11 12:17] Koushikrad commented on #988
@rwwagner90 check this ) #664 . Adding window.NO_EMBER_DEBUG is working fine when the app is launched and the inspector is not open. If I refresh the page with inspector open it doesn't work. So, thought you guys might know some workaround for it.

[2019-06-11 12:25] rwwagner90 commented on #988
@Koushikrad that issue sounds like it should work if you set it early enough before Ember loads. How are you setting it?

[2019-06-11 12:26] koushik-radhakrishan commented on #988
I had the same in my app.js

[2019-06-11 12:35] rwwagner90 commented on #988
@locks do you have any insights into this? It looks like you helped solve this in the previous issue.

[2019-06-12 14:51] rwwagner90 commented on #965
This works now 🎉

[2019-06-12 14:51] #965 closed

[2019-06-12 19:38] nummi commented on #965
🎉

[2019-06-13 03:43] rwwagner90 commented on #890
@slisznia @wukongrita do either of you have reproductions of these issues we could play with?

[2019-06-13 10:27] Koushikrad commented on #988
Guys any update on this?

[2019-06-13 11:33] rwwagner90 commented on #988
@rwjblue @locks is there a way to not include ember_debug in prod builds? If not, `window.NO_EMBER_DEBUG` might be the best solution for now.

[2019-06-25 14:09] rwwagner90 opened #995 "broccoli-babel-transpiler 7.x"
We currently are getting some errors when updating `broccoli-babel-transpiler` to 7.x. The error message is pretty informative, indicating we need to convert our usage of `resolveModuleSource` [here](https://github.com/emberjs/ember-inspector/blob/master/ember-cli-build.js#L85) to `resolvePath`, but I have not found any good examples of what exactly how to accomplish that.

[2019-07-12 01:04] rwjblue commented on #995
Checkout https://github.com/emberjs/ember.js/commit/ff9673f07a1ac61621be3fdb982379ec2e357848

[2019-07-12 02:51] rwwagner90 commented on #995
@rwjblue I attempted that in #998 and it doesn't seem to work. It breaks imports

[code]

It may also break other things, but I am not sure until imports work. Any ideas?

[2019-07-15 20:33] AbhinavVishak opened #999 "ember inspector fails to inspect certain components"
It looks like when the inspector tries to figure out the computed property's dependent keys, it fails.

[code]

I think it might be related to my use of `ember-redux` and connect's `stateToComputed` paradigm.

I tried following through the code and it looks like the `descriptorForDecorator` call in https://github.com/emberjs/ember-inspector/blob/aede612ca6698b83300f3b54ceeae3606dde3613/ember_debug

[2019-07-15 21:31] rwwagner90 commented on #999
@AbhinavVishak What version of Ember are you on?

[2019-07-15 21:39] AbhinavVishak commented on #999
@rwwagner90 I'm running `v3.10.1` on linux

[2019-07-15 22:07] AbhinavVishak commented on #999
I'm guessing that since the computed property is being set through an 3rd party addon `ember-redux`, the `DECORATOR_DESCRIPTOR_MAP` is not being populated properly, causing the `undefined ` error.

[2019-07-16 02:12] rwwagner90 commented on #999
@AbhinavVishak would it be possible to share your code or create a small reproduction?

[2019-07-16 14:58] AbhinavVishak commented on #999
I tried creating a simple hello-world program for ember-redux, and was able to reproduce it.

[code]

[code]

[2019-07-16 18:59] AbhinavVishak commented on #999
from https://github.com/ember-redux/ember-redux/blob/163649b6e2ba9de86d78466f835bed485a76538b/addon/core.js#L85

[code]

I extracted out the `computedReduxProperty` value in a breakpoint and tested it against `Ember.__loader.require('@ember/-internals/metal').descriptorForDecorator`. It was able to find the correct descriptor. digging into `Ember.defineProperty` it looks like it doesn't set the de

[2019-07-16 19:28] rwwagner90 commented on #999
@AbhinavVishak thanks for the details! @pzuraq @rwjblue do you guys know if anything around this changed recently or is inspector using the wrong thing in general?

[2019-07-16 19:50] pzuraq commented on #999
I think the issue here is that `ember-redux` is defining computed properties on each _instance_ of the class. When you define a property on the instance, you have to use a different method, `descriptorForProperty`, to look it up. We can confirm this by trying to define a normal property directly on an instance of the class, and seeing if the inspector blows up.

I think this is something that `emb

[2019-07-16 19:56] AbhinavVishak commented on #999
I was able to trigger this same problem without redux, the root cause is `Ember.defineProperty`, actually abstracts aways the computed property into a regular getter.
[code]

[2019-07-16 23:31] pzuraq commented on #999
Yup, so that confirms it. It works with _mixins_ because mixins still have the computed properties themselves, but doesn't work with the final, defined properties.

What would probably be a good idea would be to crawl the mixins to get the list of properties to lookup, but then only use `descriptorForProperty` to actually look them up on the instance.

[2019-07-26 17:39] efx commented on #464
I was unable to reproduce this issue using this example app: https://github.com/emberjs/ember-inspector/issues/464:
<img width="1435" alt="Screen Shot 2019-07-26 at 13 35 12" src="https://user-images.githubusercontent.com/472721/61970361-a049c100-afaa-11e9-981e-53e02304dde0.png">
You can clone that repository, get it running and click 'Destroy User' to delete them.
I also built ember inspector as

[2019-07-29 13:15] rwwagner90 opened #1001 "Figure out an API to get the component from the DOM"
This would be the opposite of what we have now, where we determine the DOM from the component, but in the new world, we do not have the element reference in the component, so the current suggestion from @rwjblue is that we walk the DOM and have an API that can find the component based on the DOM element. This will allow us to build the component tree for all component types.

[2019-08-07 14:22] lolmaus opened #1004 "Cannot read property 'reopen' of undefined"
Ran into this today:

[code]

Took me quite a while to figure out that the issue is caused by Ember Inspector. How freaky is that the Inspector breaks your tests! 😱

Found a report of this issue from four 😱😱 years ago: https://github.com/emberjs/ember.js/issues/11863#issuecomment-123888938 @stefanpenner's reply is very interesting, though irrelevant to the cause of this particular problem.

Inspec

[2019-08-09 13:47] #1004 closed

[2019-08-09 18:28] #999 closed

[2019-08-09 19:40] rwwagner90 commented on #995
@rwjblue any ideas to fix that issue?

[2019-08-16 15:51] pzuraq opened #1007 "Add autotracking based "why did this rerender" to component explorer"
Similar to this feature from the [React Developer Tools](https://twitter.com/reactjs/status/1162311807417167873). We should be able to provide detailed information to post-Octane users about what caused a particular re-render, down to the individual template binding.

[2019-08-16 17:22] rwwagner90 commented on #1007
Very much in favor of this 😃

[2019-08-16 22:20] nummi commented on #1007
Lets chat about what this should look like

[2019-08-19 10:34] SurenCraze opened #1009 "Can able to access ember data in inspector"
I'm using google chrome, in ember inspector, everything is working except the data tab if I click it is not showing model's data

[2019-08-19 13:04] rwwagner90 commented on #1009
@SurenCraze we need more info please. Ember version, ember-data version, etc. A reproducible test case would be great too.

[2019-08-19 18:08] rwwagner90 commented on #943
@lifeart is this still an issue? If so, do you have a deployed app I could reproduce with?

[2019-08-19 20:50] rwwagner90 commented on #943
I think this may have been fixed by https://github.com/emberjs/ember-inspector/pull/1006 if you could please try it out and let me know 😃

[2019-08-19 20:51] rwwagner90 commented on #903
I believe this may have been fixed by https://github.com/emberjs/ember-inspector/pull/1006 would you guys mind trying it out please? 😃

[2019-08-19 23:24] rwwagner90 commented on #890
Having heard nothing back about this, I am going to close for now. Please feel free to reopen, if you are still experiencing issues!

[2019-08-19 23:24] #890 closed

[2019-08-19 23:25] rwwagner90 commented on #632
@cyril-sf would you mind pushing your code please? Would really love to work on this!

[2019-08-19 23:57] knownasilya commented on #632
@rwwagner90 might be worth doing manually, see
 https://github.com/cyril-sf/ember-inspector/tree/cyril/engines-support

[2019-08-20 07:18] Windvis commented on #943
@rwwagner90 I just tried it by checking out the master branch and running the dev version of Ember Inspector, but it looks like it's not working yet:

![Screenshot 2019-08-20 at 09 15 40](https://user-images.githubusercontent.com/3533236/63325835-38796280-c32b-11e9-98ca-850eb50ea1a2.png)

[2019-08-20 09:04] lifeart commented on #943
Looks like it's not working for 3.7

![image](https://user-images.githubusercontent.com/1360552/63333668-77ff7900-c342-11e9-9e88-e8de21bf29e9.png)

![image](https://user-images.githubusercontent.com/1360552/63333772-a54c2700-c342-11e9-8c6f-018ea6def9b3.png)

[2019-08-20 09:06] lifeart commented on #903
https://github.com/emberjs/ember-inspector/issues/943#issuecomment-522924712

[2019-08-20 09:18] Windvis commented on #943
Yea, the changes are merged into master, but not released in a new version AFAIK.

[2019-08-20 11:45] rwwagner90 commented on #943
Yes, there is no release yet. Will do a release today. Thanks for testing @Windvis!

[2019-08-20 11:45] #943 closed

[2019-08-20 11:46] rwwagner90 commented on #903
Considering this fixed, since the other issue was fixed. If it is not fixed after the release, please let us know!

[2019-08-20 11:46] #903 closed

[2019-08-22 11:46] vronskiy commented on #1009
same problem `Ember 1.13` `Data` tab in Ember inspector stopped working few days ago. Using MacOS and Chrome 76.0.3809.100.

[2019-08-22 13:24] rwwagner90 commented on #1009
@vronskiy 1.13? Not 2.13 or 3.13? No one has provided enough info here to look into anything yet. Reproducible test cases are much appreciated!

If you are truly on 1.13, that is super old and we don't typically make changes to the old branches.

[2019-08-22 23:17] mattmarcum opened #1012 "ember inspector fails for ember-redux wrapped components that have a null value"
When a redux wrapped component has a null value in its `stateToComputed` function ember-inspector fails with two errors (trying to read a property on null).  Here's an example of a component that causes this:

[code]

I've got a simple branch that fixes this here: https://github.com/emberjs/ember-inspector/compare/master...StrangeLooperStudio:ember-redux-null-bug?expand=1

Probably not the best ap

[2019-08-22 23:34] rwwagner90 commented on #1012
@mattmarcum seems related to https://github.com/emberjs/ember-inspector/issues/999

That was an issue with ember-redux too. I'm not sure why a null value couldn't be valid here. Definitely need to look into this.

[2019-08-23 18:55] mattmarcum commented on #1012
@rwwagner90 I did see that issue while researching this one.  It did fix some of my other ember-redux related issues I saw.  Do you want me to create a pr for that branch?  If you could point me in the direction of a better fix I can investigate, I just don't have a lot of context on what's going on here.  Looks like ember-redux isn't creating computed properties the way ember-inspector expects.

[2019-08-23 20:14] rwwagner90 commented on #1012
@mattmarcum that's what #999 was about. ember-redux is making computeds on the class instance, which @pzuraq says should be changed in ember-redux.

Either way, we added in the necessary checks to make things work. Seems like we maybe just need to rethink things full `null` values.

[2019-08-23 21:40] belden commented on #1009
@vronskiy I wonder if you're using an old version of ember-data alongside your Ember 1.13?. At work one of our applications uses Ember 1.12.2 with Ember-Data 1.0.0-beta.19.2. The `Data` tab in the Ember inspector stopped working until we started adding a `._debugContainerKey` to our models:

[code]

I found this solution by debugging the Ember inspector extension and observing a crash there; unfor

[2019-08-28 13:09] bitwolfe commented on #961
What's the status of this? Seems to still be an issue. We're getting quite close to Octane release...

[2019-09-05 22:27] nummi opened #1019 "Calculating property in "All" view"
Passing `this` to the model doesn't work when calculating a property.
https://github.com/emberjs/ember-inspector/blob/master/app/templates/components/mixin-details.hbs#L55

Reproduce:

1. Select "All" view
<img width="120" alt="image" src="https://user-images.githubusercontent.com/3692/64387588-6ee0fe00-d00a-11e9-9300-44c3ef8a0f43.png">

2. Find a CP that needs computing:
<img width="140" alt="ima

[2019-09-06 12:25] rwwagner90 commented on #1019
@nummi do you have an example app you are trying this with? There have been lots of other changes, so not sure if `model=this` is the problem or something else.

[2019-09-06 13:43] nummi commented on #1019
I discovered this poking around on the Apple Music bets site. Pretty sure ‘this’ is incorrect because ‘this’ is the ‘mixin-detail’ component.

[2019-09-06 20:19] rwwagner90 commented on #1019
@nummi gotcha, I just know a lot has changed in a bunch of areas, so wasn't sure if this was the culprit.

[2019-09-06 21:30] nummi commented on #1019
Pretty sure the above line is the culprit. It’s a year old 🤢

[2019-09-06 23:31] rwwagner90 commented on #1019
Do we have tests for this?

[2019-09-07 01:06] nummi commented on #1019
I don’t think so. Not sure how to get a property in the “not computed” state.

[2019-09-08 05:54] pitust opened #1020 "Difference between bookmarklet and the chrome extension"
Repro:
1. Get the chrome extension
2. Go to [this website](http://emberjs.com)
3. Try to inspect it
4. Success!
5. Use the bookmarklet
6. Fail

[2019-09-08 18:09] nummi opened #1021 "Component Tree Search"
We should match on Angle bracket style _and_ curly style.

<img width="278" alt="image" src="https://user-images.githubusercontent.com/3692/64492454-cc529600-d228-11e9-9f69-12c085f6db2a.png">

<img width="279" alt="image" src="https://user-images.githubusercontent.com/3692/64492460-d8d6ee80-d228-11e9-849a-18b7208c7864.png">

## `LinkTo` no results:

<img width="282" alt="image" src="https://user-i

[2019-09-08 19:17] nummi commented on #1021
ComponentTree and a few other tabs (like RouteTree and Deprecations) use [search-match.js](https://github.com/emberjs/ember-inspector/blob/master/app/utils/search-match.js) — would there be any harm in ignoring dashes entered by the user?

[2019-09-09 15:21] #1021 closed

[2019-09-13 15:23] Krasiu opened #1026 "How can I access application instance without Ember Inspector?"
Hello!

I have two questions regarding Ember apps.

Once Ember Inspector loads, I can go to console and access application instance like so:

`window.EmberInspector._application`

Is it possible to do without EmberInspector installed? (I need to do that on stripped version of Chrome via Selenium). Essentially, what does Ember Inspector do behind the scenes that makes accessing the application poss

[2019-09-13 15:35] chancancode commented on #1026
Is this an app you have control of (can change its code) or any random app on the internet?

[2019-09-13 15:44] Krasiu commented on #1026
Any random app

[2019-09-19 18:37] chancancode opened #1031 "Integrate debug render tree"
The Ember work landed in https://github.com/emberjs/ember.js/pull/18372 which will be available in 3.14 beta shortly, which gives us ~ 6 weeks to integrate it 😬

I'm here to answer any questions!

[2019-09-19 18:41] rwwagner90 commented on #1031
Thanks @chancancode! I'm planning to work on it this weekend and/or next week.

[2019-09-20 20:20] jcthomas113 opened #1033 "using an old version of Ember message"
I cannot use the ember extension, it is saying "You are using an old version of Ember". There is no other ember applications to choose from, how do I get this working?

"Allow access to file URLs" is checked.

Ember Version 3.11.0

![image](https://user-images.githubusercontent.com/12901969/65356362-ecd00800-dbb9-11e9-9a18-c1fd73d8a281.png)

[2019-09-20 20:54] rwwagner90 commented on #1033
@jcthomas113 inspector should work fine. Have you tried hard refreshing the page with inspector open. Are there any errors in the console? Is there a reproduction we can look at?

[2019-09-20 20:59] jcthomas113 commented on #1033
I have tried refreshing the page, with no luck. This is actually the case for myself and a few  other co-workers.

[2019-09-20 21:02] rwwagner90 commented on #1033
@jcthomas113 can you please let me know if there are any errors in the console and can you please provide some sort of reproduction?

[2019-09-20 21:08] #1033 closed

[2019-09-20 21:11] rwwagner90 commented on #1033
@jcthomas113 were you able to get it to work?

[2019-09-20 21:14] jcthomas113 commented on #1033
yes, seems like the hard refresh worked.

[2019-09-21 07:10] lifeart commented on #1026
`Ember.Application.byName('emberweekly-issue-viewer')`

[2019-09-22 21:28] rwwagner90 commented on #1026
@Krasiu does the suggestion by @lifeart work for you?

[2019-09-22 21:30] rwwagner90 commented on #1009
@SurenCraze @vronskiy if you could please provide us with a reproduction, we would be happy to take a look, but there are a lot of different things that can change across apps, so it will be impossible to diagnose the problem without a repo or site we can look at.

[2019-09-22 22:07] chancancode commented on #1026
I tested that today and can confirm that it works 😀

[2019-09-23 01:09] #1026 closed

[2019-09-23 09:22] vronskiy commented on #1009
@rwwagner90 Hi! The problem was typo in Ember data model relation name. So this tab stopped working. I'm sorry to trouble you!

[2019-09-23 12:41] #1009 closed

[2019-09-25 06:02] lolmaus commented on #961
Is there at least some workaround?

I don't mind parts of Inspector not working, but Inspector crashing the app and breaking tests — this is 😭.

[2019-09-25 06:48] nummi opened #1039 "App Switcher breaks inspector"
<img width="194" alt="image" src="https://user-images.githubusercontent.com/3692/65575918-c1387f00-df25-11e9-96ef-4064e5de58b9.png">

`Error in event handler: Error: Assertion Failed: You attempted to remove a function listener which did not exist on the instance, which means you may have attempted to remove it before it was added.`

The entire Inspector turns into a white screen.

Seems to be com

[2019-09-25 11:24] rwwagner90 commented on #961
@lolmaus what Ember version are you on?

[2019-09-25 11:25] lolmaus commented on #961
@rwwagner90 `ember-source@3.13.0-beta.5`

[2019-09-25 13:47] rwwagner90 commented on #961
The new stuff will be enabled for 3.14+, when Octane drops. I'm not sure if we should support glimmer components in versions before Octane.

[2019-09-26 20:31] bretjb opened #1041 "ember-inspector keeps crashing and having to be reinstalled on 2.18 application"
We're running Ember 2.18.2, and after the latest upgrade to ember-inspector 3.11, the extension keeps crashing. Chrome reports that, "the extension may have been corrupted" and then has to be repaired, which looks like it uninstalls and re-installs the extension.

This happens fairly frequently - seemingly once every time I close and re-open Chrome.

After cloning the repo and running the 3.12 ver

[2019-09-26 21:16] rwwagner90 commented on #1041
That doesn't sound like a line we would have changed. I suppose it is possible that Chrome updated and broke some APIs. @bretjb what version of Chrome are you on? Also, what are you doing in the inspector when the error occurs?

@nummi have you experienced anything like this?

[2019-09-27 14:07] bretjb commented on #1041
I'm not sure the error is related -- maybe it's something in the client files that's crashing, and that's the final location of the error.

I've seen the issue with both Chrome 76 and 77 on MacOS 10.14.5. Note: this is also happening to other members of my team with similar setups to mine (nearly latest/latest Chrome and Ember 2.18 with the latest ember-inspector).

[2019-09-27 14:09] rwwagner90 commented on #1041
@bretjb could you try Firefox and see if Inspector crashes there too?

[2019-09-28 20:32] nummi opened #1043 "broccoli-babel-transpiler is opting out of caching"
## Issue and Steps to Reproduce

  - `ember serve`
  - `[Concat: Test Support JS]broccoli-babel-transpiler is opting out of caching due to a plugin that does not provide a caching strategy: ...code ...`

## Your environment

Inspector `master` branch,
ember-cli `~3.13.0-beta.1`,
node `v10.15.0`,
Mac OS `10.14.6`

## Screenshots

<img width="1482" alt="image" src="https://user-images.githubusercont

[2019-09-29 13:06] rwwagner90 commented on #1043
We need to get on the latest broccoli-babel-transpiler. I have been trying unsuccessfully to get it to work. See https://github.com/emberjs/ember-inspector/pull/998

[2019-10-02 20:46] rwwagner90 opened #1047 "Component tree is not horizontally scrollable"
We should allow it to scroll so you can see the whole tree.

[2019-10-07 17:34] habdelra opened #1049 "component.get is not a function errors"
## Issue and Steps to Reproduce
I'm using Ember 3.13.1 with octane enabled. When glimmer components on my page are rendered I encounter an error `component.get is not a function`. I confirmed that after I disable the ember inspector extension, the errors disappear.

I suspect that the ember inspector needs to be updated to handle glimmer components being emitted from Ember Octane, as apparently th

[2019-10-07 20:22] rwjblue commented on #1049
I suspect this will be fixed once we land #1037, but @rwwagner90 would know better...

[2019-10-07 21:03] rwwagner90 commented on #1049
Yeah, this should be fixed as part of that. We have a lot of changes to make to get that landed, so it might be a bit, but we are working on it!

[2019-10-14 14:03] rwwagner90 commented on #1041
@bretjb do you have a way for us to reproduce this?

[2019-10-22 22:12] cadeParade commented on #1041
Something similar happens to me also. I do not see the error in the console described above, but I do have to regularly "repair" the ember-inspector chrome extension. This happens to me and another person working on our app so I'm inclined to believe it's something about our app. Our app is on `ember-source: 3.12.0`, `ember-data: 3.13.1`.
I am running `ember-inspector v3.11.0`. in Chrome 76.0.3809

[2019-10-22 22:17] nummi commented on #1041
@cadeParade, do you know how long this has been happening?

Thanks @cadeParade, say hello to Mr. Briggs for me.

[2019-10-22 22:22] cadeParade commented on #1041
Hi @nummi thanks for your reply :)
It is a good question and I don't have a great answer. A couple of months at least. FWIW ~2 months ago we upgraded from ember-source 3.8 to 3.12. But @bretjb is seeing it on 2.18, so not sure if ember version would be the problem.

I'll say hi to Derek :)

[2019-10-22 23:12] PixelJanitor commented on #1041
Mr. Briggs says hi back, @nummi 😁❤️

[2019-10-24 19:08] GCheung55 opened #1054 "First visit to "Routes" table via "Routes" tab outputs JS error on app with engines."
## Issue and Steps to Reproduce

  - The first visit to "Routes" table, by selecting the "Routes" tab, displays an empty table and outputs a JS error:
[code]

Alternate clicks (14) between another tab and "Routes" tab will eventually have the table display data.

 May be related to #632 ?

  - Reproduction steps:
1. Go to https://www.fitbit.com/settings (You may need to create an account).
2. Open

[2019-10-24 20:00] rwwagner90 commented on #1054
Engines are not currently supported

[2019-11-03 14:23] hencca commented on #285
+1

[2019-11-03 17:06] rwwagner90 commented on #285
I'm still not sure why people are manually registering models. Can they not be normal models?

That being said, I'm pretty sure we just ask ember-data for the models, so I assume the fix is in ember core or ember-data. Definitely would love some help here!

[2019-11-07 13:55] efx opened #1059 "full angle bracket name should be searchable"
## Issue and Steps to Reproduce
This is a nuance to #1021. I expect to be able to search by the full component name, not just he first segment.
  - Navigate to [https://tv.apple.com/](https://tv.apple.com/)
  - Open ember inspector
  - go to the "Components" tab and type nav. You should see the `<NavHeader/>` result
  - type navh and you should see no results

## Your environment

stable chrome, l

[2019-11-07 14:03] rwwagner90 commented on #1059
Definitely sounds like that is the issue. @nummi mind taking a look?

[2019-11-07 16:53] nummi commented on #1059
Yeah, I’ll take a look today. This should be a quick one.

[2019-11-07 20:39] nummi commented on #1059
@rwwagner90, I think we should do a deploy. My fix for this is only on `master`.

[2019-11-07 23:43] rwwagner90 commented on #1059
Ah gotcha. I will get a deploy out

[2019-11-08 18:05] brian-c opened #1064 "There's an empty void where the inspector should be"
## Issue and Steps to Reproduce

It looks like the extension has a broken script hash. I'm not really up on extension development, so I hope this helps debug things:

- Visit https://emberjs.com/
- Right-click anywhere and select "Inspect Ember Component"
- The Ember inspector will open, but it's blank
- Right-click in the blank space where the Ember inspector should be and select "Inspect"
- An e

[2019-11-08 18:06] rwwagner90 commented on #1064
We are aware, but do not know how to fix it yet.

[2019-11-08 19:06] danilo-p commented on #1064
Can you roll back to the latest stable version?

[2019-11-08 19:33] chancancode commented on #1064
#1065 should fix it, working on releasing it

[2019-11-08 19:45] #1064 closed

[2019-11-08 20:12] davidchalifoux opened #1066 "Today's Update Broke the Extension"
## Issue and Steps to Reproduce

When opening the inspector on a valid Ember site, it doesn't load anything and is simply blank. I know there is at least one other person on the Ember Discord who is also experiencing this. There are no errors in the console or in the terminal.

## Your environment

Embe: 3.13.4
Ember Data: 3.13.1
Ember Inspector: 3.12.0

Chrome version 78.0.3904.97
Firefox (latest

[2019-11-08 20:20] rwjblue commented on #1066
Thank you for reporting! Sorry about the trouble, the team is working to quickly correct the issue now. Hang tight, we'll get another update out soon...

[2019-11-08 22:33] Ravenstine commented on #1066
Reinstalling the add-on in Firefox seems to dislodge the problem.

[2019-11-08 22:37] chancancode commented on #1066
This should be fixed in the latest published version (3.12.2 in chrome and firefox)! Sorry about the trouble!

[2019-11-08 22:37] #1066 closed

[2019-11-08 22:37] chancancode commented on #1059
Can you test this on the latest (3.12.2) version?

[2019-11-08 23:13] iofusion opened #1068 "Using Inspector (3.12.2) to view a particular Component or Data Model record fails with the following error:"
Ember                 : 3.11.1
Ember Data        : 3.11.4
Inspector            : 3.12.2
Chrome Version 80.0.3963.0 (Official Build) canary (64-bit)

Inspecting a Component, Data Model Record or Container results in:

Ember Inspector has errored.
This is likely a bug in the inspector itself.
You can report bugs at https://github.com/emberjs/ember-inspector.
Error message: glimmer.value is not a fun

[2019-11-09 00:44] rwwagner90 commented on #1059
Fixed!

[2019-11-09 00:44] #1059 closed

[2019-11-09 00:47] chancancode commented on #1068
This is introduced in #1035, @pzuraq @patricklx do you mind taking a look?

[2019-11-09 00:50] rwwagner90 commented on #1068
@iofusion do you have an app we could reproduce this error on?

[2019-11-09 00:51] pjcarly opened #1071 "Inspector 3.12.2 not loading selected elements in right hand pane"
## Issue and Steps to Reproduce
 -  Make sure you are on version 3.12.2
  - Go to your Data tab, select a model type on the left with records in the store
  - Select a Model from the table
 -  Selected pane stays closed, if you open in manually from the top right. Nothing is selected

## Your environment

Happens on both latest Chrome and Firefox

## Screenshots

![Screenshot from 2019-11-09 01:49

[2019-11-09 01:01] rwwagner90 commented on #1068
This can be reproduced by clicking something in the data tab and trying to inspect it, as talked about in this duplicate issue https://github.com/emberjs/ember-inspector/issues/1071.

[2019-11-09 01:02] rwwagner90 commented on #1071
Duplicate of https://github.com/emberjs/ember-inspector/issues/1068

[2019-11-09 09:37] patricklx commented on #1068
Looks like we need one more check for glimmer.value
https://github.com/emberjs/ember-inspector/blob/8b977a6287a59e1c3cc1fd37ad706fd915bd9d37/ember_debug/object-inspector.js#L914
Though is it strange that there is metal.track but not glimmer?

[2019-11-09 11:52] pjcarly commented on #1071
Closing, and tracking progress on #1068

[2019-11-09 11:52] #1071 closed

[2019-11-10 18:28] nummi opened #1073 "Proposal: Analytics"
### To improve Inspector we'd like to learn more about usage and the environments it operates in. For example:

- Library versions (Ember-source, Data, Inspector, etc.)
- Using browser addon/extension or bookmarklet?
- Which tabs are clicked (Components, Promises, Container, etc.)
- Screen attributes (size, etc.)
- Which browser (Firefox, etc.)
- Platform (macOS, Windows, etc.)

## Disabling

Chec

[2019-11-11 09:32] enspandi commented on #1068
Same here - just appeared this morning with latest update.

[2019-11-11 12:45] #1068 closed

[2019-11-12 11:29] kumkanillam commented on #1068
I am also getting the same error in the latest 3.12.2 version of the ember inspector.
[code]

[2019-11-12 16:55] iofusion commented on #1068
@kumkanillam #1072 fixes this issue, but that update was not available in the Chrome extension store last I checked.  There are instruction in this repo's [readMe](https://github.com/emberjs/ember-inspector) for installing manually.

[2019-11-12 19:36] pjcarly commented on #1068
There hasn't been a new release yet. So I guess that is normal

[2019-11-13 05:28] chancancode opened #1079 "Mystery: why do we publish to NPM?"
We currently publish an `ember-inspector` package on NPM: https://www.npmjs.com/package/ember-inspector

It has all the source files in this repository, as well as the built output in `dist`.

Does anyone know why we publish this? Do you rely on this build in your team? Please let me know!

[2019-11-13 12:31] rwwagner90 commented on #1079
@chancancode according to npm, the dependents are ember-electron and ember-remote-inspector. I suppose the use case is less for apps and more for installing into complex addons. For instance, ember-electron uses it to inject inspector into the DevTools in electron.

[2019-11-13 17:54] chancancode commented on #1079
Aha! Thank you! I’ll check those to make sure any tweaks I make to the build won’t break them!

[2019-11-13 17:54] #1079 closed

[2019-11-21 19:11] cadeParade commented on #1041
This seems to have resolved itself for me sometime since I last commented. I have upgraded to Chrome 78 since then, and have made no upgrades to any ember versions (source, data, cli). @bretjb if you upgrade to Chrome 78 does this problem go away?

[2019-12-18 21:01] chancancode commented on #1039
I think this may be fixed in https://github.com/emberjs/ember-inspector/pull/1103/files, @nummi any chance you can re-test? (no rush)

[2019-12-18 21:04] rwjblue opened #1110 "Introduce API to allow objects to "opt out" of introspection on specific properties."
In #1106, we introduced a `obj instanceof GlimmerComponent` style check because `@glimmer/component@1.0.0` includes a few properties that throw errors when accessed (they are not intended to be used in Ember, and we provide helpful errors so that folks don't try to use them due to typing inconsistencies between Ember and Glimmer.js). In order to remove our special exemption for `@glimmer/component

[2019-12-19 00:05] nummi commented on #1039
@chancancode, it's getting better: no empty white screen. Unfortunately Inspector doesn't switch apps and now I'm getting this error:

[code]

[2019-12-19 00:20] chancancode commented on #1039
Thanks! I’ll take a look!

[2019-12-19 05:31] broerse opened #1111 "Error message: Assertion Failed: 'data-adapter' is not a recognized type"
Clicking on "Data" in the inspector does not work anymore for the Bloggr example at https://bloggr.exmer.com/ . It always worked fine.

VM36:92 Ember Inspector has errored.
This is likely a bug in the inspector itself.
You can report bugs at https://github.com/emberjs/ember-inspector.
Error message: Assertion Failed: 'data-adapter' is not a recognized type
Stack trace: Error: Assertion Failed: 'da

[2019-12-19 14:05] rwwagner90 commented on #1111
@broerse what version of inspector?

[2019-12-19 14:08] broerse commented on #1111
@rwwagner90  Version 3.12.5

[2019-12-19 20:54] chancancode commented on #1049
Should be closed by #1088 in the next release.

[2019-12-19 20:54] #1049 closed

[2019-12-19 20:54] chancancode commented on #1031
Closed by #1088

[2019-12-19 20:54] #1031 closed

[2019-12-19 20:55] chancancode commented on #961
Should be fixed by #1088 in the next release.

[2019-12-19 20:55] #961 closed

[2019-12-19 20:56] chancancode commented on #1001
Should be fixed by #1088 in the next release.

[2019-12-19 20:56] #1001 closed

[2019-12-19 20:57] chancancode commented on #870
Should be fixed by #1088 in the next release.

[2019-12-19 20:57] #870 closed

[2019-12-19 21:15] rwwagner90 commented on #1039
@chancancode is this still an issue?

[2019-12-19 21:44] chancancode commented on #1039
Yes

[2019-12-19 21:46] chancancode commented on #1039
I haven’t had a chance to look into how it’s supposed to work with iframes yet, but it doesn’t work properly. It may be the case that switching between two apps on the same page and on the same frame works but switching between iframes doesn’t.

[2019-12-20 01:59] rwwagner90 commented on #1039
@chancancode was changing the app picker a requirement of the new render node stuff? If not, maybe we can change it back?

[2019-12-20 02:15] chancancode commented on #1039
It was already broken before my change. This issue predated my changes. My change made it crash less badly, but it still doesn’t work.

[2019-12-20 13:27] rwwagner90 commented on #1039
@chancancode are you sure? It worked the last time @nummi and I tried it, but we don't try it often.

[2019-12-20 16:47] chancancode commented on #1039
The issue is from September and the description mentioned:

But yes I also confirmed it locally. I can try to figure this out but probably have a few other things to look into before getting to this. I also find that the inspector's detection of apps on the current page could be pretty spotty and timing dependent, so probably going to try and fix that as well.

[2019-12-20 17:14] jdrobertso opened #1114 "Inspector does not recognize app if Ember.ENV.EXTEND_PROTOTYPES does not exist"
## Issue and Steps to Reproduce

On opening Ember inspector on one of my Ember apps, I am getting the below stack trace.

raven.js:383 Uncaught TypeError: Cannot read property 'Array' of undefined
    at n.callback (<anonymous>:402:35)
    at n.exports (vendor-ff8d5821b66c1…b3ac1b81a4b902.js:3)
    at n._reify (vendor-ff8d5821b66c1…b3ac1b81a4b902.js:3)
    at n.reify (vendor-ff8d5821b66c1…b3ac1b81

[2019-12-20 17:21] rwwagner90 commented on #1039
@chancancode sorry, you are correct, it's been a long couple of weeks 😅

[2019-12-20 17:21] rwwagner90 commented on #1114
@chancancode thoughts?

[2019-12-20 17:22] chancancode commented on #1039
No problem! Same 😄

[2019-12-20 17:23] chancancode commented on #1114
Eh! Good catch, will fix soon!

[2019-12-20 17:25] chancancode commented on #1114
It's caused by this line: https://github.com/emberjs/ember-inspector/blob/47138779d4f6c559bda90a0e53df5838ac6da446/ember_debug/adapters/web-extension.js#L98. It should be `if (Ember.ENV.EXTEND_PROTOTYPES && Ember.ENV.EXTEND_PROTOTYPES.Array)`. If someone wants to send a pull request please go ahead, otherwise I'll do it in a few hours. Hoping to cut another patch release today to fix this and a fe

[2019-12-20 18:22] chancancode commented on #1114
Working on it now!

[2019-12-20 18:23] chancancode commented on #1114
@jdrobertso what is the ember-source version of your app?

[2019-12-20 18:47] jdrobertso commented on #1114
@chancancode It looks like we are not using ember-source in that version of the app.

[2019-12-20 18:48] chancancode commented on #1114
I'm not exactly sure how this can happen, now that I think about it. Ember normalizes the `Ember.ENV.EXTEND_PROTOTYPES` into an object, and as far as I can tell, that code has been around for a long time, and it's definitely there on 3.4: https://github.com/emberjs/ember.js/blob/lts-3-4/packages/ember-environment/lib/env.ts#L166-L178

The way it's supposed to work (I could be wrong, cc @rwwagner90

[2019-12-20 18:48] chancancode commented on #1114
@jdrobertso what is `Ember.VERSION`?

[2019-12-20 18:53] jdrobertso commented on #1114
@chancancode Apologies, I was going off the package.json ember-cli version. Ember.VERSION is 1.13.13.

[2019-12-20 22:08] #1114 closed

[2019-12-21 00:16] chancancode commented on #1114
Fixed and published!

[2019-12-23 19:26] ufthelp opened #1120 "Error message: Ember.meta(...).peekDescriptors is not a function - Object are not shown for any ember component"
## Issue and Steps to Reproduce

  - Open Ember Inspecter and click on any controller name to view the object

## Your environment

ember-cli: 2.18.2

Browser : Chrome - Version 79.0.3945.79

## Screenshots
![image](https://user-images.githubusercontent.com/19518528/71376588-f63d8780-258f-11ea-968d-7ebcab40a4cb.png)

![image](https://user-images.githubusercontent.com/19518528/71376599-02294980-259

[2019-12-24 14:52] BenReilly commented on #1120
I have an identical situation. My Chrome version is 79.0.3945.88 64bit for Mac but same version of Ember.

[2019-12-26 03:41] rwwagner90 commented on #1120
@chancancode is this likely another issue where the branching behavior is not working?

[2019-12-26 04:11] chancancode commented on #1120
Quite possible, I can try to look into it tomorrow!

[2019-12-26 13:34] peyloride commented on #1120
I have same issue in Data section. Chrome 79.0.3945.88 and MacOS 10.14.6

[2019-12-27 02:12] rwwagner90 commented on #1120
@peyloride what Ember version please?

[2019-12-27 06:02] peyloride commented on #1120
ember-cli: 2.16.2
node: 8.16.0

But I can't reproduce the bug. It happens sometimes when I develop stuff, after refreshing chrome tab or using new one, it works again.

[2019-12-27 15:30] shoxter commented on #1120
I have this same issue.

Ember: 2.13.3
Ember-CLI: 2.16

[2019-12-28 01:24] chancancode commented on #1120
@wycats and I looked into this today. This is related to https://github.com/emberjs/ember-inspector/issues/1114. It's a very old problem unrelated to any recent changes – the problem always existed, it just was never noticed or root caused.

The problem is that, we always load the latest version of the inspector "app" (the UI) _and_ the most recent version of ember-debug. ember-debug is supposed t

[2019-12-28 19:34] peyloride commented on #1120
@chancancode Thanks for great explanation, looking forward for full fix. If you guys need anything that I can do, just poke me.

[2019-12-30 10:14] vigneshrajarr opened #1123 "Ember Inspector has errored."
I couldn't reproduce this since I was using the inspector to crack client code. While using [Zoho Books](https://books.zoho.com/app#/home/dashboard), this error occurred.

Versions :
Ember Inspector | 3.13.1
Ember | 3.4.8
jQuery | 2.1.0

![image](https://user-images.githubusercontent.com/11133062/71577657-0e2a8380-2b1b-11ea-8a06-8044ab2554b6.png)

[2019-12-30 13:37] rwwagner90 commented on #1123
Sounds like the error is here https://github.com/emberjs/ember-inspector/blob/47138779d4f6c559bda90a0e53df5838ac6da446/ember_debug/libs/capture-render-tree.js#L207

@chancancode do we need to make that `if (template && template.meta)`?

[2019-12-30 19:21] chancancode commented on #1123
Yeah, adding the check there (and the conditional below it) would silence the error, but it is certainly unexpected and may be worth digging deeper into how it actually manifests. I was expecting this to be always present, so if that turns out to be wrong, some underlying assumptions may also be wrong (e.g. maybe we should just skip over that node because it means nothing is being rendered there).

[2019-12-31 20:02] chancancode commented on #1123
@vigneshrajarr I managed to create an account to test this in the app but I couldn't reproduce the issue. If you know the specific place to look, let me know 🙌

[2020-01-02 16:01] vigneshrajarr commented on #1123
![image](https://user-images.githubusercontent.com/11133062/71656404-0a883e00-2d61-11ea-8075-ad4a9dabc1a3.png)

The page has Trial expiry notification. After clicking cancel, the error occurs.
Added a screen recording here
https://drive.google.com/file/d/1NBlr28nLfge6TV-ELPCZFXiQ_YAf8Ar8/view?usp=sharing

Hope this is what you have asked.
P.S: I am not an ember expert. Just learning.

[2020-01-02 19:41] chancancode commented on #1123
@vigneshrajarr that is great! it seems like this is a named outlet called `{{outlet "modal"}}` on the `application.hbs` template, but rendered by the "home.trialexpired" route. I am guessing, in `app/routes/home/trialexpired.js`, there is an overridden `renderTemplate()` method that renders a template, something along the lines of:

[code]

And then, when you close the modal, I think there is prob

[2020-01-03 16:30] Turbo87 opened #1124 "TypeError: Cannot read property 'recognizer' of undefined"
## Issue and Steps to Reproduce

[code]

## Your environment

Ember v3.14.1 on Chrome (http://localhost:4200/tests/) running the app using `ember serve`

[2020-01-08 02:18] afzal273 opened #1125 "Component inspector description headers are [object Object]"
## Issue and Steps to Reproduce
- Following ember guides for version 3.15 on Mac and Chrome version 79.0.3945.88, inspector version 3.13.1.
- When inspecting `Rental` component after Own Properties, the description just goes [object Object], screenshot attached.

## Screenshots
![2020-01-07_18-14-33](https://user-images.githubusercontent.com/8137882/71944902-11a4b700-317a-11ea-90d9-9b2889fac352.pn

[2020-01-08 02:33] afzal273 opened #1126 "Cannot read property 'PrototypeMixin' of undefined (in component inspector)"
## Issue and Steps to Reproduce
- Using Ember v3.15 on OSX, Chrome version 79.0.3945.88, Ember inspector v 3.13.1.
- Following ember guides super rental tutorial.
- On clicking the parens next to args in own properties, it shows an error in console - Cannot read property 'PrototypeMixin' of undefined. Screen capture attached.

## Screenshots
![2020-01-07_18-27-37](https://user-images.githubusercon

[2020-01-08 02:40] afzal273 opened #1127 "Cannot inspect args for certain components"
## Issue and Steps to Reproduce
- Using Ember v3.15 on OS X, Chrome version 79.0.3945.88, Ember inspector v 3.13.1.
- Following ember guides super rental tutorial.
- Cannot inspect args for `Rental` component, parens are showing as empty in inspector and on clicking `$E` it shows ember proxy, so not sure where to find args in there. (screen capture attached)
- Also for certain components (`Rental:

[2020-01-08 03:10] chancancode commented on #1125
This is expected behavior as it’s the toString() output on glimmer components. We can think about ways to improve it though.

[2020-01-08 03:11] chancancode commented on #1127
The component probably isn’t showing up because it is a template-only component and therefore doesn’t have an instance

[2020-01-08 03:35] afzal273 commented on #1127
I see, so if it is a template-only component then you have to click on the top right of the pane to see details? But that shouldn't be the case IMO, the user should be able to see details on clicking a component name regardless of what kind it is.

I can't inspect arguments for any component by clicking `$E` (if it's a template-only or not - in this example rental is a template only component and

[2020-01-14 08:39] sdahlbac opened #1133 "Inspector breaks geocaching.com"
Don't know exactly why, but having ember inspector enabled makes the geocaching.com site not working properly.

When enabled, I get warnings like
[code]
 in the console.

## Issue and Steps to Reproduce

  - install ember inspector
  - navigate to e.g. https://coord.info/GC8J068 (might need an account...)
  - the map is not rendered
  - logs are not loaded

I guess one workaround is to only enable

[2020-01-14 13:30] rwwagner90 commented on #1133
I'm not really sure how just having, and not using Ember Inspector would cause issues. If you do not open up Ember Inspector, it should not cause any problems. If it is trying to run on every site before you click the Ember tab, we probably need to look into that.

[2020-01-14 14:36] sdahlbac commented on #1133
I don't really understand either but:

If I have the inspector set to click to enable, before clicking the page works, after enabling the site no longer works. (This is not an ember app AFAIK)

![inspector-click-to-enable](https://user-images.githubusercontent.com/659363/72352767-854f4280-36eb-11ea-9df0-92233f02e665.gif)

If I have the extension enabled on all sites

![image](https://user-images.g

[2020-01-14 15:05] rwwagner90 commented on #1133
Is on all sites the default? I think we need to make it be when you click the extension.

[2020-01-14 17:57] sdahlbac commented on #1133
I don't remember changing it manually, but I guess it is possible that I remember poorly.

[2020-01-16 20:02] chancancode opened #1134 "Investigate canary failures"
This seems to be caused by https://github.com/emberjs/ember.js/pull/18621

[2020-01-20 21:23] efx opened #1136 "injected script breaks browser default XML presentation"
As a developer, I use web-browsers to visually inspect XML. Ember inspector injects a script tag that breaks the default browser presentation of the XML.

## Issue and Steps to Reproduce

  - navigate to [https://blog.emberjs.com/feed.xml](https://blog.emberjs.com/feed.xml) in Firefox
  - Observe how the page appears as plaintext instead of formatted XML

I believe this occurs because we indiscrim

[2020-01-20 22:01] chancancode commented on #1136
Hm we should definitely check the document type and inject it conditionally!

[2020-01-21 00:57] rwwagner90 commented on #1136
@chancancode better yet, we should only run inspector when you click the inspector tab.

[2020-01-21 14:48] chancancode commented on #1136
As things are designed today, this particular script tag has to be injected eagerly to allow the inspector to possibly run later. We can add UI to change which sites to run on, but unless we require a refresh to activate the inspector this isn’t really avoidable at the moment.

[2020-01-21 14:53] rwwagner90 commented on #1136
@chancancode yeah not sure if there is a good solution, but it would be ideal. There have been several reports of this breaking non-Ember sites in some way.

[2020-01-21 18:09] efx commented on #1136
For this case, I'm entirely happy with inferring the mime type of the page.

[2020-01-22 06:46] chancancode commented on #1136
@efx that’s probably the fix we can do in the medium term. I don’t know if chrome/firefox let you request that a content script to be injected only on html pages in the manifest. If they do, that’s great. If not, it’s not a big deal, we would just have to detect the document type in the content script and guard the script tag injection accordingly. If you or someone else is able to send a PR, it s

[2020-01-27 22:05] arthur5005 commented on #1120
Explanation is helpful. How goes the battle though?

[2020-01-28 19:47] #1136 closed

[2020-02-08 00:44] #1134 closed

[2020-02-08 00:44] chancancode commented on #1133
I think this is probably fixed by #1136 (need to cut a release)

[2020-02-08 00:46] chancancode opened #1139 "Privacy Policy"
Nightly builds are failing (Chrome):

[code]

This probably blocks cutting the next release.

[2020-02-08 02:43] rwwagner90 commented on #1139
@chancancode I believe Firefox is unhappy with us as well. I don't think we should be publishing nightly versions perhaps. When we were manually cutting releases, we did not have these issues.

[2020-02-08 02:45] rwwagner90 commented on #1133
@chancancode didn't #1136 only fix XML documents?

[2020-02-10 17:50] brandynsparks opened #1140 "Route Tab not displaying anything - 3.15"
Hi there,

Ever since I updated from 3.0 to 3.15 my ember inspector will not display anything in the routes tab.  I have tried with a couple other projects and it seems that they work in 3.0 but not 3.15.  Any thoughts on why this could be?
![image](https://user-images.githubusercontent.com/2691253/74175417-6f09a900-4bfb-11ea-98f5-c6359a1d4808.png)

[2020-02-10 17:53] #1140 closed

[2020-02-10 18:31] rwwagner90 commented on #1140
@brandynsparks did you solve your issue?

[2020-02-10 19:26] brandynsparks commented on #1140
@rwwagner90 No I did not.  I still can't get it to work on this one project.  But I think it has to do with something that got messed up while I was cloning the project.  I don't think it is an issue with the "Ember Inspector" but rather my code instead.

[2020-02-10 20:30] BenReilly commented on #1120
Just wondering if there's any progress here.

[2020-02-10 22:34] chancancode commented on #1120
@wycats has a fix, should be up sometime this week

[2020-02-10 22:40] chancancode commented on #1133
It fixes the problem for anything that is not an HTML document. The problem in this case is an SVG document.

[2020-02-10 22:42] chancancode commented on #1139
It is not related to publishing nightly builds or not. This is a new requirement from the Chrome Web Store. Publishing manually wouldn't make a difference, we would just have found out about the problem much later without the nightly builds. Either way, both the nightly and the main inspector extension is marked as not publishable until this is resolved.

[2020-02-11 13:48] rwwagner90 commented on #1139
@chancancode I was talking about Firefox. Never had an issue with publishing before, and now they are wanting a bunch of info like how to produce the minified output, what fastboot-fetch is etc.

[2020-02-11 13:51] rwwagner90 commented on #1133
@chancancode oh I had thought the fix only checked specifically for XML, that sounds like this should be fixed then.

[2020-02-12 19:39] NullVoxPopuli opened #1142 "Implement Keyboard Navigation in the Component Tree"
## Issue and Steps to Reproduce

  - Describe your issue, stack trace, etc.

Left, Down, Up, Right arrows do not close, move down, move up, or open the component tree

  - Can you tell us how to reproduce it? Is there a site we can go to, [Ember Twiddle](https://ember-twiddle.com), [CodeSandbox](https://codesandbox.io)?

Point at component, try navigating via arrow keys

## Your environment

Ember

[2020-02-12 22:50] chancancode commented on #1139
We don't publish nightly builds to AMO (I would like to, but we haven't worked out how to make it work yet), so it's not related. Generally, the browser vendors are all tightening up the requirements for extensions. Given what they have access to and what they can do, I think it's good that they do that, we'll just have to work with them on these issues.

Anyway, I'll work on this with @wycats nex

[2020-02-12 23:55] rwwagner90 commented on #1139
Yes, I replied, but have not heard back yet.

[2020-02-13 19:14] #1120 closed

[2020-02-14 09:11] mydea opened #1143 "No render times shown on Firefox"
When using the "Render performance" section in Firefox (latest Ember Inspector version), no render times are shown at all for me. I see entries coming in, but "Render time" is always "-". It works for the same app in Chromium for me.

## Issue and Steps to Reproduce

- Go to "Render performance" in Firefox
- Click "Reload...." to start capturing render performance
- See items come in, but they hav

[2020-02-18 18:16] joshjeppson opened #1145 "Inspector breaks filestack.com account dashboard"
## Issue and Steps to Reproduce

 - install ember inspector
 - go to https://www.filestack.com/
 - sign up for an account and login
 - none of the graphs are rendered, some links break, etc.
 - similar to issue #1133 - workaround of enabling for specific sites only is not viable given that localhost is not considered a valid web address
 - I initially opened an issue with Filestack themselves. The

[2020-02-18 18:20] chancancode commented on #1145
Will try to cut a new release this week

[2020-02-19 01:07] chancancode commented on #1139
We added the following to the Chrome Web Store developer dashboard:

* * *

### SINGLE PURPOSE

**Single Purpose Description:** Tool for debugging Ember applications.

### PERMISSION JUSTIFICATION

**Host Permission**: This extension runs code on every page to detect the presence of Ember applications and provide debugging functionality in the presence of an Ember application.

**Remote Code**: Th

[2020-02-19 17:46] rwwagner90 commented on #1139
Awesome, thanks @chancancode! Do we need to do something similar for FF?

[2020-02-19 18:03] chancancode commented on #1139
I don’t _think_ so, the extension was still listed as approved, I guess we will find out when publishing it again

[2020-02-22 00:29] chancancode opened #1148 "Upgrade to latest ember-{source,cli,data}"
Our daily build just failed because the browser took too long to start. In recent ember-cli, it changed the default in testem.js to set a longer timeout, so it should have with that (on top of just generally good to be using the latest stable release).

[2020-02-22 12:02] rwwagner90 commented on #1148
@chancancode do you want me to update things or should we leave for new contributors?

[2020-02-24 23:22] chancancode commented on #1148
@rwwagner90 up to you! if you have time definitely feel free to do it, I'm just adding the label in case someone else wants to pick it up

[2020-02-24 23:23] chancancode commented on #1145
Hi @joshjeppson! We released a new version that should have fixed the issue, it's been published to the chrome/firefox store and should auto-update in your browser. Can you give it a try? I'll close this issue for now, if you are still experiencing the issue after the update, please comment here and I'll reopen the issue.

[2020-02-24 23:23] #1145 closed

[2020-02-24 23:24] chancancode commented on #1139
We are published on the Chrome store again!

[2020-02-24 23:24] #1139 closed

[2020-02-24 23:24] chancancode commented on #1133
Hi @sdahlbac! We released a new version that should have fixed the issue, it's been published to the chrome/firefox store and should auto-update in your browser. Can you give it a try? I'll close this issue for now, if you are still experiencing the issue after the update, please comment here and I'll reopen the issue.

[2020-02-24 23:24] #1133 closed

[2020-02-24 23:26] chancancode commented on #1120
Hi @ufthelp @BenReilly @peyloride @arthur5005! We released a new version that should have fixed the issue, it's been published to the chrome/firefox store and should auto-update in your browser. Can you give it a try? I'll close this issue for now, if you are still experiencing the issue after the update, please comment here and I'll reopen the issue.

[2020-02-25 14:25] Windvis commented on #1148
I'll give it a go!

[2020-02-25 22:46] arthur5005 commented on #1120
@chancancode doing Godfrey's work! Works great now, thanks you so much 🙏.

[2020-02-25 23:52] #1148 closed

[2020-02-28 13:34] sandstrom opened #1152 "CSP warning for inline stylesheet"
**This isn't a big problem, the only drawback is the warning itself + styles aren't injected. Just wanted to note this issue here with details, in case others are curious.**

***

A CSP warning is emitted when trying to inject an inline stylesheet, if `unsafe-inline` isn't permitted in the styles directive.

Also not sure why CSP limits a browser extension, I would have expected them to be "out of

[2020-02-28 16:13] rwwagner90 commented on #1152
@sandstrom just to confirm, you have ember-cli-content-security-policy installed in your app?

[2020-03-02 09:38] sandstrom commented on #1152
Yeah, but I could get the same error using my own CSP tag too.

Perhaps switching to this API would help?
https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/tabs/insertCSS

This page has some more details about CSP in extensions (last few sections):
https://developer.chrome.com/extensions/contentSecurityPolicy

[2020-03-02 13:54] rwwagner90 commented on #1152
@sandstrom I think what I am saying is we don't have a CSP on inspector, but it does run kind of inside your app, so I think your app's CSP is bleeding over. You may need to add entries for inspector in your app's CSP for when running in dev mode.

Thoughts on this @chancancode?

[2020-03-02 14:43] sandstrom commented on #1152
@rwwagner90 Yeah, that works.

I've updated the top comment with some more details.

I think the issue may be how the extension is executing JS on the page. But not sure it's worth fixing. The lack of styling doesn't have any discernible downside.

[2020-03-03 16:09] kangax commented on #1142
Would love to have this as well. Coming from React devtools, this is much needed for quick navigation within a tree (including collapsing/expanding subtrees).

[2020-03-03 18:19] rwwagner90 commented on #1142
@NullVoxPopuli @kangax do either of you have time to give implementing this a try? I'm happy to help with guidance on how it could be implemented, but I won't be able to take a look at it myself for at least a couple weeks.

[2020-03-05 18:14] nummi commented on #1142
I'll take it. :wave:

[2020-03-07 03:42] nummi commented on #1142
@NullVoxPopuli https://github.com/emberjs/ember-inspector/pull/1153 — if you have time please review!

[2020-03-07 14:21] #1142 closed

[2020-03-07 14:22] NullVoxPopuli commented on #1142
@nummi I can provide feedback once released. My weekend computer isn't great at dev yet. (still trying to figure that out)

[2020-03-09 19:23] nummi commented on #1127
Not opening the inspector or closing always feels like unexpected behavior. Perhaps would should keep the inspector open but have a message explaining that template-only components don't have an instance?

[2020-03-10 18:10] nummi opened #1156 "Cannot navigate to Data tab"
## Issue and Steps to Reproduce

- Go to https://deprecations.emberjs.com/
- Try to click Data tab
- :boom: cannot navigate to Data tab

I think there is an issue when no models or data have been loaded. If you navigate to one of the deprecation pages the Data tab works.

[2020-03-12 10:36] sandstrom commented on #1152
I think one solution may be to inline the style on the HTML elements, before inserted.

Something like this:

[code]

Since the styles are basically 1:1 with a few specific elements anyway, this shouldn't affect maintainability much at all. I think it would circumvent the style inline-eval warning.

[2020-03-13 19:28] wellington1993 opened #1158 "Firefox Nightly: Content Security Policy: The page’s settings blocked the loading of a resource at inline (“script-src”)"
## Issue and Steps to Reproduce

  - Try search on google
  - Get Ember inspector addon error in browser console
  - And can't see google search results

Links:
https://www.google.com/search?newwindow=1&client=firefox-b-d&sxsrf=ALeKk03nSJjNh6tFcy8xukH0BWNDjzapHQ:1584126596986&q=meu.inss.gov.br+login&sa=X&ved=2ahUKEwjKq964k5joAhViK7kGHTyHBF4Q1QIoAXoECAEQAg

## Your environment

Add-on: 3.13.2
Firef

[2020-03-13 20:30] chrisvdp opened #1159 "Proposal: Add Application Configuration Information"
First up, thanks for the great tool. It's saved me so much time over the years!

**Problem**
I need to see how my application is configured in production or other environments. This configuration information is stored in an URL encoded format in one or more `<meta>` tags in the `<header>` of my app. This config is not easily readable by humans in it's stored format.

**Solution**
Add an applicatio

[2020-03-30 21:55] LukeClancy opened #1164 "Unable to detect ember sites, inspect elements"
**Describe the bug**
Unable to detect ember sites sometimes (look at top right):
![image](https://user-images.githubusercontent.com/15352748/77965108-339f6880-7295-11ea-8546-096e676934b4.png)

Other times detection works, but (right clicking page) -> (inspect ember component) does not do anything:

![image](https://user-images.githubusercontent.com/15352748/77965691-685fef80-7296-11ea-91ba-8c1f8b6

[2020-04-02 20:43] SYU15 opened #1169 "Make arguments in the component tree inspectable"
Right now only primitives are supported, any objects render as `...`. This will require exploring a few UX options to make sure that it makes sense to the developer/isn't too cumbersome to inspect these arguments vs the entire row.

![Screen_Shot_2020-04-02_at_1 31 08_PM](https://user-images.githubusercontent.com/10149117/78298743-c33c5580-74e7-11ea-8c61-c0e4cbe89862.png)

[2020-04-02 21:59] rwwagner90 commented on #1169
Hi @SYU15! I think @chancancode and I had decided that anything more complex than primitives would require opening the object inspector for the whole row. Perhaps we could still do that, but go one level deeper into the property?

[2020-04-02 22:07] chancancode commented on #1169
The idea is indeed to open the object inspector. However, opening the object inspector on the component instance isn't necessarily helpful, and in the case of template-only components, there is no component instance to inspect. We chatted on Discord a little, the idea is that when clicking on the `...` it will send that object to the object inspector, similar to what you said.

There are some pote

[2020-04-03 00:54] SYU15 commented on #1169
Yeah @rwwagner90 I will prototype a few different flows and create a WIP PR and we can figure out which one provides the best user experience.

[2020-04-03 21:27] joshjeppson commented on #1145
This does appear to solve the issue. Thanks so much!

[2020-04-05 00:19] nummi commented on #1169
<img width="496" alt="image" src="https://user-images.githubusercontent.com/3692/78463971-7d72bf00-7698-11ea-898e-68f3cb1fd462.png">

[2020-04-05 15:45] rwwagner90 commented on #1164
@chancancode @nummi do we want to support all Linux distros? I think an infinite support matrix could get hairy. I have never heard of `linux Pop!`, so I am not sure how to debug.

[2020-04-05 15:49] nummi commented on #1164
Is this really a system bug? I feel like this would be scoped to the browser.

[2020-04-05 17:04] nummi commented on #1164
Emberjs.com:

<img width="340" alt="image" src="https://user-images.githubusercontent.com/3692/78504879-945ef300-7724-11ea-9de2-d5f644ffb7d7.png">

Neither of these work for me:
<img width="270" alt="image" src="https://user-images.githubusercontent.com/3692/78504909-c1130a80-7724-11ea-8dce-3ffa4a880754.png">

[2020-04-05 18:26] rwwagner90 commented on #1164
@nummi `inspect ember component` has never really worked. It works if you have inspector open already, but does not open inspector for you anymore, for whatever reason.

As for the message about running Ember.js or not, I am unsure what detects that, but inspector still works, despite the message.

[2020-04-05 19:56] chancancode commented on #1164
I agree it’s unlikely to do with the OS and they are kind of “known” issues. If we don’t already have one lets make a stand-alone issue for each of these bugs. Given time I think we know how to fix them.

[2020-04-06 09:47] emattias opened #1171 "Filter out object properties by property name filter/search"
It would be useful to filter properties on an object in the object inspector sidebar.

Something like this:

![CleanShot 2020-04-06 at 11 41 56@2x](https://user-images.githubusercontent.com/351537/78545364-f8a0b600-77fb-11ea-8e9a-5eb20491dd56.png)

Similar to how you can filter in other places in devtools. Ex:

![CleanShot 2020-04-06 at 11 45 21](https://user-images.githubusercontent.com/351537/78

[2020-04-06 16:22] rwwagner90 commented on #1171
I definitely agree. This is a great feature suggestion!

[2020-04-07 00:16] ansmonjol commented on #1171
Hello @emattias,

Great idea !

I've started to work on that feature. The way it works for now is:
If the user start typing a custom search, he's redirected to the "All" filter section and a filter is applied on the object properties displayed (flat).

[This MR](https://github.com/emberjs/ember-inspector/pull/1172) is still a "work in progress" and I've written what I need to improve in a dedicate

[2020-04-07 17:15] ansmonjol commented on #1171
Clear button is now implemented, you can test by using this branch version: https://github.com/ansmonjol/ember-inspector/tree/filter-object-property

Tests are still missing.

Also questioning myself about the current behaviour.
When typing a value in the input, the user is switched to the "All" filter.
Then he's able to switch back manually to the "Grouped" filter.
It currently show the attribute

[2020-04-07 22:47] nummi commented on #1171
I'm guessing this would be difficult with the current implementation but I would expect the grouped view to expand the grouping if a match is found.

[2020-04-08 09:56] ansmonjol commented on #1171
Agree with you @nummi !

It's done here https://github.com/emberjs/ember-inspector/pull/1172/commits/b82218e61fcab5dbd52dabf7902871a162515db6#diff-fa24e8e76afe9d0c18545f325e0f8f4cR5
Then we do not have inconsistency between the two "All" and "Grouped" views :)

[2020-04-08 21:19] ansmonjol commented on #1171
The solution I linked above seems to break some tests, regarding computed usage.

Trying to fix, but if it takes too much time I will probably got for the first option described, and try to do the filter in "Grouped" view later.

[2020-04-11 22:10] ansmonjol commented on #1171
I've made the solution 1 from this comment https://github.com/emberjs/ember-inspector/issues/1171#issuecomment-610513112

I've tested the custom filter behaviour but I have an error while clicking on a button.
I've difficulties to find the root cause and how to fix it.
Note that it works locally if I check the `Hide container` option while running tests.
Can someone help ?

Here is the failing tes

[2020-04-16 21:47] evanb2 commented on #988
Any update on this? It's been a year and this seems like a pretty big security issue...

[2020-04-16 21:57] evanb2 commented on #988
I was able to reproduce @koushik-radhakrishan 's issue locally. Refreshing the page with the inspector open will show the application data.

[2020-04-16 23:06] jenweber commented on #988
If someone wants to reverse engineer a front end, the presence or absence of the Ember inspector both lead to the same result. As soon as front end code is served to the browser, it’s able to be deconstructed - this is true of any SPA for any framework. For apps that need to protect their source code itself, it’s best to require a login first and then serve up the front end app code, so that at le

[2020-04-17 00:16] rwwagner90 commented on #988
Well said @jenweber! I think we should close this for now.

[2020-04-17 00:16] #988 closed

[2020-04-17 08:03] siva-sundar opened #1173 "Error message: routeHandler.get is not a function"
**Describe the bug**

Getting the following error while switching to the Routes tab of the inspector. No data is being shown on the Routes tab due to this error.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Ember inspector
2. Click on Routes
3. See the error `routeHandler.get is not a function` on the console.

**Screenshots**
![image](https://user-images.githubusercontent.com/152589

[2020-04-17 14:32] rwwagner90 commented on #1173
The relevant code for this is here https://github.com/emberjs/ember-inspector/blob/f1ab36afb6abcdba53fb0180af5ed0203432dd73/ember_debug/route-debug.js#L166

@chancancode @pzuraq any reason why `getHandler` would be giving back a result that does not have a `get` method?

[2020-04-18 16:28] #1171 closed

[2020-04-18 17:06] rwwagner90 commented on #1127
I would be on board with @nummi's suggestion unless you have any other ideas @chancancode?

[2020-04-18 17:54] nummi commented on #1127
Maybe we should have a separate section in the inspector to display args?

[2020-04-18 19:18] chancancode commented on #1127
Yeah I am fine with that. For the template-only component case, maybe something like "This component does not have a JavaScript instance"? For args, probably should wait for @SYU15's PR and revaluate, but I think having a section for them in the object inspector sounds find _in addition_ to making them clickable.

[2020-04-18 19:23] chancancode commented on #1127
An alternative for the template-only component case is to make clicking on the row not automatically open the object inspector, and make that one of the buttons instead (which can be disabled with a tooltip), but I guess that crosses into what @SYU15 is looking into.

My main (not very strong) concern is that, while it seems fine to open the object inspector with the message in the case where you

[2020-04-20 00:36] SYU15 commented on #1127
I have my WIP PR for args here: https://github.com/emberjs/ember-inspector/pull/1175

Happy to discuss what the implications are for `template-only` components. I guess the `args` could be the only piece you can interact with (if I am understanding that @chancancode is saying).

[2020-04-23 20:09] VasylMarchuk commented on #1140
I have been facing this issue forever by the way, and I have always assumed this happens because my projects usually hevily rely on `ember-engines`.

<img width="672" alt="Знімок екрана 2020-04-23 о 23 07 33" src="https://user-images.githubusercontent.com/493875/80144567-6b10e480-85b7-11ea-9232-5e38ccab74d0.png">